<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/jer-core.css">
    <title>Ants</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>  
    </header>
    <section class="simple-section tinted">
      <div class="content-section centered">
        <h2>Ant species (Hymenoptera: Formicidae) of the Jornada</h2>
        <h4>Important Statistics</h4>
        <p>Number of species in North America: 751<br>Number of species on the Jornada Experimental Range: 74<br>Number of new species recently described on the Jornada Experimental Range: 4</p>
        <h4>Notes</h4>
        <p>JRN is an exceptionally species rich site (at about 10% of the entire North American fauna). This is probably due to the intensity of work here but also due to the geographic position of the area and the diversity of ant habitats.</p>
        <p>Creosotebush-dominated (<i>Larrea tridentata</i>) communities, especially on the Summerford bajada, are the most species rich habitats in JRN. This plant community type is also the source of several newly described species.</p>
        <div class="species-table-container">
          <table class="species-table">
            <tbody>
              <tr>
                <th>Species</th>
                <th>Notes</th>
              </tr>
              <tr>
                <td><b>Subfamily <i>Ponerinae</i></b></td>
                <td></td>
              </tr>
              <tr>
                <td><i>Hypoponera opacior</i> (Forel)</td>
                <td></td>
              </tr>
              <tr>
                <td><b>Subfamily <i>Cerapachyinae</i></b></td>
                <td></td>
              </tr>
              <tr>
                <td><i>Acanthostichus punctiscapus</i> MacKay</td>
                <td>Type locality, from <i>Larrea tridentata community</i></td>
              </tr>
              <tr>
                <td><i>Cerapachys davisi </i>M. Smith</td>
                <td>Locally rare, from <i>Larrea tridentata</i> community</td>
              </tr>
              <tr>
                <td><b>Subfamily <i>Ecitoninae</i></b></td>
                <td></td>
              </tr>
              <tr>
                <td><i>Neivamyrmex</i><i> fallax</i> Borgmeier</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Neivamyrmex harrisii</i> (Haldeman)</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Neivamyrmex macropterus</i> Borgmeier</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Neivamyrmex minor</i> (Cresson)</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Neivamyrmex nigrescens (Cresson)</i></td>
                <td></td>
              </tr>
              <tr>
                <td><i>Neivamyrmex swainsonii</i> (Shuckard)</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Neivamyrmex texanus</i> Watkins</td>
                <td></td>
              </tr>
              <tr>
                <td><b>Subfamily <i>Myrmicinae</i></b></td>
                <td></td>
              </tr>
              <tr>
                <td><i>Aphaenogaster cockerelli</i> Andre</td>
                <td>Genus used to be <i>Novomessor</i></td>
              </tr>
              <tr>
                <td><i>Aphaenogaster punctaticeps</i> MacKay</td>
                <td>Type locality, from <i>Larrea tridentata</i> community</td>
              </tr>
              <tr>
                <td><i>Crematogaster californica</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Crematogaster cerasi</i> (Fitch)</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Crematogaster depilis</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Crematogaster hespera</i> Buren</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Crematogaster larreae</i> Buren</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Crematogaster opuntiae</i> Buren</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Crematogaster punctulata</i> Emery</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Cyphomyrmex wheeleri</i> Forel</td>
                <td>Rare, from <i>Larrea tridentata</i> community</td>
              </tr>
              <tr>
                <td><i>Monomorium cyaneum</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Monomorium minimum</i> (Buckley)</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pheidole cerebrosior</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pheidole desertorum</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pheidole hyatti</i> Emery</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pheidole militicida</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pheidole obtusospinosa</i> Pergande</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pheidole rugulosa</i> Gregg</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pheidole sciophila</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pheidole tepicana</i> Pergande</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pheidole tetra</i> Creighton</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pheidole tucsonica</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pheidole xerophila</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pogonomyrmex apache</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pogonomyrmex barbatus</i> (Smith)</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pogonomyrmex californicus</i> (Buckley)</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pogonomyrmex desertorum</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pogonomyrmex imberbiculus</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pogonomyrmex maricopa</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pogonomyrmex rugosus</i> Emery</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Pogonomyrmex texanus</i> Francke&amp;Merickel</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Rogeria foreli </i>Emery</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Solenopsis amblychila</i> Wheeler</td>
                <td>There may be confusion between <i>aurea</i> and <i>amblychila</i></td>
              </tr>
              <tr>
                <td><i>Solenopsis aurea</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Solenopsis krockowi</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Solenopsis pergandei</i> Forel</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Solenopsis xyloni</i> McCook</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Solenopsis</i> sp. nov.</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Temnothorax bestelmeyeri</i> Mackay</td>
                <td>Genus used to be <i>Leptothorax</i>; Type locality, from <i>Larrea tridentata</i> community</td>
              </tr>
              <tr>
                <td><i>Temnothorax colleenae</i> Mackay</td>
                <td>Type locality, from <i>Larrea tridentata</i> community</td>
              </tr>
              <tr>
                <td><i>Temnothorax neomexicanus</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Temnothorax olbiquicanthus</i> Cole</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Temnothorax pergandei</i> Emery</td>
                <td>Locally rare, from <i>Larrea tridentata</i> community</td>
              </tr>
              <tr>
                <td><i>Tetramorium hispidum</i> (Wheeler)</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Trachymyrmex smithi</i> Buren</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Tranopelta</i> sp.</td>
                <td></td>
              </tr>
              <tr>
                <td><b>Subfamily <i>Dolichoderinae</i></b></td>
                <td></td>
              </tr>
              <tr>
                <td><i>Dorymyrmex bicolor</i> Wheeler</td>
                <td>Genus used to be <i>Conomyrma</i></td>
              </tr>
              <tr>
                <td><i>Dorymyrmex flavus</i> McCook</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Dorymyrmex insanus</i> (Buckley)</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Forelius mccooki </i>McCook</td>
                <td>Genus used to be <i>Iridomyrmex</i></td>
              </tr>
              <tr>
                <td><i>Forelius pruinosus</i> (Roger)</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Liometopum apiculatum</i> Mayr</td>
                <td></td>
              </tr>
              <tr>
                <td><b>Subfamily <i>Formicinae</i></b></td>
                <td></td>
              </tr>
              <tr>
                <td><i>Brachymyrmex depilis</i> Emery</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Camponotus festinatus</i> (Buckley)</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Camponotus ulcerosus</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Formica perpilosa</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Myrmecocystus depilis</i> Forel</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Myrmecocystus mexicanus</i> Wesmael</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Myrmecocystus mimicus</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Myrmecocystus navajo</i> Wheeler</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Myrmecocystus placodops</i> Forel</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Myrmecocystus romainei</i> Snelling</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Paratrechina terricola</i> (Buckley)</td>
                <td></td>
              </tr>
              <tr>
                <td><i>Paratrechina vividula</i> (Nylander)</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>  
    </footer>
  </body>
  <script src="/assets/js/jer-core.js" type="text/javascript"></script>
</html> 