<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/jer-core.css">
    <title>Mammals</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>  
    </header>
    <section class="simple-section tinted">
      <div class="content-section centered">
        <h2>Mammal Species of the Jornada</h2>
        <div class="species-table-container">
          <table class="species-table">
            <tbody>
              <tr>
                <th>Species</th>
                <th>Code</th>
                <th>Common name</th>
              </tr>
              <tr>
                <td><i>Notiosorex crawfordi</i></td>
                <td>NOCR</td>
                <td>Desert shrew</td>
              </tr>
              <tr>
                <td><i>Sylvilagus audubonii</i></td>
                <td>SYAU</td>
                <td>Desert cottontail</td>
              </tr>
              <tr>
                <td><i>Lepus californicus</i></td>
                <td>LECA</td>
                <td>Black-tailed jackrabbit</td>
              </tr>
              <tr>
                <td><i>Spermophilus spilosoma</i></td>
                <td>SPSP</td>
                <td>Spotted ground squirrel</td>
              </tr>
              <tr>
                <td><i>Spermophilus variegatus</i></td>
                <td>SPVA</td>
                <td>Rock squirrel</td>
              </tr>
              <tr>
                <td><i>Thomomys bottae</i></td>
                <td>THBO</td>
                <td>Botta's pocket gopher</td>
              </tr>
              <tr>
                <td><i>Perognathus flavus</i></td>
                <td>PEFL</td>
                <td>Silky pocket mouse</td>
              </tr>
              <tr>
                <td><i>Chaetodipus intermedius</i></td>
                <td>CHIN</td>
                <td>Rock pocket mouse</td>
              </tr>
              <tr>
                <td><i>Chaetodipus penicillatus</i></td>
                <td>CHPE</td>
                <td>Desert pocket mouse</td>
              </tr>
              <tr>
                <td><i>Dipodomys merriami</i></td>
                <td>DIME</td>
                <td>Merriam's kangaroo rat</td>
              </tr>
              <tr>
                <td><i>Dipodomys ordii</i></td>
                <td>DIOR</td>
                <td>Ord's kangaroo rat</td>
              </tr>
              <tr>
                <td><i>Dipodomys spectabilis</i></td>
                <td>DISP</td>
                <td>Banner-tailed kangaroo rat</td>
              </tr>
              <tr>
                <td><i>Peromyscus boylii</i></td>
                <td>PEBO</td>
                <td>Brush mouse</td>
              </tr>
              <tr>
                <td><i>Peromyscus eriicus</i></td>
                <td>PEER</td>
                <td>Cactus mouse</td>
              </tr>
              <tr>
                <td><i>Peromyscus leucopus</i></td>
                <td>PELE</td>
                <td>White-footed mouse</td>
              </tr>
              <tr>
                <td><i>Peromyscus maniculatus</i></td>
                <td>PiA</td>
                <td>Deer mouse</td>
              </tr>
              <tr>
                <td><i>Onychomys arenicola</i></td>
                <td>ONAR</td>
                <td>Mearns' grasshopper mouse</td>
              </tr>
              <tr>
                <td><i>Onychomys leucogaster</i></td>
                <td>ONLE</td>
                <td>Northern grasshopper mouse</td>
              </tr>
              <tr>
                <td><i>Neotoma albigula</i></td>
                <td>NEAL</td>
                <td>White-throated woodrat</td>
              </tr>
              <tr>
                <td><i>Neotoma micropus</i></td>
                <td>NiI</td>
                <td>Southern plains woodrat</td>
              </tr>
              <tr>
                <td><i>Mus musculus</i></td>
                <td>MUMU</td>
                <td>House mouse</td>
              </tr>
              <tr>
                <td><i>Erethizon dorsatum</i></td>
                <td>ERDO</td>
                <td>Common porcupine</td>
              </tr>
              <tr>
                <td><i>Canis latrans</i></td>
                <td>CALA</td>
                <td>Coyote</td>
              </tr>
              <tr>
                <td><i>Vulpes velox = V. macrotis</i></td>
                <td>VUVE</td>
                <td>Kit or swift fox</td>
              </tr>
              <tr>
                <td><i>Vulpes vulpes = V. fulvus</i></td>
                <td>VUVU</td>
                <td>Red fox</td>
              </tr>
              <tr>
                <td><i>Urocyon cinereoargenteus</i></td>
                <td>URCI</td>
                <td>Common gray fox</td>
              </tr>
              <tr>
                <td><i>Bassariscus astutus</i></td>
                <td>BAAS</td>
                <td>Ringtail</td>
              </tr>
              <tr>
                <td><i>Taxidea taxus</i></td>
                <td>TATA</td>
                <td>American badger</td>
              </tr>
              <tr>
                <td><i>Lynx rufus</i></td>
                <td>LYRU</td>
                <td>Bobcat</td>
              </tr>
              <tr>
                <td><i>Odocoileus hiionus</i></td>
                <td>ODHE</td>
                <td>Mule deer</td>
              </tr>
              <tr>
                <td><i>Antilocapra americana</i></td>
                <td>ANAM</td>
                <td>Pronghorn</td>
              </tr>
              <tr>
                <td><i>Oryx gazella</i></td>
                <td>ORGA</td>
                <td>Gisbok or oryx</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h4>Variable description</h4>
        <p>Species = species name<br>Code = 4 letter species code</p>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>  
    </footer>
  </body>
  <script src="/assets/js/jer-core.js" type="text/javascript"></script>
</html> 