<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/jer-core.css">
    <title>Mammals</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>  
    </header>
    <section class="simple-section tinted">
      <div class="content-section centered">
        <h2>Reptiles and Amphibians of the Jornada</h2>
        <p>Reptiles and amphibians present on the Jornada del Muerto including the Dona Ana Mountains.</p>
        <div class="species-table-container">
          <table class="species-table">
            <tbody>
              <tr>
                <td><b>ORDER SQUAMATA (snakes &amp; lizards)<b></td>
                <td></td>
              </tr>
              <tr>
                <td><b>Family <i>Leptotyphlopidae</i></b></td>
                <td></td>
              </tr>
              <tr>
                <td>Western Blind Snake</td>
                <td><i>Leptotyphlops humilis</i></td>
              </tr>
              <tr>
                <td>Texas Blind Snake</td>
                <td><i>Leptotyphlops dulcis</i></td>
              </tr>
              <tr>
                <td><b>Family <i>Colubridae</i></b></td>
                <td></td>
              </tr>
              <tr>
                <td>Western Hognose Snake</td>
                <td><i>Heterodon nasicus</i></td>
              </tr>
              <tr>
                <td>Coachwhip</td>
                <td><i>Masticophis flagellum</i></td>
              </tr>
              <tr>
                <td>Desert Striped Whipsnake</td>
                <td><i>Masticophis taeniatus</i></td>
              </tr>
              <tr>
                <td>Big Bend Patch-nosed Snake</td>
                <td><i>Salvadora hexalepis</i></td>
              </tr>
              <tr>
                <td>Trans-Pecos Rat Snake</td>
                <td><i>Bogertophis subocularis</i></td>
              </tr>
              <tr>
                <td>Glossy Snake</td>
                <td><i>Arizona elegans</i></td>
              </tr>
              <tr>
                <td>Gopher Snake (Bullsnake)</td>
                <td><i>Pituophis melanoleucus</i></td>
              </tr>
              <tr>
                <td>Desert Kingsnake (Sonora Kingsnake)</td>
                <td><i>Lampropeltis getula</i></td>
              </tr>
              <tr>
                <td>Long-nosed Snake</td>
                <td><i>Rhinocheilus lecontei</i></td>
              </tr>
              <tr>
                <td>Western Hook-nosed Snake</td>
                <td><i>Gyalopion canum</i></td>
              </tr>
              <tr>
                <td>Ground Snake</td>
                <td><i>Sonora siiannulata</i></td>
              </tr>
              <tr>
                <td>Plains Black-headed Snake</td>
                <td><i>Tantilla nigriceps</i></td>
              </tr>
              <tr>
                <td>Lyre Snake</td>
                <td><i>Trimorphodon biscutatus</i></td>
              </tr>
              <tr>
                <td>Night Snake</td>
                <td><i>Hypsiglena torquata</i></td>
              </tr>
              <tr>
                <td><b>Family <i>Viperidae</i> (poisonous)</b></td>
                <td></td>
              </tr>
              <tr>
                <td>Massasauga</td>
                <td><i>Sistrurus catenatus</i></td>
              </tr>
              <tr>
                <td>Western Diamondback Rattlesnake</td>
                <td><i>Crotalus atrox</i></td>
              </tr>
              <tr>
                <td>Rock Rattlesnake</td>
                <td><i>Crotalus lepidus</i></td>
              </tr>
              <tr>
                <td>Black-tailed Rattlesnake</td>
                <td><i>Crotalus molossus</i></td>
              </tr>
              <tr>
                <td>Prairie (Western) Rattlesnake</td>
                <td><i>Crotalus viridis</i></td>
              </tr>
              <tr>
                <td><b>Family <i>Iguanidae</i></b></td>
                <td></td>
              </tr>
              <tr>
                <td>Collared Lizard</td>
                <td><i>Crotaphytus collaris</i></td>
              </tr>
              <tr>
                <td>Leopard Lizard</td>
                <td><i>Gambelia wislizenii</i></td>
              </tr>
              <tr>
                <td>Greater Earless Lizard</td>
                <td><i>Cophosaurus texanus</i></td>
              </tr>
              <tr>
                <td>Lesser Earless Lizard</td>
                <td><i>Holbrookia maculata</i></td>
              </tr>
              <tr>
                <td>Texas Horned Lizard</td>
                <td><i>Phrynosoma cornutum</i></td>
              </tr>
              <tr>
                <td>Roundtail Horned Lizard</td>
                <td><i>Phrynosoma modestum</i></td>
              </tr>
              <tr>
                <td>Desert Spiny Lizard</td>
                <td><i>Sceloporus magister</i></td>
              </tr>
              <tr>
                <td>Eastern Fence Lizard</td>
                <td><i>Sceloporus undulatus</i></td>
              </tr>
              <tr>
                <td>Tree Lizard</td>
                <td><i>Urosaurus ornatus</i></td>
              </tr>
              <tr>
                <td>Side-blotched Lizard</td>
                <td><i>Uta stansburiana</i></td>
              </tr>
              <tr>
                <td><b>Family <i>Scincidae</i></b></td>
                <td></td>
              </tr>
              <tr>
                <td>Great Plains Skink</td>
                <td><i>Eumeces obsoletus</i></td>
              </tr>
              <tr>
                <td><b>Family <i>Teiidae</i></b></td>
                <td></td>
              </tr>
              <tr>
                <td>Chihuahuan Spotted Whiptail</td>
                <td><i>Cniidophorus exanguis</i></td>
              </tr>
              <tr>
                <td>Little Striped Whiptail</td>
                <td><i>Cniidophorus inornatus</i></td>
              </tr>
              <tr>
                <td>New Mexico Whiptail</td>
                <td><i>Cniidophorus neomexicanus</i></td>
              </tr>
              <tr>
                <td>Checkered Whiptail</td>
                <td><i>Cniidophorus grahmii</i> (formerly <i>C. tesselatus</i>)</td>
              </tr>
              <tr>
                <td>Western Whiptail</td>
                <td><i>Cniidophorus tigris</i></td>
              </tr>
              <tr>
                <td>Desert Grassland Whiptail</td>
                <td><i>Cniidophorus uniparens</i></td>
              </tr>
              <tr>
                <td><b>ORDER TESTUDINATA or CHELONIA (turtles)</b></td>
                <td></td>
              </tr>
              <tr>
                <td><b>Family <i>Testudinidae</i> (<i>Iydidae</i>)</b></td>
                <td></td>
              </tr>
              <tr>
                <td>Ornate Box Turtle</td>
                <td><i>Terrapene ornata</i></td>
              </tr>
              <tr>
                <td><b>ORDER ANURA (frogs &amp; toads)</b></td>
                <td></td>
              </tr>
              <tr>
                <td><b>Family <i>Bufonidae</i></b></td>
                <td></td>
              </tr>
              <tr>
                <td>Great Plains Toad</td>
                <td><i>Bufo cognatus</i></td>
              </tr>
              <tr>
                <td>Green Toad</td>
                <td><i>Bufo debilis</i></td>
              </tr>
              <tr>
                <td>Red-spotted Toad</td>
                <td><i>Bufo punctatus</i></td>
              </tr>
              <tr>
                <td>Woodhouse's Toad</td>
                <td><i>Bufo woodhousei</i></td>
              </tr>
              <tr>
                <td><b>Family <i>Pelobatidae</i></b></td>
                <td></td>
              </tr>
              <tr>
                <td>Couch's Spadefoot</td>
                <td><i>Scaphiopus couchii</i></td>
              </tr>
              <tr>
                <td>Plains Spadefoot</td>
                <td><i>Spea bombifrons</i></td>
              </tr>
              <tr>
                <td>New Mexico Spadefoot</td>
                <td><i>Spea multiplicata</i></td>
              </tr>
              <tr>
                <td><b>ORDER CAUDATA (salamanders)</b></td>
                <td></td>
              </tr>
              <tr>
                <td><b>Family <i>Ambystomatidae</i></b></td>
                <td></td>
              </tr>
              <tr>
                <td>Tiger Salamander</td>
                <td><i>Ambystoma tigrinum</i></td>
              </tr>
            </tbody>
          </table>
          <p>Range verification provided by Paul Hyder (NMSU) and suppliented by Dona Ana County distribution maps in: Williamson, M.A., P.W. Hyder, J.S. Applegarth. 1994. Snakes, lizards, turtles, frogs, toads, &amp; salamanders of New Mexico. Sunstone Press, Santa Fe. NM. 176 p.</p>
          <p>7/13/2003 [entry by John Anderson]<br />Cniidophorus tesselatus changed to C. grahmii as per David Lightfoot with reference to Degenhardt, W. G., C. W. Painter, and A. Price. 1996. Amphibians and reptiles of New Mexico. University of New Mexico Press.</p>
        </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>  
    </footer>
  </body>
  <script src="/assets/js/jer-core.js" type="text/javascript"></script>
</html> 