<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>About</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section id="hero" class="about-hero">
      <div id="hero-video-frame">
        <video class="hero-video active" poster="/files/images/stone-pillars.jpg" muted>
          <source src="/files/images/Jornada-1-720p.mp4" type="video/mp4">
        </video>
        <video class="hero-video" muted>
          <source src="/files/images/Jornada-2-720p.mp4" type="video/mp4">
        </video>
        <video class="hero-video" muted>
          <source src="/files/images/Jornada-3-720p.mp4" type="video/mp4">
        </video>
        <video class="hero-video" muted>
          <source src="/files/images/Jornada-4-720p.mp4" type="video/mp4">
        </video>
        <video class="hero-video" muted>
          <source src="/files/images/Jornada-5-720p.mp4" type="video/mp4">
        </video>
        <video class="hero-video" muted>
          <source src="/files/images/Jornada-6-720p.mp4" type="video/mp4">
        </video>
        <video class="hero-video" muted>
          <source src="/files/images/Jornada-7-720p.mp4" type="video/mp4">
        </video>
        <video class="hero-video" muted>
          <source src="/files/images/Jornada-8-720p.mp4" type="video/mp4">
        </video>
      </div>
      <div class="hero-attribution video-attribution">
        <span>Video by Ruben Baca</span>
      </div>
      <div id="video-title-block" class="hero-section">
        <div id="title">
          <h1>About</h1>
          <h3>
            <a href="/">Jornada Experimental Range</a>
          </h3>
        </div>
      </div>
    </section>
    <section>
      <div class="side-navigation-port">
        <nav class="side-navigation">
          <ul class="side-menu">
            <span class="side-navigation-title">Jump To:</span>
            <li><a class="side-menu-link" href="#topic-1">What is the Jornada?</a></li>
            <li><a class="side-menu-link" href="#topic-2">The Research Area</a></li>
            <li><a class="side-menu-link" href="#topic-3">History</a></li>
          </ul>
        </nav>
      </div>
      <div class="content-section centered">
        <div class="narrative-content">
          <h2 id="topic-1" class="topic-bookmark">What is the Jornada?</h2>
          <p>The USDA Agricultural Research Service (ARS), Jornada Experimental Range (formally known as the Range Management Research Unit) is one of two ARS laboratories in New Mexico and 90 labs across the US. The lab was established in 1912 and is one of the longest serving laboratories focused on rangelands and drylands in the world. The Jornada (pronounced hawr-nah-duh) operates from USDA-owned Wooton Hall on the New Mexico State University (NMSU) campus. Core funding is via discretionary Agriculture appropriations to ARS, including funding for rangeland sustainability research, the Southwest Climate Hub, and Long-Term Agroecosystem Research. Our funding is supplemented by cooperative agreements with our partners and competitive grants to ARS and NMSU, including the Jornada Basin Long-Term Ecological Research (LTER) Program. The Jornada is the only lab in the US that hosts the USDA Southwest Climate Hub, the USDA Long-Term Agroecosystem Research Network, and the National Science Foundation’s Long-Term Ecological Research, Critical Zone Observatory, and National Ecological Observatory Networks.</p>
          <h2 id="topic-2" class="topic-bookmark">The Jornada Experimental Range Research Area</h2>
          <p>The ARS owns and operates the Jornada Experimental Range (JER), a 300 square mile fenced research area and the largest contiguous land holding of the ARS. In addition to Jornada-led research dating to 1912, the Jornada facilitates use of JER by a wide range of researchers from universities across the U.S., on topics including geology, pedology, hydrology, microbial ecology, plant and wildlife ecology, weed science, animal science, atmospheric science, and UAV, LiDAR, satellite, and ground sensor technologies. The JER is used to represent arid drylands in numerous national and global networked studies. The JER is among the most intensively studied and densely instrumented environmental research areas in the world. The density and diversity of open data from Jornada, alongside our support of researcher access, accelerates research innovations and continually attracts new studies and funding.</p>
          <h2 id="topic-3" class="topic-bookmark">History of the Jornada Unit</h2>
          <p>The Jornada research unit began on the ranch of Charles Travis Turney at what is now the Jornada Experimental Range. In 1912, Turney held deed to about a half section of land (120  ha) and nine wells that provided grazing rights to over 80,000 ha on the Jornada Plain for his 4,000 to 5,000 head of cattle. Turney had become one of the prominent ranchers in the area and established a rapport with Elmer Otis Wooton on the benefits of rangeland research.</p>
          <p>Wooton, a professor at New Mexico College of Agriculture and Mechanical Arts in Las Cruces, had spent years documenting rangeland conditions across New Mexico, diagnosed causes of rangeland degradation, and initiated experiments to determine proper management principles, but he was frustrated by the lack of a suitably large area for research that would have application to the large ranches typical in the Southwest.</p>
          <p>Wooton left Las Cruces in 1911 to serve as an agricultural economist for the U.S. Department of Agriculture in Washington, D.C. From this post he orchestrated the creation of the Jornada Range Reserve in 1912 from withdrawn, public-domain lands surrounding Turney's scattered holdings on the Jornada. President Taft signed Executive Order 1526, creating the Jornada Range Reserve 124 days after New Mexico was awarded statehood.</p>
          <p>Established within the USDA's Bureau of Plant Industry, Wooton returned to New Mexico to oversee the reserve's establishment, and Turney directed the livestock operation as a collaborator until 1925. In 1915 the Jornada Range Reserve was transferred from the Bureau of Plant Industry to the U.S. Forest Service. In 1954 what had been renamed the Jornada Experimental Range was transferred from the Forest Service to the Agricultural Research Service (ARS).</p>
          <div class="narrative-figure">
            <img class="narrative-figure-image" src="/files/images/soil-pit-jer.jpg" alt="Men digging a soil pit">
            <div class="narrative-figure-caption">
              <span>Men digging a soil pit on the Jornada Experimental Range, April 28, 1936.</span>
            </div>
          </div>
          <p>Over its 110 year history, the Jornada has served as a laboratory dedicated to agroecosystem research. The research program has expanded over time but maintained its core focus on science in support of conservation and management of land and its resources. Turney and Wooton laid the foundation for the continual development of scientific concepts, datasets, and tools that are the basis for understanding arid ecosystems and land management principles that are applied worldwide.</p>
        </div>
      </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>
    </footer>
  </body>
  <script src="/js/jer-side-navigation.js" type="text/javascript"></script>
  <script src="/js/jer-video-loop.js" type="text/javascript"></script>
  <script src="/js/jer-core.js" type="text/javascript"></script>
</html> 
