<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/leaflet.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/jer-core.css">
    <script src="/assets/js/leaflet.js" type="text/javascript"></script>
    <script src="/assets/js/esri-leaflet.js" type="text/javascript"></script>
    <script src="/assets/js/esri-leaflet-vector.js" type="text/javascript"></script>
    <title>Contact Us</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section id="hero" style="background-image: url('/assets/images/wooten-hall-jer.jpg');">
      <div id="title-block" class="hero-section">
        <div id="title">
          <h1>Contact Us</h1>
          <h3><a href="/">Jornada Experimental Range</a></h3>
        </div>
      </div>
    </section>
    <section id="contacts">
      <div class="content-section">
        <div class="contact-container">
          <div class="contact-block">
            <h2>Phone Numbers</h2>
            <h5>Main Office:</h5>
            <p>Tel:  575 646 4842</p>
            <p>Fax: 575 646 5889</p>
            <h5>Ranch Headquarters:</h5>
            <p>Tel:  575 646 9400</p>
            <p>Fax: 575 646 9408</p>
            <h5>Jornada Basin LTER:</h5>
            <p>Tel:  575 646 5818</p>
            <p>Fax: 575 646 5889</p>
          </div>
          <div class="contact-block">
            <h2>Addresses</h2>
            <h5>Main Office:</h5>
            <p>Wooton Hall</p>
            <p>New Mexico State University campus</p>
            <p>2995 Knox St.</p>
            <p>Las Cruces, NM</p>
            <h5>Ranch Headquarters:</h5>
            <p>17,000 North Jornada Rd.</p>
            <p>Las Cruces, NM</p>
            <h5>Mailing Address:</h5>
            <p>P.O. Box 30003, MSC 3JER, NMSU</p>
            <p>Las Cruces, NM  88003-8003</p>
          </div>
          <div class="contact-block">
            <h2>Contacts</h2>
            <h5>General Inquiries:</h5>
            <p><a href="mailto:Nicole.A.Smith@usda.gov">Nicole.A.Smith@usda.gov</a></p>
            <h5>Visiting Field Classes:</h5>
            <p><a href="mailto:dave.thatcher@usda.gov">dave.thatcher@usda.gov</a></p>
            <p>575 646 9405</p>
            <h5>K-12 Education:</h5>
            <p><a href="mailto:stephanie@asombro.org">stephanie@asombro.org</a></p>
            <p>575 524 3334</p>
            <h5>Webmaster:</h5>
            <p><a href="mailto:ericha@nmsu.edu">ericha@nmsu.edu</a></p>
          </div>
          <div id="location-map">
            <div id="map-canvas"></div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>  
    </footer>
  </body>
  <script src="/assets/js/jer-location-map.js" type="text/javascript"></script>
  <script src="/assets/js/jer-core.js" type="text/javascript"></script>
</html> 