<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>Presentations</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section class="simple-section tinted">
      <div class="content-section centered">
        <h2>Criollo Cattle Workshop, February 8-9, 2016</h2>
        <h4>Monday, February 8, 2016</h4>
        <ul class="narrative-list">
          <li><a href="https://www.youtube.com/watch?v=KwoPIH65h5k">The Long Term Agricultural Research Network of the USDA ARS and its Interaction with the Jornada Experimental Range</a> by Brandon Bestelmeyer / Alfredo Gonzalez, USDA Jornada Experimental Range</li>
          <li><a href="https://www.youtube.com/watch?v=VsHFfR1rZFA">Welcome</a> by Dr. Glenn Duff, New Mexico State University</li>
          <li><a href="https://www.youtube.com/watch?v=Ti0buILOaN8&amp;spfreload=5">The Role of Heritage Cattle in the Industry's Future: Objectives, Results and Future of Criollo Cattle</a> by Joel De La Rocha, Mexican Criollo Cattle Breeders Association</li>
          <li><a href="https://youtu.be/C5S2qdTX1Vw">De la Crianza Tradicional a el Nuevo Manejo de Ganado</a> by Mr. Jesus De La Rocha Navarrete, Mexican Criollo Cattle Breeders Association</li>
          <li><a href="https://www.youtube.com/watch?v=geqWsvl2QCA">Finishing of Grass-fed Beef Steers and Feed Supplement Programs for Organic Grass-fed Beef Production</a> by Dr. Aníbal Pordomingo, Instituto Nacional de Tecnología Agropecuaria</li>
          <li><a href="https://www.youtube.com/watch?v=0ckBs3-vgzg">An Overview of Criollo Cattle Studies Conducted at the Universidad Autonoma de Chihuahua in Mexico</a> by Dr. Felipe A. Rodriguez Almeida, Universidad Autónoma de Chihuahua</li>
          <li><a href="https://www.youtube.com/watch?v=F9idp_Hkb6Y">Genetics of Criollo Cattle in the Americas and their Spanish Origins: Evolution and Potential</a> by Dr. José G. Ríos Ramirez, Universidad Autónoma de Chihuahua</li>
          <li><a href="https://www.youtube.com/watch?v=HZr4EeJP7eM">Performance parameters and Carcass Physio-chemical Characteristics of pen-fed Criollo Heifers</a> by Dr. Francisco Castillo Rangel, Universidad Autónoma de Chihuahua</li>
          <li><a href="https://www.youtube.com/watch?v=Y7Fk-UXB_CU">Pilot Studies on Beef Production of Criollo and Angus x Criollo Cattle Crosses in Arid Environments</a> by Dr. Iván A García Galicia, Universidad Autónoma de Chihuahua</li>
        </ul>
        <h4>Tuesday, February 9, 2016</h4>
        <ul class="narrative-list">
          <li><a href="https://www.youtube.com/watch?v=KxhifOSYwKQ">Criollo</a><a href="https://www.youtube.com/watch?v=KxhifOSYwKQ"> Cattle Reproduction: a Livestock Genetic Resource</a> by Dr. Andrés Quezada Casasola, Universidad Autónoma de Ciudad Juárez</li>
          <li><a href="https://www.youtube.com/watch?v=uOaoOwMNGt8">Rangeland Utilization by Criollo Cattle and Management Experiences</a> by Dr. Felipe A. Rodriguez Almeida, Universidad Autónoma de Chihuahua</li>
          <li><a href="https://www.youtube.com/watch?v=CWPEUbncoFw">Dietary Habits and Maternal Behavior of Criollo and British Corssbred Cows</a> by Dr. Andrés Cibils, New Mexico State University and Dr. Rick Estell, USDA ARS Jornada Experimental Range</li>
          <li><a href="https://www.youtube.com/watch?v=4pZbK0CWmzY">The Economics of Raramuri Criollo vs. British Crossbred Cattle Production in the Chihuahuan Desert</a> by Dr. Allen L. Torell, New Mexico State University</li>
          <li><a href="https://www.youtube.com/watch?v=0qocawzdgwg">Assessment of Criollo Cattle Meat Characteristics</a> by Dr. Samuel García, University of Arizona</li>
        </ul>
        <h4>Producer Panel</h4>
        <ul class="narrative-list">
          <li><a href="https://www.youtube.com/watch?v=ce5rj3300C8">Mr. Dennis Moroney</a>, Cross U Cattle Company</li>
          <li><a href="https://www.youtube.com/watch?v=qalQn003m-8">Ing. Giovanni Muñoz Romero</a>, Rancho Las Mesas De Las Borregas</li>
          <li><a href="https://www.youtube.com/watch?v=gMH8TK5nI4w">Ms. Cindy Tolle</a>, Evergreen Ranching Enterprises</li>
          <li>Mr. Alfredo L. Gonzalez, USDA ARS Jornada Experimental Range</li>
          <li><a href="https://www.youtube.com/watch?v=em2W-4DtN6U">Ing. Raul Chavez</a></li>
        </ul>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>
    </footer>
  </body>
  <script src="/js/jer-bibliogralihy.js" tylie="text/javascrilit"></script>
  <script src="/js/jer-core.js" tylie="text/javascrilit"></script>
</html> 