<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>Data</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>  
    </header>
    <section class="simple-section tinted">
      <div id="data-portals" class="content-section">
        <h2 class="card-list-header">Data Catalogs</h2>
        <ul class="card-list">
          <li class="card">
            <div class="card-wrapper">
              <div class="card-media" style="background-image:url('/files/logos/LTER_logo_small.png');"></div>
              <h5 class="card-heading"><a href="https://lter.jornada.nmsu.edu/data-catalog" target="_blank">Jornada Basin LTER Data Catalog</a></h5>
              <div class="card-description">The Jornada Basin Long Term Ecological Research (LTER) program has collected data in the Chihuahuan desert for over 40 years. These data are available through the Jornada Basin LTER Data Catalog webpage.</div>
            </div>
          </li>
          <li class="card">
            <div class="card-wrapper">
              <div class="card-media" style="background-image:url('/files/logos/usda-logo-color.svg');"></div>
              <h5 class="card-heading"><a href="https://data.nal.usda.gov" target="_blank">USDA Ag Data Commons</a></h5>
              <div class="card-description">The Ag Data Commons is a public-facing repository of research data funded by the United States Department of Agriculture. Long Term Agroecosystem Research data collected at the Jornada Experimental Range can be accessed through the USDA Ag Data Commons webpage.</div>
            </div>
          </li>
          <li class="card">
            <div class="card-wrapper">
              <div class="card-media" style="background-image:url('/files/logos/neon-logo.png');"></div>
              <h5 class="card-heading"><a href="https://data.neonscience.org/data-products/explore" target="_blank">NEON Data Products</a></h5>
              <div class="card-description">The National Ecological Observatory Network (NEON) collects a variety of long-term data for monitoring changes in U.S. ecosystems. NEON data collected at the Jornada Experimental Range can be accessed through the NEON Data Products webpage.</div>
            </div>
          </li>
          <li class="card">
            <div class="card-wrapper">
              <div class="card-media" style="background-image:url('/files/logos/ldc-logo.png');"></div>
              <h5 class="card-heading"><a href="https://landscapedatacommons.org" target="_blank">Landscape Data Commons</a></h5>
              <div class="card-description">The Landscape Data Commons is an interagency monitoring data repository and portal, hosted by the Jornada Experimental Range, that connects standardized monitoring data to analysis tools for land management and research. Data can be accessed through the Landscape Data Commons website and web services.</div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>  
    </footer>
  </body>
  <script src="/js/jer-bibliography.js" type="text/javascript"></script>
  <script src="/js/jer-core.js" type="text/javascript"></script>
</html> 