<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>ESD Workshops and Presentations</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section id="hero" style="background-image: url('/files/images/moab-workshop-jer.jpg');">
      <div id="title-block" class="hero-section">
        <div id="title">
          <h1>Workshops and Presentations</h1>
          <h3>
            <a href="/">
              <img class="site-map-icon" src="/files/icons/home_symbol_orange.svg">
            </a>
            <span class="site-map-sep"></span>
            <a href="/knowledge-systems">Land Health Knowledge Systems</a>
            <span class="site-map-sep"></span>
            <a href="/knowledge-systems/esd">Ecological Site Descriptions</a>
          </h3>
        </div>
      </div>
    </section>
    <section>
      <div class="side-navigation-port">
        <nav class="side-navigation">
          <ul class="side-menu">
            <span class="side-navigation-title">Sections:</span>
            <li><a class="side-menu-link" href="/knowledge-systems/esd">Introduction</a></li>
            <li><a class="side-menu-link" href="/knowledge-systems/esd/development-resources">Development Resources</a></li>
            <li><a class="side-menu-link" href="/knowledge-systems/esd/literature">Literature</a></li>
            <li><a class="side-menu-link active" href="/knowledge-systems/esd/workshops-presentations">Workshops and Presentations</a></li>
            <li><a class="side-menu-link" href="/knowledge-systems/esd/international">International</a></li>
            <li><a class="side-menu-link" href="https://edit.jornada.nmsu.edu">Access</a></li>
          </ul>
        </nav>
      </div>
      <div class="content-section centered">
        <div class="meeting-accordion-list accordion-list">
          <div class="accordion-header accordion" role="button" tabindex="0">
            <div class="accordion-details">Oklahoma City, OK, February 2, 2013</div>
            <h4 class="accordion-title">Collaborative ESD Development</h4>
          </div>
          <div class="accordion-panel">
            <p>The aim of this workshop is to:</p>
            <ol class="meeting-list">
              <li>Outline principles of collaboration and standards of credible and useful ESDs and STMs.</li>
              <li>Showcase a variety of collaborative projects that contribute to ESD and STM development.</li>
              <li>Outline important considerations and resources available for ESD collaboration projects.</li>
              <li>Create networking opportunities and generate discussion among ESD developers.</li>
            </ol>
            <p>Lead Organizer: Jamin Johanson<br />Co-organizers: Joel Brown, Mark Moseley, Sarah Quistberg, Homer Sanchez, and Pat Shaver</p>
            <ul class="meeting-list">
              <li><a href="/files/Brownintroduction.pdf">Introduction</a> - Joel Brown, Rangeland Ecologist, NRCS-Las Cruces, NM</li>
              <li><a href="/files/GoldenOverview.pdf">Acceleration of ESD Development</a> - Mike Golden, Deputy Chief for SSRA, NRCS-Washington, D.C.</li>
              <li><a href="/files/TalbotStandards.pdf">Standards and Principles of ESD Development</a> - Cameron Loerch, Soil Standards National Leader, NRCS-Lincoln, NE and Curtis Talbot, Range Management Specialist, NRCS-Lincoln, NE</li>
              <li><a href="/files/JaminCollaboration.pdf">The Power of Collaboration</a> - Jamin Johanson, Ecological Site Specialist, NRCS-Richfield, UT</li>
              <li><a href="/files/WoodallWorkgroup.pdf">A Good Old-fashioned ESD Workgroup</a> - Scott Woodall, Ecological Site Specialist, NRCS-Santa Fe, NM and Steve Daly, Range Management Specialist, BLM-Santa Fe, NM</li>
              <li><a href="/files/NighMissouri.pdf">Getting More Bang for Your Buck: A Multiagency Approach to ESD Development in Missouri</a> - Fred Young, Soil Scientist, NRCS-Columbia, MO, and Tim Nigh, Terrestrial Ecologist, Missouri Department of Conservation</li>
              <li>Military Ranching: The Value of Ecological Site Descriptions to Training Land Management - Mark Moseley- Ecological Site Specialist, NRCS-Boerne, TX and Lucas Cooksey, Senior Wildlife Biologists, DOD-Fort Sam Houston/Camp Bullis, TX</li>
              <li>North Dakota Riparian Ecological Site Description Development Project - Miranda Meehan, Natural Resource Specialist, Carlson McCain Inc.-Bismark, ND and Jeff Printz, Range Management Specialist, NRCS-Bismark, ND</li>
              <li><a href="/files/KachergisRanches.pdf">Evaluating the Outcomes of Prescribed Grazing on Wyoming Ranches: An ESD-based Approach</a> - Emily Kachergis, Research Ecologist, ARS-Cheyenne, WY</li>
              <li>Montana Interagency ESD Work Group—an Example of Successful Collaboration - Mary Manning, Regional Vegetation Ecologist, USFS-Missoula, MT and Jeff Dibenedetto, Landscape and Vegetation Ecologist, USFS- Billings, MT</li>
              <li><a href="/files/Bestelmeyer-TEUI.pdf">Linking USFS Data and Classification Concepts to ESD Development</a> - Brandon Bestelmeyer, Research Ecologist, ARS-Las Cruces, NM and Jeb Williamson, GIS Specialist, ARS-Las Cruces, NM</li>
              <li><a href="/files/StringhamNevada.pdf">STM Development: A Systematic Approach Focused on Quality Control</a> - Tamzen Stringham, Research Professor, University of Nevada - Reno, NV</li>
              <li><a href="/files/LearyFunding.pdf">Funding ESD Development</a> - Ryan Leary, Range Management Specialist, BLM-Carson City, NV</li>
              <li><a href="/files/PeacockOperatingProcedures.pdf">NRCS Operating Procedures and Resources for ESD Development</a> - Susan Andrews, Soil Quality and Ecosystems National Leader, NRCS-Lincoln, NE and George Peacock, Grazing Lands Team Leader, NRCS-Fort Worth, TX</li>
              <li>Synopsis of Collaborative ESD Projects - Maria Fernandez-Gimenez, Colorado State University and Jamin Johanson, Ecological Site Specialist, NRCS-Richfield, UT</li>
            </ul>
            <p>Workshop Posters:</p>
            <ul class="meeting-list">
              <li><a href="/files/Duniway_2013_SRM.pdf">Analyzing Agency Datasets Using the ESD Framework</a> - Michael Duniway, Seth Munson, Jamin Johanson</li>
              <li><a href="/files/Margo_Poster_2013.pdf">Working Together to Create Ecological Site Descriptions in Far West Texas: A Two Phase Approach</a> - Michael R. Margo, Lynn E. Loomis</li>
              <li><a href="/files/Marshall_Poster_SRM_2013.pdf">Utility of Ecological Site Descriptions for the Management and Conservation of Endangered Species</a> - Michael E. Marshall</li>
              <li><a href="/files/BoehmNRCS-ESD-Seedbed.pdf">Spatial Modeling of Seedbed Microclimate and the Utility of Ecological Site Descriptions for Rangeland Restoration Planning</a> - Alex R. Boehm, Stuart P. Hardegree, Nancy F. Glenn, Gerald N. Flerchinger</li>
              <li><a href="/files/HardegreeNRCS-ESD-Weather.pdf">Distributed Weather Tools for Interpretation of State‐Transition Probabilities in Disturbed Systems</a> - Stuart P. Hardegree, Alex R. Boehm</li>
              <li><a href="/files/Riparian_SRM 2013_reference.pdf">Riparian Complex ESD Development for BLM Allotment Management</a> - Sarah Quistberg, Jamin Johanson, Mellissa Rosenhan</li>
              <li><a href="/files/UDWR_SRM_2013.pdf">Using Long Term Vegetation Data and Ecological Sites: A Strategy for Wildlife Management</a> - Kevin Gunnell, Danny Summers, Jamin Johanson, Thomas Monaco</li>
              <li><a href="/files/Walstad_SRM_Poster_2013.pdf">An ESD Development Journey in the Elkhorn Mountains</a> - Kirt Walstad, David Marr</li>
            </ul>
          </div>
          <div class="accordion-header accordion" role="button" tabindex="0">
            <div class="accordion-details">Spokane, WA, January 28, 2012</div>
            <h4 class="accordion-title">ESD and STM Development Technical Workshop - at the 65th Annual Meeting of the Society for Range Management</h4>
          </div>
          <div class="accordion-panel">
            <p>This workshop is designed as an in-depth, technical training for those involved in the development of ecological site descriptions and state-and-transition models; particularly agency employees, contractors, and researchers with ESD/STM development responsibilities.</p>
            <p><strong>Goals:</strong></p>
            <ol class="meeting-list">
              <li>Provide an overview of the history, concepts, and applications of ESDs and STMs.</li>
              <li>Provide examples of successful STM development using a variety of data sources.</li>
              <li>Provide training and access to tools available for accelerated ESD development.</li>
              <li>Provide examples of successful management applications of ESD and STM concepts.</li>
              <li>Create networking opportunities and generate discussion among ESD specialists.</li>
            </ol>
            <p><strong>Background: </strong>Individuals tasked with writing ecological site descriptions (ESDs) and state-and-transition models (STMs) often have difficulty obtaining and/or summarizing the information necessary to produce documents that are useful to management. This workshop seeks to review and build on the ideas presented at a previous workshop (Billings, MT 2011), with an added emphasis on the development and use of STMs for rangeland ecological sites. Part one provides details about the ecological site land classification system and new information about the ESD development process. Part two includes a brief review of the ESD development tools presented in Billings, a question and answer session, available downloads of ESD development tools, and a poster session for sharing new ESD development tools. Part three provides examples of STM development using common data sources of varying type, quality and quantity. Part four provides examples of innovative ESD and STM applications, including an introduction to riparian ESDs, user-friendly electronic ESDs, ESD-based field guides for pinyon-juniper woodlands, and an introduction to Forage Suitability Group Descriptions.</p>
            <p><strong>Note</strong>: This workshop is intended to facilitate communication among ESD development specialists. It is not meant to endorse certain methods, nor is it intended to set ESD development protocols. Rather, it is an opportunity to share ideas and build relationships in an effort to improve the accuracy and efficiency of ESD development. Many ESD and STM development methods are not presented at this workshop, and participants are encouraged to share their ideas and experiences with each other and with workshop organizers in a professional manner.</p>
            <p><strong>Workshop Organizers:</strong>  Lead Organizer: Jamin Johanson—jamin.johanson@ut.usda.gov</p>
            <p>Workshop Advisors: Joel Brown, Linda Coates-Markle, Sarah Quistberg, Susan Andrews, Pat Shaver, and Shane Green</p>
            <p><strong>Part I: Ecological Site Concepts</strong></p>
            <ul class="meeting-list">
              <li>ESD interagency efforts - Dennis Thompson, NRCS-Washington, DC (with Dave Cleland, USFS and Bob Bolton, BLM)</li>
              <li><a href="/files/Brown-SRM2012.pdf">Assumptions underlying range sites and ecological sites</a> - Joel Brown, NRCS-Las Cruces, NM</li>
              <li><a href="/files/Bestelmeyer_SRM_ESDwksp2012.pdf">Overview: assembling information to develop ecological site and STM concepts</a> - Brandon Bestelmeyer, ARS-Las Cruces, NM</li>
              <li>Overview of the ESD development workflow - Curtis Talbot, NRCS-Lincoln, NE</li>
            </ul>
            <p><strong>Part II: ESD Development Tools and Methods</strong></p>
            <ul class="meeting-list">
              <li><a href="/files/Campbell_ecosite_extent_maps.pdf">Techniques for creating ecological site extent maps</a> - Steve Campbell, NRCS-Portland, OR</li>
              <li><a href="/files/Jamin_Billings_Review.pdf">Synthesis of Billings ESD workshop</a>  - Jamin Johanson, NRCS-Richfield, UT</li>
              <li><a href="/files/Peacock_workflow.pdf">Discussion of ESD concepts and ESD development tools</a> - George Peacock, NRCS-Ft. Worth, TX</li>
              <li><a href="/files/PosterSessionReview.pdf">Overview of ESD development posters</a> - Jamin Johanson</li>
            </ul>
            <p>Poster Session</p>
            <ul class="meeting-list">
              <li>Sarah Quistberg, NRCS-Ogden, UT - ESD Identification Keys</li>
              <li>Ryan Leary, BLM-Nevada - Ecosite Identification for BLM field staff in Nevada</li>
              <li>Jack Alexander, President- Synergy Resource Solutions, Inc. - Mobile Soil Survey</li>
              <li>Ken Spaeth, NRCS-Fort Worth, TX - multivariate methods for STM development</li>
              <li>Dave Evans &amp; Dallas Glass, NRCS-Sonora, CA - AKVeg: strengths and limitations</li>
              <li>Amber Dalke, University of Arizona - STM dichotomous keys</li>
              <li>Colby Brungard, Utah State University - Ecosite predictive mapping</li>
            </ul>
            <p><strong>Part III: Available Resources for STM Development</strong></p>
            <ul class="meeting-list">
              <li><a href="/files/Stringham_SRM2012_ProcessSTM.pdf">Process-based thinking and writing for State-and-Transition Model development</a> - Tamzen Stringham, Professor, University of Nevada Reno</li>
              <li><a href="/files/Tom_Jamin_Justin.pdf">Overview of available data resources for STM development and how to incorporate published data into STMs</a> - Thomas Monaco, Utah State University (by Jamin Johanson)</li>
              <li><a href="/files/Shane-Data-Detective.pdf">How to be a data detective</a> - Shane Green, NRCS-Salt Lake City, UT</li>
              <li><a href="/files/Novak_UsingNRI-DataESD-Development.pdf">Using NRI data for STM development</a> - Patti Novak-Echenique, NRCS-Reno, NV</li>
            </ul>
            <p><strong>Part IV: Alternative Applications of ESD and STM Concepts</strong></p>
            <ul class="meeting-list">
              <li><a href="/files/Miller_SRM-NRCS_ESD.pdf">Asking the right questions and using ESDs for developing management strategies and predicting outcomes</a> - Richard Miller, Professor, Oregon State University</li>
              <li><a href="/files/Sarah_Riparian_Complexes.pdf">Introduction to ESD and STM development for riparian systems</a> - Sarah Quistberg, NRCS-Ogden, UT </li>
              <li><a href="/files/Ellis_fsg_srm.pdf">Understanding pastureland's role in ecological sites with forage suitability group descriptions</a> - Chad Ellis, NRCS-Fort Worth, TX</li>
            </ul>
          </div>
          <div class="accordion-header accordion" role="button" tabindex="0">
            <div class="accordion-details">Spokane, WA, January 30 – February 2, 2012</div>
            <h4 class="accordion-title">Using Ecological Site Descriptions as a Decision Making Tool Workshop - at the 65th Annual Meeting of the Society for Range Management</h4>
          </div>
          <div class="accordion-panel">
            <p>Workshop organizers: Homer Sanchez and Pat Shaver</p>
            <p>Purpose of the workshop: To enhance foundational knowledge, skills and understanding of ecological site concepts, classification and description; state-and-transition modeling and interpretations; and uses and application by agencies, land managers, conservation partners and consultants.</p>
            <p><strong>Monday Workshop:</strong></p>
            <ul class="meeting-list">
              <li><a href="/files/EcologicalSiteConcepts_Sanchez_SRM_2012.pdf">Ecological Site Concepts and Accessing ESDs</a> - Homer Sanchez</li>
              <li><a href="/files/State-TransitionModels-VegetationSoilSurfaceDynamics_Shaver_SRM2012.pdf">State-and-Transition Models: Description of Vegetation &amp; Surface Soil Dynamics</a> - Pat Shaver</li>
              <li><a href="/files/Ecological_Sites-A_Developmental_History_Brown_SRM2012.pdf">Ecological Site Introduction</a> - Joel Brown</li>
              <li><a href="/files/FinalProduct-ComponentsOfESD_Gillaspy_SRM2012.pdf">The Final Product: The Components of an Ecological Site Description</a> - Bob Gillaspy</li>
              <li><a href="/files/EcologicalSitesTheirRelationshipSoilMapping_Campbell_SRM2012.pdf">Ecological Sites and Their Relationship to Soils</a> - Steve Campbell</li>
            </ul>
            <p><strong>Tuesday Workshop:</strong></p>
            <ul class="meeting-list">
              <li><a href="/files/Ecological_Sites-TheDevelopmentProcess_Moseley-Shaver_SRM2012.pdf">Ecological Sites: The Development Process</a> - Pat Shaver (for Kendra Moseley-Urbanik)</li>
              <li><a href="/files/SoilPropertiesDistinguishEcologicalSites_Duniway_SRM2012.pdf">Soil Properties That Distinguish Ecological Sites</a> - Mike Duniway</li>
              <li><a href="/files/STMDevelopment_Stringham_SRM2012.pdf">Developing State and Transition Models</a> - Tamzen Stringham</li>
              <li><a href="/files/Multi-disiplinaryDevelopmentOfSTMs_Kachergis_SRM2012.pdf">Multi-disciplinary Development of STMs: Northern Colorado</a> - Emily Kachergis</li>
              <li><a href="/files/STMSimulationGameDemonstration_Fernandez-Gimenez_SRM2012.pdf">STM Simulation Game Demonstration</a> - Maria Fernandez-Gimenez (<a href="/files/STMRanchSimulationDatabase_Fernandez-Gimenez_SRM2012.xlsm">S&amp;T Ranch Simulation Database</a> in MS Excel format)</li>
            </ul>
            <p><strong>Wednesday Workshop:</strong></p>
            <ul class="meeting-list">
              <li><a href="/files/ESDsRestoration_Pellant_SRM2012.pdf">Uses in Rangelands Restoration Planning</a> - Mike Pellant</li>
              <li><a href="/files/USFSApplicationESDs_DiBenedetto-Manning_SRM2012.pdf">ESDs and the USFS</a> - Jeff DiBenedetto and Mary Manning</li>
              <li><a href="/files/MilitaryApplicationsESDs.pdf">Ecological Site Application on U.S. Military Installations</a> - Jamin Johanson</li>
              <li><a href="/files/GrazingManagement-MakingESDsUseful_Boltz_SRM2012.pdf">How ESDs Can Facilitate Grazing Management</a> - Stan Boltz</li>
              <li><a href="/files/ESDWildlifeManagementInterpretations_Miller_SRM2012.pdf">Wildlife Management Interpretations</a> - Marcus Miller</li>
              <li><a href="/files/ESDsNationalParkService_Biggam_SRM2012.pdf">National Park Service Presentation</a> - Pete Biggam</li>
            </ul>
            <p><strong>Thursday Workshop:</strong></p>
            <ul class="meeting-list">
              <li><a href="/files/RedSandyLoamESD.pdf">Private Consultant Perspective</a> – Jack Alexander</li>
              <li><a href="/files/EcologicalSiteApplicationsLandscapeScales_Haufler_SRM2012.pdf">Ecological Site Application at the Landscape Scale</a> – Jonathan Haufler</li>
              <li><a href="/files/EcologicalSitesNRCSPlanningConservationProcess_Moseley_SRM2012.pdf">How ESDs Facilitate Conservation Planning</a> – Mark Moseley</li>
              <li>The National Leaders Perspectives, Washington DC – <a href="/files/BLMPerspectivesFutureESDs_Bolton_SRM2012.pdf">Robert Bolton</a> - BLM, <a href="/files/USFS_PerspectivesESDDevelopment_NationalLeadership_Lopez_SRM2012.pdf">Ricardo Lopez</a> - USFS, Dennis Thompson – NRCS</li>
            </ul>
          </div>
          <div class="accordion-header accordion" role="button" tabindex="0">
            <div class="accordion-details">Billings, MT, February 10, 2011</div>
            <h4 class="accordion-title">ESD Development Workshop - at the 64th Annual Meeting of the Society for Range Management</h4>
          </div>
          <div class="accordion-panel">
            <p><a href="/files/Billings_ESD_Workshop.pdf">ESD Development Workshop Information</a></p>
            <p><strong>Part I: ESD Implementation and Development </strong></p>
            <ul class="meeting-list">
              <li><a href="/files/Joel-Brown.pdf">Welcome and Introduction</a>—Joel Brown, USDA-NRCS, Las Cruces, New Mexico</li>
              <li><a href="/files/Terrell-Erickson.pdf">National Implementation of Ecological Site Descriptions</a>—Terrell Erickson, Director, Ecological Science Division—USDA-NRCS, Washington, D.C.</li>
              <li><a href="/files/Homer-Sanchez.pdf">Coordinating an ESD Development Effort</a>—Homer Sanchez, USDA-NRCS, Fort Worth, Texas</li>
              <li><a href="/files/Pat-Shaver.pdf">Interstate Correlations of Ecological Sites</a>—Pat Shaver, USDA-NRCS, Portland, Oregon</li>
            </ul>
            <p><strong>Part II: ESD Development Tools</strong></p>
            <ul class="meeting-list">
              <li><a href="/files/Justin-Clary.pdf">Collecting and Interpreting Soil and Physiographic Information</a> – Justin Clary, NRCS- Temple, Texas</li>
              <li><a href="/files/Owens_Campbell.pdf">A Method for Creating an Ecological Site Extent Map</a>– Jacob Owens for Steve Campbell, NRCS- Portland, Oregon</li>
              <li><a href="/files/Sarah-Quistberg.pdf">Collecting and Interpreting Climate Data for </a><a href="https://jornada.nmsu.edu/sites/jornada.nmsu.edu/files/Sarah-Quistberg.pdf">ESDs</a>– Sarah Quistberg, NRCS- Ogden, Utah</li>
              <li><a href="/files/Jamin-Johanson.pdf">PRISM Climate Summarizer Tool</a> – Jamin Johanson, NRCS- Richfield, Utah</li>
            </ul>
            <p><strong>Part III: Integrating Information to Enhance ESDs</strong></p>
            <ul class="meeting-list">
              <li><a href="/files/Gale_Jamin.pdf">Plant Growth Curve Simulation Tool</a>—Jamin Johanson for Gale Dunn,  NRCS-Utah for ARS-Fort Collins, CO</li>
              <li><a href="/files/Kendra-Moseley.pdf">Organizing and Interpreting Plant Community Data</a>—Kendra Moseley, NRCS- Oregon</li>
              <li><a href="/files/Ken-Spaeth.pdf">Considerations and Development of the Hydrologic Function Section in Rangeland ESDs</a>- Ken Spaeth, NRCS- Fort Worth, Texas</li>
              <li><a href="/files/Kirt-Walstad.pdf">Developing Ecological Site Keys</a>—Kirt Walstad, NRCS- Bozeman, Montana</li>
              <li><a href="/files/Doug-Ramsey.pdf">Modeling Potential Distribution of Common Plant Species</a>—Doug Ramsey, Utah State University- Logan, Utah</li>
              <li><a href="/files/Alex-Hernandez.pdf">Using landscape-level assessments of similarity to improve state-and-transition model development</a>—Alex Hernandez, Utah State University- Logan, Utah</li>
            </ul>
          </div>
          <div class="accordion-header accordion" role="button" tabindex="0">
            <div class="accordion-details">Las Cruces, NM, November 16-18, 2010</div>
            <h4 class="accordion-title">Rangeland Interagency ESD Pilot Workshop</h4>
          </div>
          <div class="accordion-panel">
            <p>Link to Rangelands website with ESD meeting information and agendas - <a href="https://www.rangelands.org/ESD/">https://www. rangelands.org/ESD/</a></p>
            <p><strong>Tuesday - Workshop Day 1</strong> - Target Audience:  WO Leadership, Regional and State Technical Leadership, Point-of-contact Field-Level Employees</p>
            <p>Agency Leadership - Significance of the Workshop</p>
            <ul class="meeting-list">
              <li>NRCS - Michael Hubbs, Director of Ecological Sciences Division</li>
              <li>USFS - James Peña, Associate Deputy Chief (video link)</li>
              <li>BLM - Mike Pool, Deputy Director (video link)</li>
            </ul>
            <p>A Collaborative Approach: The Value, Use and Applicability of ESDs to the Agency Mission</p>
            <ul class="meeting-list">
              <li>BLM - Bill Merhege, DSD Resources, NMSO</li>
              <li>USFS - Janette Kaiser, Director, Rangeland Management, WO</li>
              <li>NRCS - <a href="/files/MGolden.pdf">Micheal Golden, Director, Soil Survey Division</a>, WO</li>
            </ul>
            <p>Agency Implementation and Needs -</p>
            <ul class="meeting-list">
              <li><a href="/files/DThompson.pdf">Rangeland Interagency Ecological Site Manual - policy overview</a> (Dennis Thompson, NRCS)</li>
              <li><a href="/files/Shaver-Rose.pdf">Science and Technology Needs/Challenges</a> (Pat Shaver, NRCS; Jeff Rose, BLM)</li>
              <li><a href="/files/Weltz.pdf">Role of ARS in Science Needs</a> (Mark Weltz, ARS)</li>
              <li><a href="/files/DiBenedetto-Karl.pdf">Correlation With/Cross-walk to Existing Data Collection Systems; Relationship to Other Land Unit Classification Systems</a> (Jeff DiBenedetto, USFS; Sherm Karl, BLM)</li>
              <li><a href="/files/JDobrowolski.pdf">Ecosystem Site Description Funding - Opportunities for Research, Education, and Extension Support</a> (Jim Dobrowolski, USDA)</li>
            </ul>
            <p><a href="/files/Bestelmeyer.pdf">What is an Ecological Site Description? Historical Development and Emerging Science</a> (Brandon Bestelmeyer, ARS, NM)</p>
            <p>The Science behind Ecological Sites. How can the current research and science contribute to the development of ecological sites and what are some emerging trends? The intent is to respond to morning presentations (above) by agency leaders</p>
            <ul class="meeting-list">
              <li><a href="/files/Pierson.pdf">Hydrology</a> (Fred Pierson, ARS, ID)</li>
              <li>Modeling State Attributes (Mark Weltz, ARS, NV)</li>
              <li><a href="/files/JDerner.pdf">Vegetation Dynamics</a> (Justin Derner, ARS, WY)</li>
              <li><a href="/files/RSheley.pdf">Invasive Species</a> (Roger Sheley, ARS, OR)</li>
              <li><a href="/files/DCleland.pdf">Opportunities for developing an interagency hierarchical approach to defining ESD's and addressing cross-scale interactions</a> (Dave Cleland, USFS, WO)</li>
            </ul>
            <p><strong>Wednesday - Workshop Day 2</strong> - Target Audience:  Regional and State Technical Leadership, Point-of-contact Field-Level Employees</p>
            <p><a href="/files/Bestelmeyer-Shaver.pdf">Principles of ES Development</a> (broad overview of principles and approaches) - developing ESD concepts at the regional scale, grouping soil properties into functional units, developing State and Transition Models, testing, refining and correlating Ecological Sites (Brandon Bestelmeyer, ARS and Pat Shaver, NRCS)</p>
            <p>Delivering the information - Case Examples of Success in the Field - Using Case examples……..identify utility and success of ESDs</p>
            <p>Speakers:<br />
              <a href="/files/LLister.pdf">Leticia Lister</a>, BLM, NM; <a href="/files/JDyess.pdf">Judith Dyess</a>, USFS, NM; <a href="/files/KAlcon.pdf">Kenneth Alcon</a>, NRCS, NM</p>
          </div> 
          <div class="accordion-header accordion" role="button" tabindex="0">
            <div class="accordion-details">Denver, CO, February 2010</div>
            <h4 class="accordion-title">Climate Change and Potential Natural Vegetation - at the 63rd Annual Meeting of the Society for Range Management</h4>
          </div>
          <div class="accordion-panel"> 
            <p>Land managers, federal agencies, and international aid organizations often recognize management targets and degradation based on ecological potential, historical range of variation, or potential natural vegetation. This relationship has been codified in U.S. rangeland management via ecological site descriptions (ESDs). Climate change may dramatically alter potential natural vegetation in many rangelands. Unless ESDs can be developed to anticipate and accommodate climate change effects, they could rapidly become obsolete. On the other hand, ESDs could serve as valuable tools for understanding how climate change effects are mediated by soil-geomorphic properties and existing vegetation condition.</p>
            <ul class="meeting-list">
              <li><a href="/files/Adler_Intro_SRM2010.pdf">Climate change and potential natural vegetation</a> - Peter Adler</li>
              <li><a href="/files/Wolter_SRM2010.pdf">Regional climate variability in the Western U.S.: What can be said about the observed variability vs. anticipated ‘Climate Change' in the next century?</a> - Klaus Wolter</li>
              <li><a href="/files/Jackson_SRM2010.pdf">Ecological forecasts from the past: applying ecological history to vegetation management in a time of environmental change</a> - Stephen T. Jackson</li>
              <li><a href="/files/Miller_SRM2010.pdf">Preparing for the future by looking at the past</a> - Rick Miller</li>
              <li><a href="/files/Knapp_SRM2010.pdf">Grassland ecosystems and climate change: Insights from experiments</a> - Alan Knapp</li>
              <li><a href="/files/Dalgleish_SRM2010.pdf">Climate change effects on rangeland resources: using the past to predict the future with population models</a> - Harmony Dalgleish, Peter Adler</li>
              <li><a href="/files/Duniway_SRM%202010.pdf">Climate-soil interactions: Global change, local properties, and ecological sites</a> - Michael Duniway, Brandon Bestelmeyer</li>
              <li><a href="/files/Bestelmeyer_SRM2010.pdf">Degraded states, novel ecosystems, or reconfigured landscapes: How should we view ecosystem change in a changing world?</a> - Brandon Bestelmeyer, Joel Brown</li>
            </ul>
          </div> 
          <div class="accordion-header accordion" role="button" tabindex="0">
            <h4 class="accordion-title">State-and-Transition Models: Triggers, Feedbacks and Thresholds</h4>
            <div class="accordion-details">Louisville, KY, January 28, 2008</div>
          </div>
          <div class="accordion-panel">
            <p>The 2008 Joint Meeting of the Society for Range Management and the American Forage and Grassland Council</p>
            <ul class="meeting-list">
              <li><a href="/files/stringhamSRM08.pdf">Current Status of the State-and-Transition Framework</a> - Tamzen Stringham, David D. Briske, Brandon T. Bestelmeyer, Pat L. Shaver</li>
              <li><a href="/files/bestelmeyer_resilience.pdf">Variation in Ecological Resilience: A Fundamental Concept for Rangeland Ecology</a> - Brandon T. Bestelmeyer, David D. Briske, Joel Brown, Kris M. Havstad, Rhonda K. Skaggs</li>
              <li><a href="/files/briskeSRM08.pdf">Resilience-Based Application of State-and-Transition Models</a> - David D. Briske, Brandon T. Bestelmeyer, Tamzen K. Stringham, Pat L. Shaver</li>
              <li><a href="/files/herrickSRM08.pdf">Soils, Resilience, and State and Transition Models</a> - Jeffrey E. Herrick, Skye Wills, Debra Peters, Arlene Tugel, Brandon Bestelmeyer</li>
              <li><a href="/files/pykeSRM08.pdf">Rangeland Health Indicators: Can they provide early warning signals?</a> - David A. Pyke</li>
              <li><a href="/files/petersonSRM08.pdf">Resilience, Triggers, Feedbacks and Thresholds: A Western Juniper Model</a> - Steven L. Petersen, Tamzen K. Stringham</li>
              <li><a href="/files/matneySRM08.pdf">Winterfat in the Catlow Valley: Ecological Resilience and State-and-Transition Modeling</a> - Casey A. Matney</li>
              <li><a href="/files/bestelmeyer_CDmodels.pdf">Vulnerability and Triggers in Threshold Development: Models from the Chihuahuan Desert</a> - Brandon T. Bestelmeyer, Jeffrey E. Herrick, Caiti M. Steele</li>
              <li><a href="/files/printzSRM08.pdf">Plant Community Dynamics in the Northern Great Plains - Recognizing the Impacts of Invasive Species</a> - Jeffrey L. Printz, Stan Boltz</li>
              <li><a href="/files/shaverSRM08.pdf">Resilience and Feedbacks within A Deep Sand Savannah Ecological Site</a> - Pat L. Shaver</li>
            </ul>
          </div> 
          <div class="accordion-header accordion" role="button" tabindex="0">
            <div class="accordion-details">Albuquerque, NM, August 14-16, 2007</div>
            <h4 class="accordion-title">Riparian Ecological Site Description Workshop</h4>
          </div>
          <div class="accordion-panel">
            <ul class="meeting-list">
              <li><a href="/files/southerland4.pdf">Geomorphic Stream Classification</a> - W. Barry Southerland, Fluvial Geomorphologist, NRCS</li>
              <li><a href="/files/southerland1.pdf">Riparian Workshop I, Geomorphic Components of Riparian Ecosystems</a> - W. Barry Southerland</li>
              <li><a href="/files/southerland2.pdf">Riparian Workshop II, Stream Classification Level II and Departure Analysis</a> - W. Barry Southerland</li>
              <li><a href="/files/southerland3.pdf">Riparian Workshop III, Departure and Potential</a> - W. Barry Southerland</li>
              <li><a href="/files/scheffe.pdf">Soils in the Riparian Complex, Incorporating Soil Dynamics into Ecological Site Descriptions</a> - Kenneth F. Scheffe, NRCS</li>
              <li><a href="/files/riparian.pdf">Riparian Complex and Vegetation </a>- Tamzen Stringham, OSU</li>
              <li><a href="/files/channel.pdf">Channel Succession Riparian Plant Community Dynamics</a> - Tamzen Stringham</li>
              <li><a href="/files/vegetation.pdf">Vegetation Succession and Geomorphic Thresholds</a> - Tamzen Stringham</li>
              <li><a href="/files/leinard.pdf">Ecological Sites in Riparian Areas</a> - Bob Leinard, NRCS, Retired</li>
              <li><a href="/files/bestelmeyer-riparianwkshp.pdf">Issues With Riparian Ecological Site Descriptions</a> - Brandon Bestelmeyer, ARS Jornada Experimental Range</li>
            </ul>
            <p><a href="/files/geomorph_terms.pdf">Selected Key Terms, Stream Geomorphology</a> - by W. Barry Southerland, Fluvial Geomorphologist</p>
            <p><a href="https://policy.nrcs.usda.gov/viewerFS.aspx?id=3491">Part 654 - Stream Restoration Design</a> - USDA, Natural Resources Conservation Service</p>
          </div> 
          <div class="accordion-header accordion" role="button" tabindex="0">
            <h4 class="accordion-title">Understanding and Improving Applications for Wildlife Habitat Management in Sagebrush Ecosystems</h4>
            <div class="accordion-details">Park City, UT</div>
          </div>
          <div class="accordion-panel">
            <p>Following the workshop, there were many requests for opportunities to view the high quality presentations provided at the workshop. As a result, speaker presentations are now availbable at: <a href="https://rangelands.org/esd_presentations.shtml">https://rangelands.org/esd_presentations.shtml</a></p>
            <p>We thank the speakers for their efforts at the workshop and their willingness to share their informative presentations.</p>
            <p>Workshop organizers have also produced a "Synthesis of the Comments From the Breakout Sessions". This document can be viewed at: <a href="https://www.rangelands.org/pdf/esd_summary_recommendation.pdf">https://www.rangelands.org/pdf/esd_summary_recommendation.pdf</a></p>            
          </div> 
          <div class="accordion-header accordion" role="button" tabindex="0">
            <div class="accordion-details">Corvallis, OR, August 28-30, 2006</div>
            <h4 class="accordion-title">State and Transition Monitoring Workshop</h4>
          </div>
          <div class="accordion-panel">
            <ul class="meeting-list">
              <li><a href="/files/bestelmeyerThresholds.pdf">Threshold and State Concepts Used in ESDs: Needs and Applications</a> - Brandon Bestelmeyer</li>
              <li><a href="/files/briskeEcologicalThresholds.pdf">Ecological Thresholds: Bridging Theory and Application</a> - D.D. Briske, F.E. Smeins, F.D. Fuhlendorf</li>
              <li><a href="/files/fuhlendorfEvaulatingS&amp;TModels.pdf">Evaluating S&amp;T Models and ESDs</a> - Fuhlendorf</li>
              <li><a href="/files/herrickConsiderationsThresholdsManagement.pdf">Considerations When Applying Thresholds to Management</a> - Jeff Herrick</li>
              <li><a href="/files/shaverDevelopingUtilizingS&amp;TModels.pdf">NRCS Efforts in Developing and Utilizing State and Transition Models</a> - Shaver</li>
              <li><a href="/files/stringham.pdf">State and Transition Modeling History &amp; Current Concepts</a> - Tamzen K. Stringham</li>
            </ul>
          </div> 
          <div class="accordion-header accordion" role="button" tabindex="0">
            <div class="accordion-details">Las Cruces, NM, September 26-27, 2006</div>
            <h4 class="accordion-title">Integrating Soil Properties and Ecological Site Descriptions</h4>
          </div>
          <div class="accordion-panel">
            <ul class="meeting-list">
              <li><a href="/files/tugel_Soils_ESDs1.pdf">Ecological Sites and Soil Survey (Part 1)</a> - Arlene Tugel, NRCS and the NRCS Soils-ESD Advisory Group</li>
              <li><a href="/files/brownESD.pdf">Site Descriptions-History, Concepts and Emerging Issues</a> - Joel Brown, NRCS-Jornada Experimental Range</li>
              <li><a href="/files/tugel_Soils_ESDs2.pdf">A Framework for Soil and Vegetation Dynamics (Part 2)</a> - Arlene Tugel, NRCS and the NRCS Soils-ESD Advisory Group</li>
            </ul>
            <p>This was a meeting of the Interagency Ecological Site Manual Team and included participants from Bureau of Land Management, Forest Service, ARS-Jornada Experimental Range, National Park Service, and Natural Resources Conservation Service. This meeting was hosted by Agricultural Research Service-Jornada Experimental Range, Las Cruces, New Mexico.</p>
          </div> 
          <div class="accordion-header accordion" role="button" tabindex="0">
            <div class="accordion-details">Las Cruces, NM, November 15-18, 2005</div>
            <h4 class="accordion-title">Ecological Site Description Development Workshop</h4>
          </div>
          <div class="accordion-panel">
            <ul class="meeting-list">
              <li><a href="/files/bestelmWrkshpIntro.pdf" target="_blank">Introduction to ESD Development Workshop</a> - Brandon Bestelmeyer</li>
              <li>Overview, Organization, Components of ESDs - George Peacock, Dan Caudle - <a href="/files/caudlepeacock.pdf">ESD: Contents and Data Requirements</a> and <a href="/files/caudlepeacock2.pdf">Interagency Ecological Site Description Manual</a></li>
              <li><a href="/files/robinett.pdf">Steps in Producing ESDs: A Perspective from Arizona</a> - Dan Robinett</li>
              <li><a href="/files/monger.pdf">Step 1: Climate, Geomorphology, and Soil Development in Landscapes</a> - Curtis Monger</li>
              <li><a href="/files/mongerPaleoclmt.pdf">Paleoclimate</a> - Curtis Monger</li>
              <li>Step 2: Integrated Map Unit Design: Defining MLRAs, LRUs/CRAs, Soil Map Units, and Ecological Site Development - Arlene Tugel - <a href="/files/tugel3.pdf">Ag Handbook 296 Land Resource Regions and Major Land Resource Areas of the US</a> and <a href="/files/tugel2.pdf">Soil Survey and Ecological Sites: Integrated Map Unit Design and Interpretation</a></li>
              <li><a href="/files/robbie.pdf">The Relationship of Ecological Site Descriptions to the Terrestrial Ecological Unit Inventory (TEUI) of the Forest Service</a> - Wayne Robbie</li>
              <li><a href="/files/brown.pdf">Step 3: Vegetation Dynamics In State and Transition Models (STMs): History, Concepts and Examples</a> - Joel Brown</li>
              <li><a href="/files/tugel.pdf">Beyond Plants: Indicators and Soil Surface Properties in STMs</a> - Arlene Tugel</li>
              <li><a href="/files/burkbestel.pdf">Measurements, Calculations, and Database Storage and Retrieval</a> - Laura Burkett, Brandon Bestelmeyer</li>
              <li><a href="/files/bestelmVegSoilSmpl.pdf">Vegetation and Soil Sampling for STM Development</a> - Brandon Bestelmeyer, Dan Robinett</li>
              <li><a href="/files/chavez.pdf">Mock State-And-Transition Model Workshop: How to Probe Their Minds</a> - George Chavez, Homer Sanchez, Brandon Bestelmeyer</li>
              <li><a href="/files/TglSmthSnchz.pdf">Developing and Using Ecological Reference Sheets Based on Rangeland Health Indicators</a> - Arlene Tugel, Phil Smith, Homer Sanchez</li>
              <li><a href="/files/bestelmeyerResources.pdf">Resources and Strategies for ESD Development</a> - Brandon Bestelmeyer</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>
    </footer>
  </body>
  <script src="/js/jer-side-navigation.js" type="text/javascript"></script>
  <script src="/js/jer-accordion-list.js" type="text/javascript"></script>
  <script src="/js/jer-test.js" type="text/javascript"></script>
</html> 