<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/jer-core.css">
    <title>ESD Literature</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section id="hero" style="background-image: url('/assets/images/soil-core-jer.jpg');">
      <div id="title-block" class="hero-section">
        <div id="title">
          <h1>Literature</h1>
          <h3>
            <a href="/">
              <img class="site-map-icon" src="/assets/icons/home_symbol_orange.svg">
            </a>
            <span class="site-map-sep"></span>
            <a href="/knowledge-systems">Land Health Knowledge Systems</a>
            <span class="site-map-sep"></span>
            <a href="/knowledge-systems/esd">Ecological Site Descriptions</a>
          </h3>
        </div>
      </div>
    </section>
    <section>
      <div class="side-navigation-port">
        <nav class="side-navigation">
          <ul class="side-menu">
            <span class="side-navigation-title">Sections:</span>
            <li><a class="side-menu-link" href="/knowledge-systems/esd">Introduction</a></li>
            <li><a class="side-menu-link" href="/knowledge-systems/esd/development-resources">Development Resources</a></li>
            <li><a class="side-menu-link active" href="/knowledge-systems/esd/literature">Literature</a></li>
            <li><a class="side-menu-link" href="/knowledge-systems/esd/workshops-presentations">Workshops and Presentations</a></li>
            <li><a class="side-menu-link" href="/knowledge-systems/esd/international">International</a></li>
            <li><a class="side-menu-link" href="https://edit.jornada.nmsu.edu">Access</a></li>
          </ul>
        </nav>
      </div>
      <div class="content-section centered">
        <div class="narrative-content">
          <h2>Ecological Site Description Literature</h2>
          <ol class="condensed-list">  
            <li>
              <a href="#foundation">Foundation Papers</a>
            </li>
            <li>
              <a href="#rangelands">Rangelands Special Issue</a> (Dec 2010)
            </li>
            <li>
              <a href="#techniques">General Concepts and Techniques</a>
            </li>
            <li>
              <a href="#soil">Soil Science Resources</a>
            </li>
            <li>
              <a href="#africa">Africa</a>
            </li>
            <li>
              <a href="#asia">Asia</a>
            </li>
            <li>
              <a href="#australia">Australia</a>
            </li>
            <li>
              <a href="#europe">Europe</a>
            </li>
            <li>
              <a href="#n-america">North America</a>
            </li>
            <li>
              <a href="#s-america">South America</a>
            </li>
            <li>
              <a href="#animals">Wildlife/Animals in State and Transition Models</a>
            </li>
          </ol>
          <h2 id="foundation">Foundation Papers</h2>
          <ul class="narrative-list">
            <li>
              Archer, S. 1989. <a href="https://links.jstor.org/sici?sici=0003-0147%28198910%29134%3A4%3C545%3AHSTSBC%3E2.0.C0%3B2-L">Have southern Texas savannas been converted to woodlands in recent history?</a> The American Naturalist 134(4):545-561.
            </li>
            <li>
              Bestelmeyer, B.T., J.R. Brown, K.M. Havstad, G. Chavez, R. Alexander, and J.E. Herrick. 2003. <a href="/files/Best_JRM_S&amp;T_2003.pdf">Development and use of state-and-transition models for rangelands</a>. Journal of Range Management 56:114-126.
            </li>
            <li>
              Bestelmeyer, B.T., A.J. Tugel, G.L. Peacock, Jr., D.G. Robinett, P.L. Shaver, J.R. Brown, J.E. Herrick, H. Sanchez, K.M. Havstad. 2009. <a href="/files/Best_REM_STMlandscape_2009.pdf">State-and-transition models for heterogeneous landscapes: A strategy for development and application</a>. Rangeland Ecology and Management 62:1-15.
            </li>
            <li>
              Briske, D.D., B.T. Bestelmeyer, T.K. Stringham, P.L. Shaver. 2008. <a href="/files/Briske_REM_STM_2008.pdf">Recommendations for development of resilience-based state-and-transition models</a>. Rangeland Ecology and Management 61:359-367.
            </li>
            <li>
              Briske, D.D., S.D. Fuhlendorf, F.E. Smeins. 2005. <a href="/files/Briske_REMsynth_2005.pdf">State-and-transition models, thresholds, and rangeland health: a synthesis of ecological concepts and perspectives</a>. Rangeland Ecology and Management 58:1-10.
            </li>
            <li>
              Brown J.R., Herrick J.E., Price D.  1999.  <a href="/bibliography/644.pdf">Managing low-output agroecosystems sustainably: the importance of ecological thresholds</a>. Canadian Journal of Forest Research 29:1112-1119.
            </li>
            <li>
              Dyksterhuis, E.J. 1949. <a href="/files/Dyksterhuis_JRM_1949.pdf">Condition and management of rangeland based on quantitative ecology</a>. Journal of Range Management 2:104-115.
            </li>
            <li>
              Dyksterhuis, E.J. 1958. <a href="/files/dyksterhuis.pdf">Ecological principles in range evaluation</a>. Botanical Review 24:253-272.
            </li>
            <li>
              Herrick, J.E., B.T. Bestelmeyer, S.R. Archer, A.J. Tugel, J.R. Brown. 2006. <a href="/files/Herrick_JAE_aridmanage_2006.pdf">An integrated framework for science-based arid land management</a>. Journal of Arid Environments 65:319-335.
            </li>
            <li>
              Shiflet, T.N. 1975. <a href="/files/shiflet.pdf">Range sites and soils in the United States</a>. In: D.N. Hyder (ed). Proceedings of the Third Workshop of the US/Australia Rangelands Panel. Society for Range Management, Denver, CO.
            </li>
            <li>
              Stringham, T.K., W.C. Krueger, P.L. Shaver. 2003. <a href="https://www.nrcs.usda.gov/Internet/FSE_DOCUMENTS/nrcs144p2_050801.pdf">State and transition modeling: an ecological process approach</a>. Journal of Range Management 56:106-113.
            </li>
            <li>
              Westoby, M. 1979/80. <a href="/files/Westoby_nonequilibriumRangelandTheory_IJB_1980.pdf">Elements of a theory of vegetation dynamics in arid rangelands</a>. Israel Journal of Botany 28:169-194.
            </li>
            <li>
              Westoby, M., B. Walker, I. Noy-Meir. 1989. <a href="/files/Westobyetal_JRM_1989.pdf">Opportunistic management for rangelands not at equilibrium</a>. Journal of Range Management 42:266-274.
            </li>
          </ul>
          <h2 id="rangelands">Rangelands Special Issue (Dec 2010)</h2>
          <ul class="narrative-list">
            <li>
              Bestelmeyer, B.T., J.R. Brown. 2010. An <a href="/bibliography/10-041.pdf">Introduction to the special issue on ecological sites</a>. Rangelands 32:3-4.<span class="narrative-inset"><img class="narrative-inset-content" style="width:200px" alt="Rangelands journal" src="/assets/images/rangelands32-6.jpg"/></span>
            </li>
            <li>
              Bestelmeyer, B.T., K. Moseley, P.L. Shaver, H. Sanchez, D.D. Briske, M.E. Fernandez-Gimenez. 2010. <a href="/bibliography/10-042.pdf">Practical guidance for developing state-and-transition models</a>. Rangelands 32:23-30.
            </li>
            <li>
              Brown, J.R. 2010. <a href="/files/Brown_EcolSitesHistory_2010.pdf">Ecological sites: Their history, status, and future</a>. Rangelands 32:5-8.
            </li>
            <li>
              Duniway, M.C., B.T. Bestelmeyer, A. Tugel. 2010. <a href="/bibliography/10-043.pdf">Soil processes and properties that distinguish ecological sites and states</a>. Rangelands 32:9-15.
            </li>
            <li>
              Gilgert, W., S. Zack. 2010. <a href="/files/Gilgert_IntegratingMultplEcosystm_2010.pdf">Integrating multiple ecosystem services into ecological site descriptions</a>. Rangelands 32:49-54.
            </li>
            <li>
              Karl, J.W., J.E. Herrick. 2010. <a href="/bibliography/10-039.pdf">Monitoring and assessment based on ecological sites</a>. Rangelands 32:60-64.
            </li>
            <li>
              Knapp, C.N., M.E. Fernandez-Gimenez, E. Kachergis. 2010. <a href="/files/Knapp_RoleLocalKnowledge_2010.pdf">The role of local knowledge in state-and-transition model development</a>. Rangelands 32:31-36.
            </li>
            <li>
              Moseley, K., P.L. Shaver, H. Sanchez, B.T. Bestelmeyer. 2010. <a href="/bibliography/10-040.pdf">Ecological site development: A gentle introduction</a>. Rangelands 32:16-22.
            </li>
            <li>
              Stringham, T.K., J.P. Repp. 2010. <a href="/files/Stringham_ESDconsiderationRiparian_2010.pdf">Ecological site descriptions: Consideration for riparian systems</a>. Rangelands 32:43-48.
            </li>
            <li>
              Talbot, C.J., S.B. Campbell, M. Hansen, A.B. Price. 2010. <a href="/files/Talbot_InfoTechESD_2010.pdf">Information technologies and ecological site descriptions</a>. Rangelands 32:55-59.
            </li>
            <li>
              Townsend, L. 2010. <a href="/files/Townsend_ESDDevelopmental_2010.pdf">Ecological site descriptions: Developmental considerations for woodlands and forests</a>. Rangelands 32:37-42.
            </li>
          </ul>
          <h2 id="techniques">General Concepts and Techniques</h2>
          <ul class="narrative-list">
            <li>
              Bashari, H., C. Smith, O.J.H. Bosch. 2009. <a href="/files/Bashari_BayesianSTM_EcolMod_2009.pdf">Developing decision support tools for rangeland management by combining state and transition models and Bayesian belief networks</a>. Agricultural Systems 99:23-34
            </li>
            <li>
              Bestelmeyer, B.T. 2006. <a href="/bibliography/06-030.pdf">Threshold concepts and their use in rangeland management and restoration: the good, the bad, and the insidious</a>. Restoration Ecology 14:325-329.
            </li>
            <li>
              Bestelmeyer, B.T., D. P. Goolsby, S.R. Archer. 2011. <a href="/bibliography/11-007.pdf">Spatial perspectives in state-and-transition models: a missing link to land management?</a> Journal of Applied Ecology 48:746–757.
            </li>
            <li>
              Bestelmeyer, B.T., D.A. Trujillo, A.J. Tugel, K.M. Havstad. 2006. <a href="/bibliography/06-012.pdf">A multi-scale classification of vegetation dynamics in arid lands: what is the right scale for models, monitoring, and restoration?</a> Journal of Arid Environments 65:296-318.
            </li>
            <li>
              Briske, D.D., S.D. Fuhlendorf, F.E. Smeins. 2006. <a href="/files/Briske_thresholds_REM_2006.pdf">A unified framework for assessment and application of ecological thresholds</a>. Rangeland Ecology and Management 59:225-236.
            </li>
            <li>
              Brown, J.R., B.T. Bestelmeyer. 2008. <a href="/bibliography/08-053.pdf">Resolving critical issues for the development of ecological site descriptions: Summary of a symposium</a>. Rangelands 30:16-18.
            </li>
            <li>
              Brown, J.R., MacLeod, N. 2011.  <a href="/bibliography/11-011.pdf">A site-based approach to delivering rangeland ecosystem services</a>. The Rangeland Journal 33(2):99-108.
            </li>
            <li>
              Brown, J.R., T. Svejcar, M. Brunson, J. Dobrowolski, E. Fredrickson, U. Krueter, K. Launchbaugh, J. Southworth, T. Thurow. 2002. <a href="/files/Brownetal_2002.pdf">Range sites: Are they the appropriate spatial unit for measuring and managing rangelands? </a>Rangelands 24:7-12.
            </li>
            <li>
              Creque, J.A., S.D. Bassett, N.E. West. 1999. <a href="/files/Creque_ecosite_JRM_1999.pdf">Viewpoint: Delineating ecological sites</a>. Journal of Range Management 52:546-549.
            </li>
            <li>
              Friedel, M.H. 1991. <a href="https://www.jstor.org/stable/4002737?origin=JSTOR-pdf">Range condition assessment and the concept of thresholds: A viewpoint</a>. Journal of Range Management 44(5):422-426.
            </li>
            <li>
              Knapp, C.N., M.E. Fernandez-Gimenez. 2009. <a href="/files/Knapp_rancherSTM_REM_2009.pdf">Understanding change: Integrating rancher knowledge Into state-and-transition models</a>. Rangeland Ecol Manage 62:510-521.
            </li>
            <li>
              Knapp, C.N., M.E. Fernandez-Gimenez, D.D. Briske, B.T. Bestelmeyer, X.B. Wu. 2011. <a href="/files/Knapp_STMperceptions_REM_2011.pdf">An assessment of state-and-transition models: perceptions following two decades of development and implementation</a>. Rangeland Ecology and Management 64:598-606.
            </li>
            <li>
              Lopez, D.R., L. Cavallero, M.A. Brizuela, M.R. Aguiar. 2011. <a href="/files/Lopez_structurefunctionSTMAppVegSci_2011.pdf">Ecosystemic structural–functional approach of the state and transition model</a>. Applied Vegetation Science 14:6-16.
            </li>
            <li>
              Rodriguez Iglesias, R.M., M.M. Kothmann. 1997. <a href="https://www.jstor.org/stable/4003307?origin=JSTOR-pdf" target="_blank">Structure and causes of vegetation change in state and transition model applications</a>. Journal of Range Management 50:399-408.
            </li>
            <li>
              Rumpff, L., D.H. Duncan, P.A. Vesk, D.A. Keith, B.A. Wintle. 2011. <a href="https://dx.doi.org/10.1016/j.biocon.2010.10.026" target="_blank">State-and-transition modelling for adaptive management of native woodlands</a>. Biological Conservation 144:1224-1236.
            </li>
            <li>
              Skaggs, R., Z. Edwards, B.T. Bestelmeyer, J.B. Wright, J. Williamson, P. Smith. 2011. <a href="/bibliography/11-016.pdf">Vegetation maps at the passage of the Taylor Grazing Act (1934): A baseline to evaluate rangeland change after a regime shift</a>. Rangelands 33(1):13-19.
            </li>
            <li>
              Steele, C.M., B.T. Bestelmeyer, L.M. Burkett, P.L. Smith, S. Yanoff. 2012. <a href="/bibliography/12-022.pdf">Spatially explicit representation of state-and-transition models</a>. Rangeland Ecology and Management 65:213-222.
            </li>
            <li>
              Williamson, J.C., L. Burkett, B.T. Bestelmeyer, R. Skaggs, K.M. Havstad. 2011. <a href="/bibliography/11-040.pdf">Reinterpreting historical data for evidence-based shrubland management</a>. Natural Resources and Environmental Issues 17(1):1-10.
            </li>
          </ul>
          <h2 id="soil">Soil Science Resources</h2>
          <ul class="narrative-list">
            <li>
              Bestelmeyer, B., J. Ward, J. Herrick, A. Tugel. 2006. <a href="/bibliography/06-027.pdf">Fragmentation effects on soil aggregate stability in a patchy arid grassland</a>. Rangeland Ecology and Management 59:406-415.
            </li>
            <li>
              Burkett, L.M., B.T. Bestelmeyer, A.J. Tugel. 2012. <a href="/files/FieldGuidePedodermPattern.pdf">A field guide to pedoderm and pattern classes, version 2.3</a>. 74 pp.
            </li>
            <li>
              Peterson, F.F. 1981. <a href="/files/Peterson_LandformsBasinRangeProvince.pdf">Landforms of the basin and range province, defined for soil survey</a>. Technical Bulletin 28, Nevada Agricultural Experiment Station, University of Nevada, Reno.
            </li>
            <li>
              Schoeneberger, P.J., D.A. Wysocki, E.C. Benham, W.D. Broderson (editors). 2012. <a href="https://soils.usda.gov/technical/fieldbook/" target="_blank">Field book for describing and sampling soils</a>, Version 3.0. Natural Resources Conservation Service, National Soil Survey Center, Lincoln, NE.
            </li>
            <li>
              Tugel, A., J.E. Herrick, J.R. Brown, M.J. Mausbach, W. Puckett, K. Hipple. 2005. <a href="https://www.soils.org/publications/sssaj/articles/69/3/0738" target="_blank">Soil change, soil survey, and natural resources decision making: a blueprint for action</a>. Soil Science Society of America Journal 69:738–747.
            </li>
          </ul>
          <h2 id="africa">Africa</h2>
          <ul class="narrative-list">
            <li>
              Dougill, A.J., D.S.G. Thomas, A.L. Heathwaite. 1999. <a href="https://www.jstor.org/stable/2564491?origin=JSTOR-pdf">Environmental change in the Kalahari: Integrated land degradation studies for nonequilibrium dryland environments</a>. Annals of the Association of American Geographers 89(3):420-442.
            </li>
            <li>
              Joubert, D.F., A. Rothauge, G.N. Smit. 2008. <a href="https://dx.doi.org/10.1016/j.jaridenv.2008.07.004" target="_blank">A conceptual model of vegetation dynamics in the semiarid Highland savanna of Namibia, with particular reference to bush thickening by <em>Acacia mellifera</em></a>. Journal of Arid Environments 72:2201-2210.
            </li>
          </ul>
          <h2 id="asia">Asia</h2>
          <ul class="narrative-list">
            <li>
              Koniak, G., I. Noy-Meir. 2009. <a href="https://dx.doi.org/10.1016/j.ecolmodel.2009.01.036" target="_blank">A hierarchical, multi-scale, management-responsive model of Mediterranean vegetation dynamics</a>. Ecological Modelling 220:1148–1158.
            </li>
          </ul>
          <h2 id="australia">Australia</h2>
          <ul class="narrative-list">
            <li>
              Ash, A.J., J.A. Bellamy, T.G.H. Stockwell. 1994. <a href="http://www.tropicalgrasslands.info/public/journals/4/Historic/Tropical%20Grasslands%20Journal%20archive/Abstracts/Vol_28_1994/Abs_28_04_94_pp223_228.html" target="_blank">State and transition models for rangelands: Application of state and transition models to rangelands in northern Australia</a>. Tropical Grasslands 28:223-228.
            </li>
            <li>
              Bellamy, J.A., J.R. Brown. 1994. <a href="http://www.tropicalgrasslands.info/public/journals/4/Historic/Tropical%20Grasslands%20Journal%20archive/Abstracts/Vol_28_1994/Abs_28_04_94_pp247_255.html" target="_blank">State and transition models for rangelands: Building a state and transition model for management and research on rangelands</a>. Tropical Grasslands 28:247-255.
            </li>
            <li>
              Brown, J.R. 1994. <a href="http://www.tropicalgrasslands.info/public/journals/4/Historic/Tropical%20Grasslands%20Journal%20archive/Abstracts/Vol_28_1994/Abs_28_04_94_pp206_213.html" target="_blank">State and transition models for rangelands: Ecology as a basis for rangeland management: Performance criteria for testing models</a>. Tropical Grasslands 28:206-213.
            </li>
            <li>
              Filet, P.G. 1994. <a href="http://www.tropicalgrasslands.info/public/journals/4/Historic/Tropical%20Grasslands%20Journal%20archive/Abstracts/Vol_28_1994/Abs_28_04_94_pp214_222.html" target="_blank">State and transition models for rangelands: The impact of the state and transition model on grazing lands research, management and extension - A review</a>. Tropical Grasslands 28:214-222.
            </li>
            <li>
              Grace, A.C., N.D. MacLeod. 1994. <a href="http://www.tropicalgrasslands.info/public/journals/4/Historic/Tropical%20Grasslands%20Journal%20archive/Abstracts/Vol_28_1994/Abs_28_04_94_pp241_246.html" target="_blank">State and transition models for rangelands: State and transition models as aids to communication between scientists and land managers</a>. Tropical Grasslands 28:241-246.
            </li>
            <li>
              Hall, T.J., P.G. Filet, B. Banks, R.G. Silcock. 1994. <a href="http://www.tropicalgrasslands.info/public/journals/4/Historic/Tropical%20Grasslands%20Journal%20archive/Abstracts/Vol_28_1994/Abs_28_04_94_pp270_273.html" target="_blank">State and transition models for rangelands: A state and transition model of the Aristida-Bothriochloa pasture community of central and southern Queensland</a>. Tropical Grasslands 28:270-273.
            </li>
            <li>
              Jones, P., W.H. Burrows. 1994. <a href="http://www.tropicalgrasslands.info/public/journals/4/Historic/Tropical%20Grasslands%20Journal%20archive/Abstracts/Vol_28_1994/Abs_28_04_94_pp279_283.html" target="_blank">State and transition models for rangelands: A state and transition model for the mulga zone of south-west Queensland</a>. Tropical Grasslands 28:279-283.
            </li>
            <li>
              McArthur, S.R., H.J. Chamberlain, D.G. Phelps. 1994. <a href="http://www.tropicalgrasslands.info/public/journals/4/Historic/Tropical%20Grasslands%20Journal%20archive/Abstracts/Vol_28_1994/Abs_28_04_94_pp274_278.html" target="_blank">State and transition models for rangelands: A general state and transition model for the mitchell grass, bluegrass-browntop and Queensland bluegrass pasture zones of northern Australia</a>. Tropical Grasslands 28:274-278.
            </li>
            <li>
              McIntyre, S., S. Lavorel. 2007. <a href="https://dx.doi.org/10.1016/j.agee.2006.06.013" target="_blank">A conceptual model of land use effects on the structure and function of herbaceous vegetation</a>. Agriculture, Ecosystems and Environment 119:11–21.
            </li>
            <li>
              McIvor, J.G., J.C. Scanlan. 1994. <a href="http://www.tropicalgrasslands.info/public/journals/4/Historic/Tropical%20Grasslands%20Journal%20archive/Abstracts/Vol_28_1994/Abs_28_04_94_pp256_259.html" target="_blank">State and transition models for rangelands: A state and transition model for the northern speargrass zone</a>. Tropical Grasslands 28:256-259.
            </li>
            <li>
              Orr, D.M., C.J. Paton, S. McIntyre. 1994. <a href="http://www.tropicalgrasslands.info/public/journals/4/Historic/Tropical%20Grasslands%20Journal%20archive/Abstracts/Vol_28_1994/Abs_28_04_94_pp266_269.html" target="_blank">State and transition models for rangelands: A state and transition model for the southern black speargrass zone of Queensland</a>. Tropical Grasslands 28:266-269.
            </li>
            <li>
              Scanlan, J.C. 1994. <a href="http://www.tropicalgrasslands.info/public/journals/4/Historic/Tropical%20Grasslands%20Journal%20archive/Abstracts/Vol_28_1994/Abs_28_04_94_pp229_240.html" target="_blank">State and transition models for rangelands: The use of state and transition models for predicting vegetation change in rangelands</a>. Tropical Grasslands 28:229-240.
            </li>
            <li>
              Stockwell, T.G.H., R.T. Andison, A.J. Ash , J.A. Bellamy, R.M. Dyer. 1994. <a href="http://www.tropicalgrasslands.info/public/journals/4/Historic/Tropical%20Grasslands%20Journal%20archive/Abstracts/Vol_28_1994/Abs_28_04_94_pp260_265.html" target="_blank">State and transition models for rangelands: Development of state and transition models for pastoral management of the golden beard grass and limestone grass pasture lands of NW Australia</a>. Tropical Grasslands 28:260-265.
            </li>
            <li>
              Whalley, R.D.B. 1994. <a href="http://www.tropicalgrasslands.info/public/journals/4/Historic/Tropical%20Grasslands%20Journal%20archive/Abstracts/Vol_28_1994/Abs_28_04_94_pp195_205.html" target="_blank">State and transition models for rangelands: Successional theory and vegetation change. </a>Tropical Grasslands 28:195-205.
            </li>
            <li>
              Yates, C.J., R.J. Hobbs. 1997. <a href="https://onlinelibrary.wiley.com/doi/10.1046/j.1526-100X.1997.09703.x/pdf" target="_blank">Woodland restoration in the Western Australian Wheatbelt: A conceptual framework using a state and transition model</a>. Restoration Ecology 5(1):28-35.
            </li>
          </ul>          
          <h2 id="europe">Europe</h2>
          <ul class="narrative-list">
            <li>
              Casado, M.A., J.M. de Miguel, F.D. Pineda. 1997. <a href="/files/Casado_mountainDehesagrasslandSpainSTM_Ecotropicos_1997.pdf">Modelo de estados y transiciones en pastizales Mediterraneos Montana y Dehesa del centro de la Peninsula Iberica</a>. Ecotropicos 10(2):113-132.
            </li>
            <li>
              Fernandez Ales, R., M.J. Leiva. 1997. <a href="/files/Ales_SpainMediterraneanSavannaSTM_Ecotropicos_1997.pdf">Sabanas Mediterraneas: Modelo de sstados y transiciones</a>. Ecotropicos 10(2):133-150.
            </li>
          </ul>
          <h2 id="n-america">North America</h2>
          <ul class="narrative-list">
            <li>
              Bagchi, S., D.D. Briske, X.B. Wu, M.P. McClaran, B.T. Bestelmeyer, M.E. Fernandez-Gimenez. 2012. <a href="/bibliography/12-021.pdf">Empirical assessment of state-and-transition models with a long-term vegetation record from the Sonoran Desert</a>. Ecological Applications 22(2):400-411.
            </li>
            <li>
              Bestelmeyer, B.T., J.E. Herrick, J.R. Brown, D.A. Trujillo, K.M. Havstad. 2004. <a href="/files/Best_ENM_S&amp;T_2004.pdf">Land management in the American Southwest: a state-and-transition approach to ecosystem complexity</a>. Environmental Management 34:38-51.
            </li>
            <li>
              Davies, G.M., J.D. Bakker, E. Dettweiler-Robinson, P.W. Dunwiddie, S.A. Hall, J. Downs, J. Evans. 2012. <a href="/files/Davies_sagebrushsteppefireSTM_EcoApp_2012.pdf">Trajectories of change in sagebrush steppe vegetation communities in relation to multiple wildfires</a>. Ecological Applications 22(5):1562–1577.
            </li>
            <li>
              George, M.R., J.R. Brown, W.J. Clawson. 1992. <a href="https://www.jstor.org/stable/4002898?origin=JSTOR-pdf" target="_blank">Application of nonequilibrium ecology to management of Mediterranean grasslands</a>. Journal of Range Management 45:436-440.
            </li>
            <li>
              Miller, M.E. 2005. <a href="https://pubs.usgs.gov/sir/2005/5197/">The structure and functioning of dryland ecosystems: Conceptual models to inform long-term ecological monitoring</a>. U. S. Geological Survey Scientific Investigations Report 2005-5197. Reston, VA. 74 pp.
            </li>
            <li>
              Miller, M.E., R.T. Belote, M.A. Bowker, S.L. Garman. 2011. <a href="https://dx.doi.org/10.1890/ES11-00027.1" target="_blank">Alternative states of a semiarid grassland<br />
              ecosystem: implications for ecosystem services</a>. Ecosphere 2(5):art55.
            </li>
            <li>
              Twidwell, D., S.D. Fuhlendorf, C.A. Taylor, Jr., W.E. Rogers. 2013. <a href="https://dx.doi.org/10.1111/1365-2664.12063" target="_blank">Refining thresholds in coupled fire–vegetation models to improve management of encroaching woody plants in grasslands</a>. Journal of Applied Ecology 50(3):603-613.
            </li>
            <li>
              Zweig, C.L., W.M. Kitchens. 2009. <a href="/files/Zweig_WetlandSTM_Ecology_2009.pdf">Multi-state succession in wetlands: a novel use of state and transition models</a>. Ecology 90(7):1900-1909.
            </li>
          </ul>
          <h2 id="s-america">South America</h2>
          <ul class="narrative-list">
            <li>
              Aguilera, M.O., D.F. Steinaker, M.R. Demaría, A.O. Ávila. 1998. <a href="/files/Aguilera_STM_PampaEcotropicos_1998.pdf">Estados y transiciones de los pastizales de <em>Sorghastrum pellitum</em> del área medanosa de San Luís, Argentina</a>. Ecotropicos 11:107-120.
            </li>
            <li>
              Barrera, M.D., J.L. Frangi. 1997. <a href="/files/Barrera_SierradelaVentanaLaPampaSTM_Ecotropicos_1997.pdf">Modelo de estados y transiciones de la arbustificacion de pastizales de Sierra de la Ventana, Argentina</a>. Ecotropicos 10(2):161-166.
            </li>
            <li>
              Kunst, C., E. Monti, H. Perez, J. Godoy. 2006. <a href="https://dx.doi.org/10.1016/j.jenvman.2005.10.001" target="_blank">Assessment of the rangelands of southwestern Santiago del Estero, Argentina, for grazing management and research</a>. Journal of Environmental Management 80:248–265.
            </li>
            <li>
              Leon, R.J.C., S.E. Burkart. 1998. <a href="/files/LeonBurkart_floodedpampaSTM_Ecotropicos_1998.pdf">El pastizal de la pampa deprimida: Estados alternativos</a>. Ecotropicos 11(2):121-130.
            </li>
            <li>
              Meirelles, M.L., C.A. Klink, J.C. Sousa Silva. 1997. <a href="/files/Meirelles_BrazilcerradoSTM_Ecotropicos_1997.pdf">Un modelo de estados y transiciones para el Cerrado Brasileno</a>. Ecotropicos 10(2):45-50.
            </li>
            <li>
              Menghi, M., M. Herrera. 1998. <a href="/files/Menghi_MarChiquitafloodplainSTM_Ecotropicos_1998.pdf">Modelo de estados y transiciones para pastizales del Valle de Inundacion del Rio Dulce (Depresion de Mar Chiquita, Cordoba, Argentina)</a>. Ecotropicos 11(2):131-140.
            </li>
            <li>
              Paruelo, J.M. 1993. <a href="/files/Paruelo_secuenciasDeDeteriroPatagonia_INTA-GTZ_1993.pdf">Secuencias de deterioro en distintos ambientes patagonicos. Su caracterizacion mediante el modelo de estados y transiciones</a>. Instituto Nacional de Tecnología Agropecuaria, Deutsche Gesellschaft für Technische Zusammenarbeit, Bariloche, Rıo Negro, Argentina.
            </li>
            <li>
              Pereira da Silva, M., G. Sarmiento. 1997. <a href="/files/PereiradaSilva_HyperSeasonalsavannaLlanosVenezuelaSTM_Ecotropicos_1997.pdf">Un modelo de estados y transiciones de la sabana hiperestacional de los Llanos Venezolanos</a>. Ecotropicos 10(2):79-86.
            </li>
            <li>
              Pucheta, E., M. Cabido, S. Diaz. 1997. <a href="/files/Pucheta_MountainGrasslandCordobaSTM_Ecotropicos_1997.pdf">Modelo de Estados y Transiciones Para los Pastizales de Altura de las Sierras de Cordoba, Argentina</a>. Ecotropicos 10(2):151-160.
            </li>
            <li>
              Sarmiento, G., J.F. Silva. 1997. <a href="/files/Sarmiento_VenezuelanLlanosSTM_Ecotropicos_1997.pdf">Un Modelo de Estados y Transiciones de la Sabana Estacional de los Llanos Venezolanos</a>. Ecotropicos 10(2):51-64.
            </li>
          </ul>
          <h2 id="animals">Wildlife/Animals in State and Transition Models</h2>
          <ul class="narrative-list">
            <li>
              Holmes, A.L., R.F. Miller. 2010. <a href="https://dx.doi.org/10.2193/2009-417" target="_blank">State-and-transition models for assessing grasshopper sparrow habitat use</a>. Journal of Wildlife Management 74(8):1834-1840.
            </li>
            <li>
              Letnic, M., C.R. Dickman. 2010. <a href="https://dx.doi.org/10.1111/j.1469-185X.2009.00113.x" target="_blank">Resource pulses and mammalian dynamics: conceptual models for hummock grasslands and other Australian desert habitats</a>. Biological Reviews 85(3):501-521.
            </li>
            <li>
              Williams, M.I., G.B. Paige, T.L. Thurow, A.L. Hild, K.G. Gerow. 2011. <a href="/files/Williams_songbirdESDSTM_REM_2011.pdf">Songbird relationships to shrub-steppe ecological site characteristics</a>. Rangeland Ecology and Management 64:109-118.
            </li>
          </ul>
        </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>
    </footer>
  </body>
  <script src="/assets/js/jer-side-navigation.js" type="text/javascript"></script>
  <script src="/assets/js/jer-core.js" type="text/javascript"></script>
</html> 