<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>ESD Development Resources</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section id="hero" style="background-image: url('/files/images/beartooth-sampling-jer.jpg');">
      <div id="title-block" class="hero-section">
        <div id="title">
          <h1>Development Resources</h1>
          <h3>
            <a href="/">
              <img class="site-map-icon" src="/files/icons/home_symbol_orange.svg">
            </a>
            <span class="site-map-sep"></span>
            <a href="/knowledge-systems">Land Health Knowledge Systems</a>
            <span class="site-map-sep"></span>
            <a href="/knowledge-systems/esd">Ecological Site Descriptions</a>
          </h3>
        </div>
      </div>
    </section>
    <section>
      <div class="side-navigation-port">
        <nav class="side-navigation">
          <ul class="side-menu">
            <span class="side-navigation-title">Sections:</span>
            <li><a class="side-menu-link" href="/knowledge-systems/esd">Introduction</a></li>
            <li><a class="side-menu-link active" href="/knowledge-systems/esd/development-resources">Development Resources</a></li>
            <li><a class="side-menu-link" href="/knowledge-systems/esd/literature">Literature</a></li>
            <li><a class="side-menu-link" href="/knowledge-systems/esd/workshops-presentations">Workshops and Presentations</a></li>
            <li><a class="side-menu-link" href="/knowledge-systems/esd/international">International</a></li>
            <li><a class="side-menu-link" href="https://edit.jornada.nmsu.edu">Access</a></li>
          </ul>
        </nav>
      </div>
      <div class="content-section centered">
        <div class="narrative-content">
          <h2>Ecological Site Description Development Resources</h2>
          <p>Following <a href="/files/bibliography/09-004.pdf">Bestelmeyer et al.</a> (2009) and <a href="/files/bibliography/10-040.pdf">Moseley et al.</a> (2010), we provide dataforms that can be used in vegetation and soil inventory. The sampling units we have used are 20 x 20 m (400 m2) plots with a soil pit at the center. The Low Intensity Traverse form can be used to gather large numbers of samples across a project area and develop initial ecological site concepts. The Medium Intensity Plant Inventory can be used to collect quantitative data on vegetation using either ocular estimation of cover and/or production, line point intercept (LPI), or both. In high cover, high diversity environments, LPI is often preferred, whereas ocular estimates are useful in low cover and patchy environments and to record species that are rare at a site. Procedures for High Intensity Inventory are discussed in the Soil Change Guide and are used to provide detailed characterizations of an ecological state, often the reference state and community phase of an ecological site. The Medium or High Intensity Soil Characterization form can be used to collect information about the soil profile alongside vegetation data. Finally, the Medium or High Intensity Pedoderm and Pattern Classes form is used to gather information about soil surface properties in conjunction with vegetation and soil profile measurements.</p>
          <p>Information about monitoring and assessment methods useful for ESD development (including LPI) is provided in Monitoring and Assessment resources and instructions for the use of the Pedoderm and Pattern Classes is provided in the Field Guide.</p>
        </div>  
        <h2>Data forms for ESD development</h2>
        <ul class="resource-list">
          <li>
            <a class="resource document-resource" href="/files/ESD_Traverse_Form.xls">
              <span>Low Intensity Traverse (v. 3.0)</span>
            </a>
          </li>
          <li>
            <a class="resource document-resource" href="/files/ESD_MediumIntensity_plant.xls">
              <span>Medium Intensity Plant Inventory</span>
            </a>
          </li>
          <li>
            <a class="resource document-resource" href="/files/production_dataform.pdf">
              <span>Medium Intensity Plant Production (optional)</span>
            </a>
          </li>
          <li>
            <a class="resource document-resource" href="ftp://ftp-fc.sc.egov.usda.gov/NSSC/soil_change/soil_change_low.pdf">
              <span>High Intensity Inventory - refer to Soil Change Guide, Appendix 3</span>
            </a>
          </li>
          <li>
            <a class="resource document-resource" href="/files/ESD_soil.xls">
              <span>Medium or High Intensity Soil Characterization</span>
            </a>
          </li>
          <li>
            <a class="resource document-resource" href="/files/ESD_pedoderm-v3.xls">
              <span>Medium or High Intensity Pedoderm and Pattern Classes (v. 3.0)</span>
            </a>
          </li>
        </ul>
        <h2>Methods for ESD Development</h2>
        <ul class="resource-list">
          <li>
            <a class="resource document-resource" href="/files/DK-MethodPage.pdf">
              <span>Domin-Krajina (DK) Cover Class Method</span>
            </a>
          </li>
          <li>
            <a class="resource document-resource" href="/files/DK-cover_class_examples.pdf">
              <span>DK Cover Class Reference Sheet</span>
            </a>
          </li>
          <li>
            <a class="resource document-resource" href="/files/FieldGuidePedodermPattern.pdf">
              <span>A Field Guide to Pedoderm and Pattern Classes</span>
            </a>
          </li>
          <li>
            <a class="resource document-resource" href="/files/PC_RRC_SRC_Training_Slides-Feb2013.pdf">
              <span>Pedoderm and Pattern Class Workshop - slides in PDF</span>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>
    </footer>
  </body>
  <script src="/js/jer-side-navigation.js" type="text/javascript"></script>
  <script src="/js/jer-core.js" type="text/javascript"></script>
</html>