<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/jer-core.css">
    <title>International ESD Development</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section id="hero" style="background-image: url('/assets/images/mongolia-field-sampling-jer.jpg');">
      <div id="title-block" class="hero-section">
        <div id="title">
          <h1>International Development</h1>
          <h3>
            <a href="/">
              <img class="site-map-icon" src="/assets/icons/home_symbol_orange.svg">
            </a>
            <span class="site-map-sep"></span>
            <a href="/knowledge-systems">Land Health Knowledge Systems</a>
            <span class="site-map-sep"></span>
            <a href="/knowledge-systems/esd">Ecological Site Descriptions</a>
          </h3>
        </div>
      </div>
    </section>
    <section>
      <div class="side-navigation-port">
          <nav class="side-navigation">
            <ul class="side-menu">
              <span class="side-navigation-title">Sections:</span>
            <li><a class="side-menu-link" href="/knowledge-systems/esd">Introduction</a></li>
            <li><a class="side-menu-link" href="/knowledge-systems/esd/development-resources">Development Resources</a></li>
            <li><a class="side-menu-link" href="/knowledge-systems/esd/literature">Literature</a></li>
            <li><a class="side-menu-link" href="/knowledge-systems/esd/workshops-presentations">Workshops and Presentations</a></li>
            <li><a class="side-menu-link active" href="/knowledge-systems/esd/international">International</a></li>
            <li><a class="side-menu-link" href="https://edit.jornada.nmsu.edu">Access</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="content-section centered">
        <div class="narrative-content">
          <h2>International Collaboration on Ecological Sites and State-and-Transition Models</h2>
          <ul class="narrative-list">
            <li>Argentina</li>
            <li>Mongolia</li>
          </ul>
          <p>Potential-based land classification and state-and-transition models are potentially important tools to promote sound ecosystem stewardship, biodiversity, and food security throughout the world.  Fortunately, these tools have a deep history outside of the United States.<span class="narrative-inset"><img class="narrative-inset-content" alt="Mongolia soil features" src="/assets/images/mongolia-soil-features.jpg"/></span> For example, land classifications called “ecological sites” have been used for forestry applications in Great Britain (Ray 2001), “land systems” mapping is well developed in Australia (van Gool and Moore 1999; and see <a href="https://www.publish.csiro.au/nid/289/aid/16090.htm">https://www.publish.csiro.au/nid/289/aid/16090.htm</a>), “biogeoclimatic units” are used in forested systems in Canada (Green and Klinka 1994) and “landscape units” were proposed as a basis for management planning in Germany (Bastian 2000).</p>
          <p>State-and-transition models (STMs) have their conceptual origins in Australian ecosystems (Westoby et al., 1989). Following this publication, systematic approaches to produce STMs for various ecosystem types were developed in Australia (Whalley 1994 and other papers in the journal Tropical Grasslands), in the Patagonian region of Argentina (Paruelo et al., 1993), and across several other ecosystems in Argentina, Brazil, Venezuela, and Spain (León and Burkart 1997 and other papers in the Venezuelan journal Ecotrópicos) nearly a decade before such efforts were underway in the US.</p>
          <p>International interest in the potential uses of STMs continues to be strong (e.g., Hobbs and Suding 2009, Walker and Salt 2012), but a continuing challenge is to develop and integrate these tools such that they can be used to guide decision making. The US has had success in applying STMs by integrating them with land classification linked to soil mapping (ecological sites) and presenting information on specific management practices (called “conservation practices”) in Ecological Site Description (ESD) documents. Most importantly, the USDA Natural Resources Conservation Service, a federal agency responsible for technical and financial assistance to landowners, develops and uses ESDs as part of its planning and outreach activities.</p>
          <p>Realizing the potential of land classifications and STMs to organize ecological knowledge and make it useful and available requires attention to several features including 1) the logic and content of classifications, maps and STMs; 2) the level of specificity and spatial scale of the products; 3) the attributes and information represented; 4) the institutions responsible and methods for producing and delivering information; and 5) the institutional mechanisms by which these tools are likely to be used in decision making and interpreting assessment and monitoring data. The institutional mechanisms of use—for example via technical assistance, incentives, or regulations at individual, community, or governmental levels—are critically important and should drive how the other features are approached.</p>
          <p>Consequently, for international efforts, it is not enough to replicate ESDs as they are produced in the US, or to improve the scientific rigor of maps and models. Rather, we must first understand the management and policy context in which land classifications and models can be used and from there chart a course to developing useful information products. With this approach in mind, the Jornada has joined with researchers in Argentina and Mongolia to initiate ecological site and STM development strategies through training, workshops, and field research. Click on Argentina or Mongolia to see some of the products from these collaborative efforts.</p>
          <h2>References</h2>
          <p>Bastian O (2000) Landscape classification in Saxony (Germany) – a tool for holistic regional planning. Landscape and Urban Plannning, 50, 145–155.</p>
          <p>Green RN, Klinka K (1994) A field guide for site identification and interpretation for the Vancouver Forest Region. British Columbia Ministry of Forests, Victoria, B.C. Land Management Handbook. 28.</p>
          <p>Hobbs RJ, Suding KN, eds. (2009) New models for ecosystem dynamics and restoration. Island Press, Washington, DC, USA.</p>
          <p>León RJC, Burkart SE (1998) El pastizal de la Pampa Deprimida: estados alternativos. Ecotrópicos, 11, 121-130.</p>
          <p>Paruelo, JM, Bertiller MB, Schlichter TM, and Coronato, FR (1993) Secuencias de deterioro en distintos ambientes patagónicos. Su caracterización mediante el modelo de estados y transiciones. Instituto Nacional de Tecnología Agropecuaria, Deutsche Gesellschaft für Technische Zusammenarbeit, Bariloche, Rıo Negro, Argentina.</p>
          <p>Ray D (2001) Ecological Site Classification, Version 1.7. A PC-Based Decision Support System for British Forests. Forestry Commission, Edinburgh.</p>
          <p>van Gool D, Moore G (1999) Land evaluation standards for land resource mapping – Guidelines for assessing land qualities and determining land capability in south-west Western Australia, 2nd edition. Resource Management Technical Report 181.</p>
          <p>Walker BH, Salt D (2012) Resilience practice: building capacity to absorb disturbance and maintain function. Island Press, Washington DC, USA.</p>
          <p>Whalley RDB (1994) State and transition models for rangelands. 1. Successional theory and vegetation change. Tropical Grasslands, 28, 195-205.</p>
        </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>
    </footer>
  </body>
  <script src="/assets/js/jer-side-navigation.js" type="text/javascript"></script>
  <script src="/assets/js/jer-core.js" type="text/javascript"></script>
</html> 