<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>Jobs</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section id="hero">
      <div id="title-block" class="simple-title-block hero-section">
        <div class="centered">
          <div id="title">
            <h1>Jobs</h1>
            <h3><a href="/">Jornada Experimental Range</a></h3>
          </div>
        </div>
      </div>
    </section>
    <section id="job-listings" class="tinted">
      <div class="content-section centered">
        <h2>Jornada 2023 Fellowship Program</h2>
        <p><b>Apply to become a Jornada Fellow</b><br>Jornada fellows will join an active and collaborative community of Jornada scientists and postdocs to address the pressing challenges of supporting resilient and sustainable agroecosystems. Beyond the specific projects listed below, fellows will have opportunities to develop new cross-disciplinary, cross-thematic research. These opportunities include but are not limited to attending regular Jornada scientist meetings, presenting at Jornada workshops and seminars, and collaborating with Jornada’s partners at science institutions, conservation and land management agencies, NGOs, ranchers and producers.</p> 
        <div class="accordion-list">  
          <ul class="announcement-list">
            <li class="announcement job-announcement">
              <div class="announcement-background"></div>
              <div class="announcement-date">Posted 8 days ago</div>
              <h3 class="announcement-title">Postdoctoral Ecologist</h3>
              <h5 class="announcement-subtitle">USDA Agricultural Research Service</h5>
              <div class="jer-button job-listings-button accordion" role="button" tabindex="0">Details</div>
              <div class="accordion-panel">
                <h4 class="inline-text">Contact:</h4>
                <p class="inline-text">Sarah McCord (<a href="mailto:sarah.mccord@usda.gov">sarah.mccord@usda.gov</a>)</p><br>
                <h4 class="inline-text paired-heading">Status:</h4>
                <p class="inline-text">Open until filled, applications will be reviewed as they are received.</p>
                <h4>Position Summary</h4>
                <p>The USDA ARS Jornada Experimental Range in Las Cruces, NM seeks a highly motivated postdoctoral ecologist to contribute to projects investigating ecological dynamics and resilience on US rangelands. The successful candidate will leverage big data, such as large monitoring datasets stored in the Landscape Data Commons, remote sensing products such as the Rangeland Analysis Platform, climate, and soils data to identify where US rangelands are resilient and where rangelands might be at-risk requiring adjustments to land management.  The project involves: 1) using monitoring data to identify where native species communities remain; 2) using remote sensing data to look at trends on rangelands to identify communities that appear to be resilient to state change; 3) identify where restoration actions and other conservation practices might build resilience to known rangeland stressors (e.g., invasive species, drought, fire, climate change). This project will be co-developed under the supervision of Dr. Sarah McCord with our partners at the Bureau of Land Management and the Natural Resources Conservation Service Conservation Effects Assessment Project Grazing Lands Component.  In addition to published papers, project outcomes include providing products to land managers to help prioritize the application of restoration and conservation practices.</p>
                <h4>Qualifications</h4>
                <p>We are seeking applicants with a PhD in ecology, environmental sciences, natural resources, geography, or related fields who have experience in landscape scale processes, soil-vegetation relationships, plant community dynamics, and how they vary across space and time. Qualified candidates will also have experience coding and/or modeling (R, Python). Experience working on rangelands and with Google Earth Engine is preferred. This position is open to only U.S. citizens.</p>
                <h4>Appointment</h4>
                <p>The anticipated start date is negotiable (preferred first quarter of 2023). The appointment is for 2 years, with renewal after the first year based upon performance and funding. This is a full-time appointment based at the Jornada Experimental Range in Las Cruces, New Mexico, USA. The Jornada Experimental Range is a USDA-ARS laboratory located on the New Mexico State University campus. The incumbent would therefore be expected to work closely with both USDA and University employees.</p>
                <h4>Salary and Benefits</h4>
                <p>The position will be hired as a Research Associate at the GS 11/12 level.</p>
                <h4>To Apply</h4>
                <p>Applications will be reviewed as they are received. Interested individuals should submit a statement outlining your experience and research interests with respect to the requisite qualifications, a current CV, and the names and contact information of three references. For questions and to submit an application contact Dr. Sarah McCord (<a href="sarah.mccord@usda.gov">sarah.mccord@usda.gov</a>).</p>
              </div>
            </li>
            <li class="announcement job-announcement">
              <div class="announcement-background"></div>
              <div class="announcement-date">Posted 8 days ago</div>
              <h3 class="announcement-title">Postdoctoral Position: Aeolian Process Modeling</h3>
              <h5 class="announcement-subtitle">New Mexico State University</h5>
              <div class="jer-button job-listings-button accordion" role="button" tabindex="0">Details</div>
              <div class="accordion-panel">
                <h4 class="inline-text">Contact:</h4>
                <p class="inline-text">Brandon Edwards (<a href="mailto:bedwar4@nmsu.edu">bedwar4@nmsu.edu</a>), Nicholas Webb (<a href="mailto:nwebb@nmsu.edu">nwebb@nmsu.edu</a>)</p><br>
                <h4 class="inline-text paired-heading">Status:</h4>
                <p class="inline-text">Open until filled, applications will be reviewed as they are received.</p>
                <h4>Position Summary</h4>
                <p>The Jornada Experimental Range is seeking applicants for a postdoctoral scholar position with a focus on continued development of a wind erosion model to evaluate the impacts of land use and land cover change on aeolian sediment transport and mineral dust emissions in the United States. The incumbent’s research will be directed toward parameterizing the Aeolian EROsion (AERO) model across land use and land cover types, including modification of the drag partition scheme to resolve effects of turbulent flow around plants and other erodible and non-erodible roughness. The incumbent is expected to use data from and collaborate with partners across the National Wind Erosion Research Network and USDA Long-Term Agroecosystem Research (LTAR) network. The broad program objective is to develop AERO as a wind erosion and air quality decision-support tool and produce analyses that contribute to management objectives of partner agencies, including the Natural Resources Conservation Service (NRCS) and Bureau of Land Management (BLM). The position therefore requires a multi-disciplinary approach that promotes close working relationships with USDA Agricultural Research Service (ARS) scientists, universities, and government agencies, including a highly collaborative group of soil scientists and ecologists at the Jornada.</p>
                <h4>Required Qualifications</h4>
                <p>Candidates must have a PhD in Physical Geography, Meteorology, Earth Science, Soil Science or related field by appointment start date. The successful candidate will have evidence of: (1) interest and expertise in aeolian processes and environmental modelling, (2) experience in Python programming, or a demonstrated ability to learn the languages rapidly for environmental modeling applications, and (3) a demonstrated ability to publish research in appropriate outlets.</p>
                <h4>Preferred  Qualifications</h4>
                <p>We seek a highly collaborative postdoctoral scholar with research experience in aeolian process theory and/or modelling. Successful applicants should be highly motivated and creative. They should be willing to work independently and as a part of a diverse and multi-disciplinary team and have excellent written and oral communication skills.</p>
                <h4>Appointment</h4>
                <p>The anticipated start date is negotiable (preferred first quarter of 2023). The appointment is for 1 year, with renewal after the first year based upon performance and funding. This is a full-time appointment based at the Jornada Experimental Range in Las Cruces, New Mexico, USA. The Jornada Experimental Range is a USDA-ARS laboratory located on the New Mexico State University campus. The incumbent would therefore be expected to work closely with both USDA and University employees.</p>
                <h4>Salary and Benefits</h4>
                <p>The position will be hired at the level of Postdoctoral Researcher.</p>
                <h4>To Apply</h4>
                <p>Interested individuals should submit a statement outlining your experience and research interests with respect to the requisite qualifications, a current CV and the names and contact information of three references. Letters of reference may be requested of finalists.</p>
              </div>
            </li>
            <li class="announcement job-announcement">
              <div class="announcement-background"></div>
              <div class="announcement-date">Posted 8 days ago</div>
              <h3 class="announcement-title">Restoration Ecologist</h3>
              <h5 class="announcement-subtitle">New Mexico State University</h5>
              <div class="jer-button job-listings-button accordion" role="button" tabindex="0">Details</div>
              <div class="accordion-panel">
                <h4 class="inline-text">Contact:</h4>
                <p class="inline-text">Nick Webb (<a href="mailto:nwebb@nmsu.edu">nwebb@nmsu.edu</a>)</p><br>
                <h4 class="inline-text paired-heading">Status:</h4>
                <p class="inline-text">Hire in process</p>
                <h4>Position Summary</h4>
                <p>The Jornada Experimental Range at New Mexico State University is seeking a highly motivated postdoctoral researcher with a background in dryland science and ecology to investigate the links among land management and restoration practices and wind erosion. This position will leverage the recently developed Landscape Data Commons (LDC) and Aeolian EROsion (AERO) wind erosion model to produce original, applied research to inform dryland science and support land management and conservation actions on US rangelands. The LDC is an inter-agency monitoring data repository and portal, led by the USDA-ARS at the Jornada Experimental Range, that connects standardized monitoring data to analysis tools to support land management and research. AERO is an aeolian sediment transport and dust emission modeling scheme developed to leverage standardized ecological monitoring data to produce plot-scale estimates of horizontal (saltation) and vertical (dust emission) sediment flux. The successful candidate will be expected to collaborate with a diverse partnership of scientists and natural resource managers under the supervision of Drs. Sarah McCord, Nicholas Webb, and Brandon Edwards to conduct original research that quantifies landscape response to management treatments—including fuel removal, restoration efforts, and post-fire treatments, among others—and the impact of treatments on wind erosion and associated ecosystem attributes. Specifically, the candidate will identify critical gaps in our current understanding of the impact of management on ecogeomorphic interactions on rangelands, specifically relating to wind erosion, 2) develop methodologies that leverage the LDC database of standard monitoring data and model estimates to address these gaps, and 3) produce research products that communicate findings to the dryland science community and provide guidance to stakeholders on how to improve management and restoration practices.</p>
                <h4>Qualifications</h4>
                <p>Applicants should have a PhD in ecology, geography, natural resources, or a related discipline. Candidates should also have a demonstrated knowledge of scientific computing (including Python and R) and experience with large dataset manipulation and analysis. Preference will be given to those with a background that includes restoration ecology, wind erosion or aeolian processes. Familiarity with data collected as part of national rangeland inventory and monitoring programs (e.g., DOI Bureau of Land Management Assessment, Inventory, and Monitoring, USDA Natural Resources Inventory) is also preferred. Successful applicants should be highly motivated and creative and be willing to work independently and as a part of a diverse, multi-disciplinary team. This position comes with benefits and relocation expense reimbursement.</p>
                <h4>Appointment</h4>
                <p> This appointment is for an initial period of two years but may be renewed contingent upon funding and performance.</p>
              </div>
            </li>
            <li class="announcement job-announcement">
              <div class="announcement-background"></div>
              <div class="announcement-date">Posted 8 days ago</div>
              <h3 class="announcement-title">Postdoctoral Position: Rangeland/Natural Resources Social Science</h3>
              <h5 class="announcement-subtitle">New Mexico State University</h5>
              <div class="jer-button job-listings-button accordion" role="button" tabindex="0">Details</div>
              <div class="accordion-panel">
                <h4 class="inline-text">Contact:</h4>
                <p class="inline-text">Brandon Bestelmeyer (<a href="mailto:brandon.bestelmeyer@usda.gov">brandon.bestelmeyer@usda.gov</a>)</p><br>
                <h4 class="inline-text paired-heading">Status:</h4>
                <p class="inline-text">Open until filled, applications will be reviewed as they are received.</p>
                <h4>Position Summary</h4>
                <p>The Jornada Experimental Range is seeking applicants for a postdoctoral scholar position to conduct research on the relationship of information and technology to decision making, adaptation, and sustainability in rangelands, potentially including a variety of technologies and decision makers. The Jornada and other organizations have been involved in creating several tools and information sources intended to improve decision making (e.g., monitoring methods, land classification, mobile and web apps, precision ranching), some of which have been highly successful with respect to adoption. The science community, however, has seldom considered who does or does not take up these tools, how often and how they are used, and especially how they ultimately influence decisions and production/environmental/well-being outcomes when used. The broad question addressed by this project is: Does available scientific information and technology improve outcomes in rangelands? Other potential questions include: How might we reduce the costs of adoption for more widespread use; Which tools/approaches are inherently limited to certain purposes and audiences; How should we design/redesign tools; What is the best model for tool sustainability and user support into the future? In addition to our many stakeholders, the Jornada science team itself has decades of experience in tool use, successes, and failures that has not yet been systematically examined. This project will be overseen by Dr. Brandon Bestelmeyer from the USDA Jornada Experimental Range, Dr. Mark Brunson from Utah State University, and Dr. Emile Elias and staff of the USDA Southwest Climate Hub.</p>
                <h4>Qualifications</h4>
                <p>Applicants should have a PhD in social science, anthropology, geography, ecology, natural resources, or a related discipline. Candidates should also have a demonstrated knowledge of social science data collection design and methods and analyzing data from both qualitative (interviews, focus groups, workshops) and quantitative (from surveys etc.) sources. Candidates should have  a strong interest in and commitment to interdisciplinary research. Preferred qualifications include familiarity and/or experience with (1) research on land management decision-making; (2) rangeland management; (3) geospatial analysis of social science data; (4) collaboration in an interdisciplinary team.</p>
                <h4>Appointment</h4>
                <p>The anticipated start date is negotiable (preferred first quarter of 2023). The appointment is for 1 year, with renewal after the first year based upon performance. This is a full-time appointment with New Mexico State University based at the Jornada Experimental Range in Las Cruces, New Mexico, USA. The Jornada Experimental Range is a USDA-ARS laboratory located on the New Mexico State University campus. The incumbent would therefore be expected to work closely with both USDA and University employees.</p>
                <h4>To Apply</h4>
                <p>Interested individuals should submit a statement outlining experience and research interests with respect to the requisite qualifications, a current CV, and the names and contact information of three references. Letters of reference may be requested of finalists.</p>
              </div>
            </li>
            <li class="announcement job-announcement">
              <div class="announcement-background"></div>
              <div class="announcement-date">Posted 8 days ago</div>
              <h3 class="announcement-title">Postdoctoral Position: Rangeland-Based Agricultural Systems Modeling</h3>
              <h5 class="announcement-subtitle">New Mexico State University</h5>
              <div class="jer-button job-listings-button accordion" role="button" tabindex="0">Details</div>
              <div class="accordion-panel">
                <h4 class="inline-text">Contact:</h4>
                <p class="inline-text">Sheri Spiegal (<a href="mailto:sheri.spiegal@usda.gov">sheri.spiegal@usda.gov</a>)</p><br>
                <h4 class="inline-text paired-heading">Status:</h4>
                <p class="inline-text">Open until filled, applications will be reviewed as they are received.</p>
                <h4>Position Summary</h4>
                <p>Agriculture in the U.S. Southwest is tied to regional, national, and international supply chains. Supply chain approaches can have social, ecological, and environmental tradeoffs which may be hard for consumers, policymakers, and producers to see without the help of models. This postdoctoral researcher will use an integrated modeling approach to quantify the outcomes of alternative agricultural supply chains on social-ecological systems of the arid Southwest and regions telecoupled to the Southwest via flows of commodities, money, and information.The suite of integrated models will be determined by the incumbent and in collaboration with scientists conducting synergistic research that can inform the models (e.g., ranch enterprise budgets, predictions of the degree to which western rangelands can support grass finishing, manureshed modeling, and the Integrated Farm System Model). Examples of modeling approaches to be developed and used include: telecoupling, partial or full life cycle analyses, geospatial analysis. The incumbent will collaborate in the <a href="https://southwestbeef.org/" target="_blank">Sustainable Southwest Beef Project</a> and Long-Term Agroecosystem Research network (LTAR).</p>
                <h4>Qualifications</h4>
                <p>Research assignment requires professional knowledge of data mining technologies, information management and analysis, and spatial modeling of coupled ecological and socioeconomic patterns and processes (e.g., with GIS, remote sensing products, R/Python, Google Earth Engine).</p>
                <h4>Appointment</h4>
                <p>The anticipated start date is negotiable (preferred first quarter of 2023). The appointment is for 1 year, with renewal after the first year based upon performance. This is a full-time appointment with New Mexico State University based at the Jornada Experimental Range in Las Cruces, New Mexico, USA. The Jornada Experimental Range is a USDA-ARS laboratory located on the New Mexico State University campus. The incumbent would therefore be expected to work closely with both USDA and University employees.</p>
                <h4>To Apply</h4>
                <p>Interested individuals should submit a statement outlining experience and research interests with respect to the requisite qualifications, a current CV, and the names and contact information of three references. Letters of reference may be requested of finalists.</p>
              </div>
            </li>
            <li class="announcement job-announcement">
              <div class="announcement-background"></div>
              <div class="announcement-date">Posted 8 days ago</div>
              <h3 class="announcement-title">Postdoctoral Position: Predicting Forage Greenness in Drylands</h3>
              <h5 class="announcement-subtitle">New Mexico State University</h5>
              <div class="jer-button job-listings-button accordion" role="button" tabindex="0">Details</div>
              <div class="accordion-panel">
                <h4 class="inline-text">Contact:</h4>
                <p class="inline-text">Dawn Browning (<a href="mailto:Dawn.Browning@usda.gov">Dawn.Browning@usda.gov</a>)</p><br>
                <h4 class="inline-text paired-heading">Status:</h4>
                <p class="inline-text">Open until filled, applications will be reviewed as they are received.</p>
                <h4>Position Summary</h4>
                <p>Plant phenology is of paramount importance to ecosystem function and management, yet there are knowledge gaps in dryland systems. The Jornada Experimental Range is seeking highly motivated applicants for a postdoctoral scholar position to generate remotely sensed estimates of forage condition, vegetation greenness, and forage availability. The successful candidate will work with multidisciplinary team to leverage big data, such as large monitoring datasets stored in the Landscape Data Commons, remote sensing products such as the Rangeland Analysis Platform and related tools, climate, and soils data to model near-real-time estimates of rangeland vegetation greenness. Models will inform development of decision support tools in the <a href="https://southwestbeef.org/" target="_blank">Sustainable Southwest Beef Project</a> and Long-Term Agroecosystem Research network.</p>
                <h4>Qualifications</h4>
                <ul class="narrative-list">
                  <li>Ph.D. in Geography, Natural Resources, Ecosystem Ecology, Data Science</li>
                  <li>Experience in analyzing remotely sensed imagery</li>
                  <li>Understanding principles of rangeland ecology and management is a plus</li>
                  <li>Knowledge and understanding of rangeland vegetation databases</li>
                  <li>Knowledge and training in remote sensing principles and data analysis</li>
                  <li>Demonstrated knowledge of scientific computing (including Python and R)</li>
                </ul>
                <h4>Appointment</h4>
                <p>The anticipated start date is negotiable (preferred first quarter of 2023). The appointment is for 1 year, with renewal after the first year based upon performance. This is a full-time appointment with New Mexico State University based at the Jornada Experimental Range in Las Cruces, New Mexico, USA. The Jornada Experimental Range is a USDA-ARS laboratory located on the New Mexico State University campus. The incumbent would therefore be expected to work closely with both USDA and University employees.</p>
                <h4>To Apply</h4>
                <p>Interested individuals should submit a statement outlining experience and research interests with respect to the requisite qualifications, a current CV, and the names and contact information of three references. Letters of reference may be requested of finalists.</p>
              </div>
            </li>
            <li class="announcement job-announcement">
              <div class="announcement-background"></div>
              <div class="announcement-date">Posted 8 days ago</div>
              <h3 class="announcement-title">Climate Hub Fellow - Water Resource Projections; Climate Projections</h3>
              <h5 class="announcement-subtitle">New Mexico State University</h5>
              <div class="jer-button job-listings-button accordion" role="button" tabindex="0">Details</div>
              <div class="accordion-panel">
                <h4 class="inline-text">Contact:</h4>
                <p class="inline-text">Emile Elias (<a href="mailto:emile.elias@usda.gov">emile.elias@usda.gov</a>)</p><br>
                <h4 class="inline-text paired-heading">Status:</h4>
                <p class="inline-text">Open until filled, applications will be reviewed as they are received.</p>
                <h4>Position Summary</h4>
                <h4>Qualifications</h4>
                <h4>Appointment</h4>
                <h4>To Apply</h4><p>Interested individuals should submit a statement outlining experience and research interests with respect to the requisite qualifications, a current CV, and the names and contact information of three references. Letters of reference may be requested of finalists.</p>
              </div>
            </li>
            <li class="announcement job-announcement">
              <div class="announcement-background"></div>
              <div class="announcement-date">Posted 8 days ago</div>
              <h3 class="announcement-title">Soil Scientist/Technology Developer</h3>
              <h5 class="announcement-subtitle">New Mexico State University</h5>
              <div class="jer-button job-listings-button accordion" role="button" tabindex="0">Details</div>
              <div class="accordion-panel">
                <h4 class="inline-text">Contact:</h4>
                <p class="inline-text">Jeff Herrick (<a href="mailto:jeff.herrick@usda.gov">jeff.herrick@usda.gov</a>)</p><br>
                <h4 class="inline-text paired-heading">Status:</h4>
                <p class="inline-text">Open until filled, applications will be reviewed as they are received.</p>
                <h4>Position Summary</h4>
                <p>You will join a global network of scientists working to increase the ability of anyone, anywhere in the world, to access and apply site-specific knowledge and information necessary for sustainable land management, including regenerative and more traditional agriculture and rangeland management. The algorithms you create will make it easier for non-soil scientists to accurately predict soils and soil properties based on a variety of inputs including traditional soil maps, digital soil maps, digital elevation models, soil survey descriptions and field observations. Your algorithms will be made available through the next generation of LandPKS mobile apps and through APIs, ensuring that your work will have global impact. The position is based at the Jornada Experimental Range at New Mexico State University. You will have the option of working remotely or at the Jornada, allowing you to collaborate directly with a large, dynamic team of researchers working on related issues while collaborating with global scientists and technology developers at ISRIC, IFDC, USAID, the University of Colorado, CGIAR centers, and TechMatters (a technology for good NGO based in the Silicon Valley), among others.</p>
                <h4>Required Qualifications</h4>
                <ul class="narrative-list">
                  <li>Degree in a natural resources-related field.</li>
                  <li>Knowledge and understanding of global soil databases, and both traditional and digital soil maps.</li>
                  <li>Desire to work as part of a global multi-institution team to develop the next generation of soil information tools.</li>
                  <li>Demonstrated knowledge of scientific computing (including Python and R)</li>
                </ul>
                <h4>Preferred Qualifications</h4>
                <ul class="narrative-list">
                  <li>Understanding of Bayesian statistics and Value of Information Theory, and ability to develop and test algorithms for soil property prediction and identification.</li>
                  <li>Understanding of spatial statistics and applied predictive modeling.</li>
                </ul>
                <h4>Appointment</h4>
                <p>Two years, with extension possible depending on funding. Salary and benefits commensurate with experience.</p>
                <h4>To Apply</h4>
                <p>Interested individuals should submit a statement outlining your experience and research interests with respect to the requisite qualifications, a current CV and the names and contact information of three references. Letters of reference may be requested of finalists.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>
    </footer>
  </body>
  <script src="/js/jer-accordion-list.js" type="text/javascript"></script>
  <script src="/js/jer-core.js" type="text/javascript"></script>
</html> 