<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>Presentations</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section class="simple-section tinted">
      <div class="content-section centered">
        <h2>Jornada Virtual Symposium Presentations (November 12, 2020)</h2>
        <p>Below you will find links to recorded presentations and posters. The presentations represent recent Jornada research and outreach activities organized around four themes described below. They do not represent all work at the Jornada, but reflect the diversity of approaches we are taking to promote natural resources conservation and agricultural sustainability.</p>
        <p>You will find videos of varying length and level of detail (all are on YouTube at our <a href="https://www.youtube.com/playlist?list=PL5EFfPlJj-PPH01dsmFxghwSg3kPM5uRX" target="_blank">2020 Jornada Symposium channel</a>). You can choose topics and video lengths that suit you.</p>
        <h4>Climate adaptation in the Southwest</h4>
        <p>The USDA Southwest Climate Hub team prepared flash presentations (&lt;3 minutes each) to showcase our climate adaptation projects. The Hub has three functional areas: 1) research, science synthesis, assessments, 2) tool evaluation, development and technology transfer, and 3) convening, outreach and education. These short presentations describe weather and climate challenges and adaptation solutions for agriculture, natural resources and communities in the southwestern United States.</p>
        <ul class="narrative-list">
          <li><a href="https://youtu.be/jKyPUQmXcY8" target="_blank">USDA Climate Hubs: Advancing Conservation Under a Changing Climate</a> by Emile Elias [video]</li>
          <li><a href="https://youtu.be/eGS3TtDUUz4" target="_blank">Stakeholder Engagement: Western Drought Resilience Workshop</a> by Maude Dinan [video]</li>
          <li><a href="https://youtu.be/_IU6FrQgKnI" target="_blank">Sustainable Southwest Beef Project Overview</a> by Reanna Burnett [video]</li>
          <li><a href="https://youtu.be/-k2Lqu5Lf7g" target="_blank">Snapshot of Rancher Perspectives on Creative Cattle Management Options</a> by Skye Aney [video]</li>
          <li><a href="https://youtu.be/etZmP2xShzk" target="_blank">Decision Support Tool for the Beef Cattle Industry</a> by Coury Dorn [video]</li>
          <li><a href="https://youtu.be/iRunOnQwEQ0" target="_blank">Grass-Cast: An Experimental Grassland Productivity Forecast</a> by Lauren Kramer [video]</li>
          <li><a href="https://youtu.be/dbntP3DQByM" target="_blank">Low Cost Precipitation Monitoring Tools</a> by Helena Deswood [video]</li>
          <li><a href="https://youtu.be/SP62gRRIPtw" target="_blank">Incorporating Climate into Resource Management Decisions</a> by Courtney Peterson [video]</li>
          <li><a href="https://youtu.be/HK17AUQNs6o" target="_blank">Southwest Climate Hub Education Resources</a> by Asombro Institute [video]</li>
          <li><a href="https://youtu.be/tdcjhgDPyNs" target="_blank">The Drought Learning Network</a> by Caitriana Steele [video]</li>
        </ul>
        <h4>Southwest beef supply chains - strategies for sustainability</h4>
        <p>The first three sets of presentations explore climate-related challenges and strategies for sustainability in the beef supply chains originating from the Southwestern US. The last two sets of presentations examine how the strategies may influence environmental and socioeconomic outcomes, and how the agricultural producers of today and tomorrow perceive these strategies for sustainability.</p>
        <h5><i>Climate context</i></h5>
        <ul class="narrative-list">
          <li><a href="https://youtu.be/I-QDn0OOFew" target="_blank">Long-term Declining Trends in Chihuahuan Desert Forage Production in Relation to Precipitation and Ambient Temperature</a> by Matthew McIntosh [video]</li>
        </ul>
        <h5><i>Ranching strategies</i></h5>
        <ul class="narrative-list">
          <li><a href="https://youtu.be/HhDxSAij59c" target="_blank">Adaptation of Rangeland Beef Production to Climate Change in the Desert Southwest</a> by Andres Cibils [video]</li>
          <li><a href="https://youtu.be/HtiZZCluJms" target="_blank">Criollo Cattle: A Focus on Sustainable Cattle Production</a> by ranchers Alfredo Gonzalez, Cindy Tolle, and Rob Paulin [video]</li>
          <li><a href="https://youtu.be/I7PDcp01PE0" target="_blank">Sustainable Southwest Beef Breed Comparison Study</a> by Matthew McIntosh [video]</li>
          <li><a href="https://episodes.buzzsprout.com/4oll79nyc1y38d44yxxuy9iy0zss?" target="_blank">A Conversation about Precision Ranching Technologies</a> with Sheri Spiegal and Tony Waterhouse [podcast]</li>
          <li><a href="https://youtu.be/nIve9wEJ3eI" target="_blank">Building and Testing a Precision Ranching System</a> by Shelemia Nyamuryekung'e [video]</li>
        </ul>
        <h5><i>Feedlot finishing strategies</i></h5>
        <ul class="narrative-list">
          <li><a href="https://youtu.be/XpM5B-mT3bw" target="_blank">Recycling Nutrients among Distant Links of the Beef Supply Chain</a> by Sheri Spiegal [video]</li>
        </ul>
        <h5><i>Sustainability outcomes of the strategies</i></h5>
        <ul class="narrative-list">
          <li><a href="https://youtu.be/__bkZsz1JTE" target="_blank">Soil Health in New Mexico Rangelands</a> by Carolina Brandani [video]</li>
          <li><a href="https://youtu.be/5Ujp7hiDKIE" target="_blank">Evaluating Effects of Supply Chain Options</a> by Mark Musumba [video]</li>
        </ul>
        <h5><i>Feedback from students and producers</i></h5>
        <ul class="narrative-list">
          <li><a href="https://youtu.be/-k2Lqu5Lf7g" target="_blank">Snapshot of Rancher Perspectives on Creative Cattle Management Options</a> by Skye Aney [video]</li>
          <li><a href="https://youtu.be/FnSr3-9f-E8" target="_blank">New Mexico Bull Management</a> by Keegan Taylor [video]</li>
          <li><a href="https://youtu.be/6XxHOZL4tr8" target="_blank">How to Play 'Solving the Beef'</a> - a game by the Asombro Institute [video]</li>
        </ul>
        <h4>Ecosystem dynamics and management</h4>
        <p>The first set of presentations provide examples of how long-term and large-scale data resources are being used to understand ecosystem change on the Jornada Experimental Range. One presentation also describes how Jornada data are now managed and can be accessed by the public. The second set of presentations illustrate recent strategies for coupling monitoring data to models and Ecological Site Descriptions to inform management decisions in rangelands across the western U.S.</p>
        <h5><i>Ecosystem dynamics</i></h5>
        <ul class="narrative-list">
          <li><a href="https://youtu.be/gVXtqBWs_eo" target="_blank">A Century of Vegetation Change on the Jornada Experimental Range</a> by Erica Christensen [video]</li>
          <li><a href="https://youtu.be/rQoHceimLRU" target="_blank">Shrub Cover Change in Southwest Rangelands Over the Past Decade</a> by Wenjie Ji [video]</li>
          <li><a href="https://youtu.be/p6oYD3zsr_0" target="_blank">Hidden Biodiversity: How Soil Seed Banks Vary Across Ecological Sites and States in the Chihuahuan Desert</a> by Kirsten Romig [video]</li>
          <li><a href="https://jornada.nmsu.edu/sites/jornada.nmsu.edu/files/ASM_2018_ERLE_JER_estab_Final_updated2020.pdf" target="_blank">Predicting Lehmann's Lovegrass Expansion at the Jornada USDA-ARS Site Under Future Climate Scenarios</a> by Dylan Burruss [poster]</li>
          <li><a href="https://youtu.be/_Mw3L3IVLNk" target="_blank">Soil Isotopic Memory of C4 Grasses</a> by Curtis Monger [video]</li>
          <li><a href="https://youtu.be/XqN8m8Q1UAY" target="_blank">Navigating the Jornada Data Ecosystem</a> by Greg Maurer, Darren James, and John Ragosta [video]</li>
        </ul>
        <h5><i>Management approaches and tools</i></h5>
        <ul class="narrative-list">
          <li><a href="https://youtu.be/_wm2sOyJ5Qk" target="_blank">Big Data, Local Science: Not an Oxymoron</a> by Brandon Bestelmeyer [video]</li>
          <li><a href="https://youtu.be/HH8NPfjyRm8" target="_blank">Linking Erosion Prediction to Ecosystem Services through Big Ecological Data</a> by Nick Webb [video]</li>
          <li><a href="https://youtu.be/0WmyjwALDec" target="_blank">Using Monitoring Data to Develop Ecological Site Concepts</a> by Allie Heller [video]</li>
          <li><a href="https://youtu.be/uc2iPlWcc2I" target="_blank">Ecological Site Summaries and Applications for Condition Thresholds and Treatment Monitoring</a> by Rachel Burke and Dylan Hardy [video]</li>
          <li><a href="https://youtu.be/hx39TNG610U" target="_blank">Using Monitoring Data for Wind Erosion Assessments</a> by Nick Webb [video]</li>
        </ul>
        <h4>Big data science and tools</h4>
        <p>Presentations describe a wide range of tools and research approaches that capitalize on “big data” (large datasets often housed in multiple, linked databases) and other technologies, such as web and mobile applications, to provide new insights about agricultural and ecological phenomena and provide spatially precise information to farmers and land managers.</p>
        <ul class="narrative-list">
          <li><a href="https://youtu.be/YCMnDHyOl-o" target="_blank">LandPKS - Knowledge for Sustainable Land Management In Your Hands</a> by Jeff Herrick [video]</li>
          <li><a href="https://jornada.nmsu.edu/sites/jornada.nmsu.edu/files/deb_esa_poster_2019_final_updated2020.pdf" target="_blank">Greening of North American Deserts: Predicting Grass Responses Using AI Technologies</a> by Debra Peters [poster]</li>
          <li><a href="https://jornada.nmsu.edu/sites/jornada.nmsu.edu/files/VSV_GC_poster_2018_final_updated2020.pdf" target="_blank">A Trans-Disciplinary Framework for Predictive Disease Ecology Based on Cross-Scale Interactions: Insight from Long-Term Data</a> by Debra Peters [poster]</li>
          <li><a href="https://jornada.nmsu.edu/sites/jornada.nmsu.edu/files/scinet_heather_2019_updated2020.pdf" target="_blank">The DASH Portal: Supporting Agricultural Research by Automating Geospatial Data Tasks</a> by Heather Savoy [poster]</li>
          <li><a href="https://youtu.be/fivThc88REA" target="_blank">The Pipeline of Data in Large-Scale Phenology Forecasts</a> by Shawn Taylor [video]</li>
          <li><a href="https://youtu.be/gkmeVviXijc" target="_blank">Quality Assurance and Quality Control in Ecology</a> by Sarah McCord [video]</li>
          <li><a href="https://jornada.nmsu.edu/sites/jornada.nmsu.edu/files/balanced_design_tool_20200726.pdf" target="_blank">A Web Interface for Creating Random, Spatially Balanced Landscape Monitoring Designs</a> by Nick Webb [poster]</li>
          <li><a href="https://youtu.be/UvrtorDxnb8" target="_blank">A Conversation about Benefits and Features of the LandPKS Habitat Module</a> with Terri Schulz and Tegan May [video]</li>
        </ul>
        <p>Please leave comments or questions about specific presentations or general themes <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=qIfso7ifWEG6j_EbrOHrqnJXDiopR2hJoynSBRIWjbVUOU5QNkcxUDBBSlNLUFg2SzFPUEpLNEIxVS4u" target="_blank">here</a>.</p>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>
    </footer>
  </body>
  <script src="/js/jer-bibliogralihy.js" tylie="text/javascrilit"></script>
  <script src="/js/jer-core.js" tylie="text/javascrilit"></script>
</html> 