<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>Jornada Basin</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section id="hero" style="background-image: url('/files/images/jornada-basin-jer.jpg');">
      <div id="title-block" class="hero-section">
        <div id="title">
          <h1>Jornada Basin</h1>
          <h3>
            <a href="/">Jornada Experimental Range</a>
          </h3>
        </div>
      </div>
    </section>
    <section>
      <div class="side-navigation-port">
        <nav class="side-navigation">
          <ul class="side-menu">
            <span class="side-navigation-title">Jump To:</span>
            <li><a class="side-menu-link" href="#topic-1">Indigenous History of the Jornada Basin</a></li>
            <li><a class="side-menu-link" href="#topic-2">Climate</a></li>
            <li><a class="side-menu-link" href="#topic-3">Soils</a></li>
            <li><a class="side-menu-link" href="#topic-4">Geology</a></li>
            <li><a class="side-menu-link" href="#topic-5">Species Lists</a></li>
          </ul>
        </nav>
      </div>
      <div class="content-section centered">
        <div class="narrative-content">
          <h2 id="topic-1" class="topic-bookmark">Indigenous History of the Jornada Basin</h2>
          <ul class="narrative-list">
            <li><b>11,500 (or earlier)-8,000 B.P.</b> Paleoindian hunter-gatherers created camps along post ice-age lakeshores.</li>
            <li><b>8,000-1,500 B.P.</b> Archaic hunter-gatherer and early farming populations utilized a wide variety of settings, plants, and animals.</li>
            <li><b>500-1450 A.D.</b> Jornada Mogollon made ceramic vessels, intensified farming, and settled increasingly permanent pithouses and adobe pueblo villages.</li>
            <li><b>1450-1870.</b> Jornada Mogollon tradition disappeared and diffuse populations of highly mobile groups (Manso, Suma, Jumano, Apache) continued hunting, gathering, and trading throughout the area.</li>
            <li><b>1870.</b> Indigenous uses of the Jornada area were curtailed by ranching uses.</li>
          </ul>
          <h2 id="topic-2" class="topic-bookmark">Climate</h2>
          <p>The Jornada Experimental Range lies within the Chihuahuan Desert, the largest desert in North America. The climate is typical of semidesert grassland, the most arid of the North American grassland regions. There is an abundance of sunshine, a wide range between day and night temperatures, low relative humidity, and extremely variable precipitation.</p>
          <span class="narrative-inset"><img class="narrative-inset-content" alt="2014 Monsoon Season Precipitation" src="/files/images/2014Monsoon.png"/></span>
          <p>There are two precipitation periods: summer rains occur primarily in July, August, and September; whereas, winter precipitation occurs from December to February. Winter frontal storms originate over the Pacific Ocean and are characterized by gentle, low-intensity precipitation that covers wide areas and may last for several days. Summer precipitation originates in the Gulf of Mexico and occurs as intense, convective thunderstorms that are highly localized and of short duration.</p>
          <p>Rainfall records exist for the Jornada Experimental Range headquarters since 1915 and at other locations on the Range for equal or shorter time spans. Mean annual precipitation is 9.72 inches (247 mm) with 53 percent of the annual rainfall occurring between July 1 and September 30. Droughts, or periods of low rainfall that seriously injure vegetation, are a recurrent climatic phenomenon. Severe droughts occurred in 1916-18, 1921-26, 1934, and 1951-57. The 1951-57 drought is believed to be the most severe in the past 350 years.</p>
          <p>Mean maximum ambient temperature is highest in June when it averages 97 F (36 C); temperature is lowest in January when the mean maximum is 56 F (13.3 C). The effective growing season, when both precipitation and temperature are favorable, is normally July through September.</p>
          <div class="narrative-figure">
            <img class="narrative-figure-image" src="/files/images/2014CumltvPrecip.png" alt="Select standard rain gauge monthly and cumulative totals through September 2014">
            <div class="narrative-figure-caption">
              <span>Select standard rain gauge monthly and cumulative totals through September 2014</span>
            </div>
          </div>
          <p>Precipitation monthly averages are calculated from daily maximum temperature and precipitation values. Along with minimum temperature, data have been collected at Jornada headquarters since June 4, 1914. The data record (incomplete at this time) is available at  It is also available through the NOAA Satellite and Information Service <a href="https:/www.ncdc.noaa.gov">https:/www.ncdc.noaa.gov</a></p>
          <div class="narrative-figure">
            <img class="narrative-figure-image" src="/files/images/Monsoon start_3.jpg" alt="Monsoon precipitation">
            <div class="narrative-figure-caption">
              <span>The monsoon season, the period during the summer when thunderstorms provide a little more than 50% of our annual precipitation, is defined by the National Weather Service as June 15 - September 30. The graph above was developed from a 35-year record of daily rainfall within the northern portion of Dona Ana County, New Mexico, about 25 miles northeast of Las Cruces, NM. The graph presents the date each year we have estimated to best represent the start of the monsoon season. Typically, the monsoon season most often starts the first week of July, but it has started as early as June 15 and as late as August 6, since 1976.</span>
            </div>
          </div>
          <h2 id="topic-3" class="topic-bookmark">Soils</h2>
          <p>Twenty-two different soil types are present on the Jornada Plain. These soils have almost no humus or organic matter, and there is little change in texture between surface soil and subsoil. Lime content is high in all soil types. Through time, lime from the soil and from calcareous dust has leached downward and deposited at the depth to which rainfall normally penetrates, from a few inches to several feet. This zone of lime accumulation, or caliche layer, is often so thick and dense that penetration by water or roots is severely limited.</p>
          <h2 id="topic-4" class="topic-bookmark">Geology</h2>
          <p>The ages of geologic material in the Jornada vicinity range from Precambrian granites to Historical eolian and arroyo sediments. The Precambrian rocks are exposed on the east side of the San Andres and Organ Mountains where they have been uplifted thousands of feet by folding and faulting. Covering the Precambrian rocks are Paleozoic marine rocks, predominately limestones, that record shallow seas having spread across the once level Precambrian landscape. The San Andres and Franklin Mountains are mainly composed of these Paleozoic marine rocks.</p>
          <p>Mesozoic rocks are less common indicating uplift in the Las Cruces area until the Cretaceous when seas again spread across the area to deposit sandstones. Many Cretaceous rocks in southern New Mexico, however, are non-marine and contain paleosols and dinosaur fossils. The Mesozoic ended and the Tertiary was ushered in by a period of mountain building—the Larramide orogeny—documented by bouldery alluvial fan deposits. Much of the Jornada Basin is filled with sediments derived from erosion of adjacent Laramide uplifts.</p>
          <p>By middle Tertiary (ca. 30 million years ago), the Jornada region was a place of immense volcanic activity, as volcanism associated with the Organ Mountains produced sequences of igneous rocks over two miles thick. Since the Dona Ana Mountains are chemically and chronologically similar to the Organ Mountains, they are probably part of the same volcanic cauldron.</p>
          <p>Following the middle Tertiary, volcanism was the beginning of the last chapter of geologic evolution in the Jornada region: tectronic extension. The pulling apart of the crust formed the fault-block mountains in the region, such as the Franklin, San Andres, and Robledo Mountains, as well as the intermontane basins between them. Movement continues and the mountains are still rising as testified by displacement of late Holocene alluvial fans along faults on the eastern side of the Organ and San Andres Mountains. Many of the playas in Jornada region have been produced by normal faults.</p>
          <p>As the Tertiary ended and the Quaternary began, the ancestral Rio Grande was rapidly filling the Jornada, Mesilla, and Hueco basins with river sediment. At that time, the ancestral river emptied into a large lake, Lake Cabeza de Vaca, in northern Chihuahua. Carried along with the river sediment was datable pumice clasts from the Jemez volcanic center in northern New Mexico. Around 750,000 years ago, Lake Cabeza de Vaca, like an overly full bathtub, spilled over its rim at El Paso, and northern Mexico was instantly robbed of a huge freshwater lake. Subsequently, the river downcut through its ancestral sediments to eventually make the confined river valley we see today. When the ancestral Rio Grande entrenched, like a giant drainage ditch, it lowered the regional ground water with it.</p>
          <h2 id="topic-5" class="topic-bookmark">Species Lists</h2>
          <ul class="card-list">
            <li class="card">
              <div class="card-wrapper">
                <div class="card-media" style="background-image:url('')"></div>
                <h5 class="card-heading"><a href="/species/ants">Ants</a></h5>
                <div class="card-description">Entries based largely on collection records in W. MacKay and E. MacKay. 2002. The Ants of New Mexico. Edwin Mellen Press, NY and collections of B. Bestelmeyer. All entries represent collections within the Jornada Basin.</div>
              </div>
            </li>
            <li class="card">
              <div class="card-wrapper">
                <div class="card-media" style="background-image:url('')"></div>
                <h5 class="card-heading"><a href="/species/birds">Birds</a></h5>
                <div class="card-description">Species listed reflect both breeding populations and transient visitors</div>
              </div>
            </li>
            <li class="card">
              <div class="card-wrapper">
                <div class="card-media" style="background-image:url('/files/images/badger-jer-800.jpg')"></div>
                <h5 class="card-heading"><a href="/species/mammals">Mammals</a></h5>
                <div class="card-description">Species found on the Jornada Basin</div>
              </div>
            </li>
            <li class="card">
              <div class="card-wrapper">
                <div class="card-media" style="background-image:url('/files/images/poppies-jer-800.jpg')"></div>
                <h5 class="card-heading"><a href="/species/jer-plants">JER Plant List</a></h5>
                <div class="card-description">Plant list used by the Jornada Experimental Range, with external links to additional plant information</div>
              </div>
            </li>
            <li class="card">
              <div class="card-wrapper">
                <div class="card-media" style="background-image:url('')"></div>
                <h5 class="card-heading"><a href="/species/lter-plants">LTER Plant List</a></h5>
                <div class="card-description">Plant checklist for the NSF/LTER Jornada Basin sites</div>
              </div>
            </li>
            <li class="card">
              <div class="card-wrapper">
                <div class="card-media" style="background-image:url('/files/images/desert-lizard-jer-800.jpg')"></div>
                <h5 class="card-heading"><a href="/species/reptiles-amphibians">Reptiles and Amphibians</a></h5>
                <div class="card-description">Reptiles and amphibians present on the Jornada del Muerto including the Dona Ana Mountains</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>
    </footer>
  </body>
  <script src="/js/jer-side-navigation.js" type="text/javascript"></script>
  <script src="/js/jer-core.js" type="text/javascript"></script>
</html> 
