<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>Land Health Knowledge Systems</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section id="hero" style="background-image: url('/files/images/mongolia-soil-sampling-jer.jpg');">
      <div id="title-block" class="hero-section">
        <div id="title">
          <h1>Land Health Knowledge Systems</h1>
          <h3><a href="/">Jornada Experimental Range</a></h3>
        </div>
      </div>
    </section>
    <section class="highlight">
      <div class="content-section">
        <div class="highlight-text">
          <p>Land Health Knowledge Systems enable producers, land managers, and policy makers to create and interpret data about land with regard to its functioning and health. We work closely with partners curating, training, and improving Inventory, Monitoring, and Assessment Tools primarily for rangelands using standardized field inventory (point-in-time measurement of land conditions) and long-term monitoring methods as well as the Interpreting Indicators of Rangeland Health qualitative assessment methodology.</p>
        </div>
      </div>
    </section>
    <section id="topics">
      <div class="content-section">
        <ul class="topic-list">
          <li class="topic">
            <a class="topic-image" style="background-image: url('/files/images/landscape-data-commons-jer.png');" href="https://www.landscapedatacommons.org" target="_blank"></a>
            <div class="topic-text">
              <div class="topic-text-wrapper">
                <h2 class="topic-heading">Landscape Data Commons</h2>
                <p class="topic-description">The data produced using standardized (core) methods now exceeds over 70,000 locations in the United States and internationally. The Landscape Data Commons provides a centralized database for public use and an expanding set of computational tools to derive indicators and conduct data analyses in support of land management.</p>
                <a class="topic-button jer-button" href="https://www.landscapedatacommons.org" target="_blank">Learn More</a>
              </div>
            </div>
          </li>
          <li class="topic right">
            <a class="topic-image" style="background-image: url('/files/images/landscape-units-jer.jpg');" href="/knowledge-systems/esd"></a>
            <div class="topic-text">
              <div class="topic-text-wrapper">
                <h2 class="topic-heading">Ecological Site Descriptions</h2>
                <p class="topic-description">Ecological Site Descriptions (ESDs) are information systems used to classify land according to potential vegetation states, management options, and transitions among states. ESDs serve as benchmarks for site-specific interpretations of land health and management options. The Jornada is developing databases to develop and house ESDs with the USDA Natural Resources Conservation Service and methods for developing ESDs in the US and internationally.</p>
                <a class="topic-button jer-button" href="/knowledge-systems/esd">Learn More</a>
              </div>
            </div>
          </li>
          <li class="topic">
            <a class="topic-image" style="background-image: url('/files/images/national-wind-erosion-network-jer.jpg');" href="https://winderosionnetwork.org/research" target="_blank"></a>
            <div class="topic-text">
              <div class="topic-text-wrapper">
                <h2 class="topic-heading">National Wind Erosion Research Network</h2>
                <p class="topic-description">The effects of climate and management on wind erosion is a primary concern in drylands due to its effects on land and human health. The National Wind Erosion Research Network (NWERN) is producing publicly accessible data to improve wind erosion models and develop new approaches to using wind erosion data in management decisions.</p>
                <a class="topic-button jer-button" href="https://winderosionnetwork.org/research" target="_blank">Learn More</a>
              </div>
            </div>
          </li>
          <li class="topic right">
            <a class="topic-image" style="background-image: url('/files/images/landpks-jer.jpg');" href="https://landpotential.org/" target="_blank">></a>
            <div class="topic-text">
              <div class="topic-text-wrapper">
                <h2 class="topic-heading">LandPKS</h2>
                <p class="topic-description">The Land Potential Knowledge System (LandPKS) is a mobile application and embedded set of methods that allow users to learn about land health, easily access information in other databases, and produce site-specific data at any location in the world, including soil, vegetation cover, and management data.</p>
                <a class="topic-button jer-button" href="https://landpotential.org/" target="_blank">Learn More</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <img id="windmill-graphic" src="/files/images/onyx-windmill-jer.png" alt="Windmill and mountains">
    <section id="secondary-topics">
      <div class="content-section">
        <ul class="secondary-topic-list">
          <li class="secondary-topic">
            <div class="secondary-topic-wrapper">
              <div class="secondary-topic-icon" style="background-image:url('/files/icons/devices_symbol_white.svg')"></div>
              <h5 class="secondary-topic-heading">EDIT</h5>
              <div class="secondary-topic-description">Access Ecological Site Descriptions.</div>
              <a class="secondary-topic-button jer-button" href="https://edit.jornada.nmsu.edu">Explore</a>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section id="topic-contacts">
      <div class="content-section">
        <h2>Contacts</h2>
        <ul class="contact-list">
          <li class="contact">
            <a class="contact-link" href="/people/brandon-bestelmeyer">
              <div class="contact-image" style="background-image:url('/files/images/people/brandon-bestelmeyer.jpg')"></div>
              <h5 class="contact-name">Brandon Bestelmeyer</h5>
            </a>
          </li>
          <li class="contact">
            <a class="contact-link" href="/people/joel-brown">
              <div class="contact-image" style="background-image:url('/files/images/people/joel-brown.jpg')"></div>
              <h5 class="contact-name">Joel Brown</h5>
            </a>
          </li>
          <li class="contact">
            <a class="contact-link" href="/people/jeff-herrick">
              <div class="contact-image" style="background-image:url('/files/images/people/jeff-herrick.jpg')"></div>
              <h5 class="contact-name">Jeff Herrick</h5>
            </a>
          </li>
          <li class="contact">
            <a class="contact-link" href="/people/sarah-mccord">
              <div class="contact-image" style="background-image:url('/files/images/people/sarah-mccord.jpg')"></div>
              <h5 class="contact-name">Sarah McCord</h5>
            </a>
          </li>
          <li class="contact">
            <a class="contact-link" href="/people/shawn-salley">
              <div class="contact-image" style="background-image:url('/files/images/people/shawn-salley.jpg')"></div>
              <h5 class="contact-name">Shawn Salley</h5>
            </a>
          </li>
          <li class="contact">
            <a class="contact-link" href="/people/nicholas-webb">
              <div class="contact-image" style="background-image:url('/files/images/people/nicholas-webb.jpg')"></div>
              <h5 class="contact-name">Nicholas Webb</h5>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>
    </footer>
  </body>
  <script src="/js/jer-core.js" type="text/javascript"></script>
</html> 
