<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>Jornada Experimental Range</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section id="hero" style="background-image: url('/files/images/mongolia-field-sampling-jer.jpg');">
      <a class="hero-alert" href="/jobs">We're Hiring! View Openings</a>
      <div id="title-block" class="landing-hero-section">
        <div id="title">
          <h1>Jornada Experimental Range</h1>
          <h3>Rangeland Research Programs</h3>
        </div>
        <div class="highlight-text">
          <p>Our mission is to increase sustainability and resilience of multiple land uses in rangelands through collaborative research on ecosystem change, innovative livestock production systems, ecological restoration, and climate adaptation alongside national and global research on land health monitoring and decision support tools.</p>
          <p class="hidden-highlight">We co-create knowledge with agricultural producers, land management agencies, and non-governmental organizations. Our products support land management of hundreds of millions of acres of U.S. rangelands and support farmers and foresters of the Southwest. Collaborations with universities and international organizations augment and magnify the impact of our research to global rangelands and enable discoveries that benefit U.S. agriculture.</p>
          <p class="hidden-highlight">The Jornada is located on the ancestral lands of indigenous peoples of the Southwest. We seek to promote understanding of the history, experience, and place-based knowledge of their original inhabitants.</p>
        </div>
        <div class="flower-diagram">
          <div class="flower">
            <ul class="flower-base">
              <li class="flower-petal" onclick="">
                <span class="flower-theme">Land Health Knowledge Systems</span>
                <span class="flower-projects">
                  <a href="/knowledge-systems"><b>Overview</b></a></br></br>
                  <a href="https://www.landscapedatacommons.org" target="_blank">Landscape Data Commons</a></br></br>
                  <a href="/knowledge-systems/esd">Ecological Site Descriptions</a></br></br>
                  <a href="https://winderosionnetwork.org/research" target="_blank">NWERN</a></br></br>
                  <a href="https://landpotential.org/" target="_blank">LandPKS</a>
                </span>
              </li>
              <li class="flower-petal" onclick="">
                <span class="flower-theme">Ecosystem Responses to Climate and Restoration</span>
                <span class="flower-projects">
                  <a href="/ecosystem-response"><b>Overview</a></b></br></br>
                  <a href="https://lter.jornada.nmsu.edu/">LTER</a></br></br>
                  <a href="/ecosystem-response/long-term-monitoring">Long-Term Vegetation Monitoring</a></br></br>
                  <a href="/ecosystem-response/rangeland-restoration">Rangeland Restoration</a></br></br>
                  <a href="https://www.neonscience.org/field-sites/jorn">Ecosystem Dynamics</a></br></br>
                </span>
              </li>
              <li class="flower-petal" onclick="">
                <span class="flower-theme">Sustainability of Agricultural Supply Chains</span>
                <span class="flower-projects">
                  <a href="/agricultural-sustainability"><b>Overview</b></a></br></br>
                  <a href="/agricultural-sustainability/long-term-agroecosystem-research">LTAR</a></br></br>
                  <a href="https://southwestbeef.org/">Southwest Beef</a>
                </span>
              </li>
              <li class="flower-petal" onclick="">
                <span class="flower-theme">Climate Adaptation for Southwest Agriculture</span>
                <span class="flower-projects">
                  <a href="/climate-adaptation"><b>Overview</b></a></br></br>
                  <a href="https://www.climatehubs.usda.gov/hubs/southwest">Southwest Climate Hub</a></br></br>
                  <a href="tools#web-applications">Web Tools</a>
                </span>
              </li>
              <li class="flower-petal" onclick="">
                <span class="flower-theme">Education, Training, and Outreach</span>
                <span class="flower-projects">
                  <a href="/education"><b>Overview</b></a></br></br>
                  <a href="https://asombro.org/">Asombro</a></br></br>
                  <a href="/events">Field Days and Events</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="topics">
      <div class="content-section">
        <ul class="topic-list">
          <li class="topic">
            <a class="topic-image" style="background-image: url('/files/images/mongolia-soil-sampling-jer.jpg');" href="/knowledge-systems"></a>
            <div class="topic-text">
              <div class="topic-text-wrapper">
                <h2 class="topic-heading">Land Health Knowledge Systems</h2>
                <p class="topic-description">Land Health Knowledge Systems enable producers, land managers, and policy makers to create and interpret data about land with regard to its functioning and health. We work closely with partners curating, training, and improving Inventory, Monitoring, and Assessment Tools primarily for rangelands using standardized field inventory (point-in-time measurement of land conditions) and long-term monitoring methods as well as the Interpreting Indicators of Rangeland Health qualitative assessment methodology.</p>
                <a class="topic-button jer-button" href="/knowledge-systems">Learn More</a>
              </div>
            </div>
          </li>
          <li class="topic right">
            <a class="topic-image" style="background-image: url('/files/images/neon-tower-jer-wide.jpg');" href="/ecosystem-response"></a>
            <div class="topic-text">
              <div class="topic-text-wrapper">
                <h2 class="topic-heading">Ecosystem Responses to Climate and Restoration</h2>
                <p class="topic-description">We conduct long-term research to understand how Southwestern rangeland ecosystems are changing and to understand the fundamental mechanisms of ecosystem change in arid rangelands globally. We facilitate research on the Jornada Experimental Range (JER) by many other researchers.</p>
                <a class="topic-button jer-button" href="/ecosystem-response">Learn More</a>
              </div>
            </div>
          </li>
          <li class="topic">
            <a class="topic-image" style="background-image: url('/files/images/sw-beef-andres-symposium-jer.jpg');" href="/agricultural-sustainability"></a>
            <div class="topic-text">
              <div class="topic-text-wrapper">
                <h2 class="topic-heading">Sustainability of Agricultural Supply Chains</h2>
                <p class="topic-description">We conduct research to improve the sustainability of livestock production in arid rangelands as well as the sustainability of supply chains connected to Southwestern U.S. livestock production. More generally, this research is developing novel approaches to quantify the synergies and tradeoffs of multiple sustainability indicators in agricultural systems as well as the flows of costs and benefits through agricultural supply chains.</p>
                <a class="topic-button jer-button" href="/agricultural-sustainability">Learn More</a>
              </div>
            </div>
          </li>
          <li class="topic right">
            <a class="topic-image" style="background-image: url('/files/images/climate-hubs-jer.jpg');" href="/climate-adaptation"></a>
            <div class="topic-text">
              <div class="topic-text-wrapper">
                <h2 class="topic-heading">Climate Adaptation for Southwest Agriculture</h2>
                <p class="topic-description">The Jornada is proud to host the USDA Southwest Climate Hub, which helps farmers, ranchers, foresters and communities plan for and respond to climate change and extreme events in our region. The Southwest Climate Hub is one of ten Climate Hubs across the nation. Our research programs serve multiple parts of the Hub’s mission.</p>
                <a class="topic-button jer-button" href="/climate-adaptation">Learn More</a>
              </div>
            </div>
          </li>
          <li class="topic">
            <a class="topic-image" style="background-image: url('/files/images/zia-ft-erosion-jer.jpg');" href="/education"></a>
            <div class="topic-text">
              <div class="topic-text-wrapper">
                <h2 class="topic-heading">Education, Training, and Outreach</h2>
                <p class="topic-description">The Asombro Institute for Science Education works with Jornada scientists to translate their research into science lessons for K-12 students. Asombro brings local students to the Chihuahuan Desert Nature Park and Jornada Experimental Range to experience our science first hand. We also conduct regular Botany tours and host an annual Jornada Symposium to share our science with stakeholders and to receive feedback on our scientific directions.</p>
                <a class="topic-button jer-button" href="/education">Learn More</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <img id="windmill-graphic" src="/files/images/onyx-windmill-jer.png" alt="Windmill and mountains">
    <section id="secondary-topics">
      <div class="content-section">
        <ul class="secondary-topic-list">
          <li class="secondary-topic">
            <div class="secondary-topic-wrapper">
              <div class="secondary-topic-icon" style="background-image:url('/files/icons/group_symbol_white.svg')"></div>
              <h5 class="secondary-topic-heading">People</h5>
              <div class="secondary-topic-description">Discover the individuals who make our science possible.</div>
              <a class="secondary-topic-button jer-button" href="/people">Explore</a>
            </div>
          </li>
          <li class="secondary-topic">
            <div class="secondary-topic-wrapper">
              <div class="secondary-topic-icon" style="background-image:url('/files/icons/article_symbol_white.svg')"></div>
              <h5 class="secondary-topic-heading">Publications</h5>
              <div class="secondary-topic-description">We've authored more than 3500 books, book chapters, journal articles and conference abstracts.</div>
              <a class="secondary-topic-button jer-button" href="/publications">Explore</a>
            </div>
          </li>
          <li class="secondary-topic">
            <div class="secondary-topic-wrapper">
              <div class="secondary-topic-icon" style="background-image:url('/files/icons/database_symbol_white.svg')"></div>
              <h5 class="secondary-topic-heading">Data</h5>
              <div class="secondary-topic-description">We've been conducting research for more than a century. See what data are available.</div>
              <a class="secondary-topic-button jer-button" href="/data">Explore</a>
            </div>
          </li>
          <li class="secondary-topic">
            <div class="secondary-topic-wrapper">
              <div class="secondary-topic-icon" style="background-image:url('/files/icons/work_symbol_white.svg')"></div>
              <h5 class="secondary-topic-heading">Jobs</h5>
              <div class="secondary-topic-description">Interested in joining our team? Browse current job openings.</div>
              <a class="secondary-topic-button jer-button" href="/jobs">Explore</a>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>
    </footer>
  </body>
  <script src="/js/jer-core.js" type="text/javascript"></script>
</html> 
