<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>Long-Term Vegetation Monitoring</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section id="hero" style="background-image: url('/files/images/1935-quadrat-charting-jer.jpg');">
      <div id="title-block" class="hero-section">
        <div id="title">
          <h1>Long-Term Vegetation Monitoring</h1>
          <h3>
            <a href="/">
              <img class="site-map-icon" src="/files/icons/home_symbol_orange.svg">
            </a>
            <span class="site-map-sep"></span>
            <a href="/ecosystem-response">Ecosystem Responses to Climate and Restoration</a>
          </h3>
        </div>
      </div>
    </section>
    <section id="topics">
      <div class="side-navigation-port">
        <nav class="side-navigation">
          <ul class="side-menu">
            <span class="side-navigation-title">Jump To:</span>
            <li><a class="side-menu-link" href="#topic-1">Permanent Chart Quadrat Project</a></li>
            <li><a class="side-menu-link" href="#topic-2">References</a></li>
          </ul>
        </nav>
      </div>
      <div class="content-section centered">
        <div class="narrative-content">
          <h2 id="topic-1" class="topic-bookmark">Permanent Chart Quadrat Project</h2>
          <p>The permanent chart quadrat project at the Jornada Experimental Range was established in 1915. Chart quadrat sampling is done using a pantograph, wherein technicians use a stylus attached to an arm to trace the perimeter of plants within the quadrat, and a pencil at the other end of the arm maps the information onto the data sheet. The Jornada quadrat monitoring effort collected yearly data from 1915 to 1979 and resumed at 5- year intervals beginning in 1995. Quadrat data have been used to understand patterns and mechanisms of long- term vegetation change, plant demography, species interactions, and community transitions.</p>
          <div class="narrative-figure">
            <img class="narrative-figure-image" src="/files/images/quadrat-sampling-jer.jpg" alt="Quadrat sampling">
            <div class="narrative-figure-caption">
              <span>Sampling of permanent plant quadrats using a pantograph in 1933 (top) and 2016 (bottom) on the Jornada Experimental Range in southern New Mexico. Pictured in 2016 photograph are Amalia Slaughter and Kirsten Romig, biological science technicians for the USDA-ARS Jornada Experimental Range. Photo credit: top photograph by Fred N. Ares and bottom photograph by Connie Maxwell.</span>
            </div>
          </div>
          <h2 id="topic-2" class="topic-bookmark">References</h2>
          <p>Quadrat- based monitoring of desert grassland vegetation at the Jornada Experimental Range, New Mexico, 1915– 2016 by E. Christensen, D. James, C. Maxwell, A. Slaughter, P. Adler, K. Havstad, and B. Bestelmeyer published in Ecology https:// doi.org/10.1002/ecy.3530.</p>
        </div>
      </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>
  </body>
  <script src="/js/jer-side-navigation.js" type="text/javascript"></script>
  <script src="/js/jer-core.js" type="text/javascript"></script>
</html> 