<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/jer-core.css">
    <title>Ecological Site Descriptions</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section id="hero" style="background-image: url('');">
      <div id="title-block" class="hero-section">
        <div id="title">
          <h1>Long-Term Agroecosystem Research</h1>
          <h3>
            <a href="/">
              <img class="site-map-icon" src="/assets/icons/home_symbol_orange.svg">
            </a>
            <span class="site-map-sep"></span>
            <a href="/agricultural-sustainability">Sustainability of Agricultural Supply Chains</a>
          </h3>
        </div>
      </div>
    </section>
    <section id="topics">
      <div class="side-navigation-port">
        <nav class="side-navigation">
          <ul class="side-menu">
            <span class="side-navigation-title">Jump To:</span>
            <li><a class="side-menu-link" href="#topic-1">Heritage Cattle Production Systems</a></li>
            <li><a class="side-menu-link" href="#topic-2">Precision Technologies</a></li>
            <li><a class="side-menu-link" href="#topic-3">Arid Grassland Restoration</a></li>
            <li><a class="side-menu-link" href="#topic-4">Network-Wide Research Involvement</a></li>
          </ul>
        </nav>
      </div>
      <div class="content-section centered-wide">
        <div class="narrative-content">
          <h2 id="topic-1" class="topic-bookmark">Heritage Cattle Production Systems</h2>
          <p>The little-known heritage Rarámuri Criollo biotype may offer several advantages to arid rangeland beef producers including reduced costs and environmental impacts. We are conducting whole-system comparisons of Criollo and traditional production systems in collaboration with western ranchers. Our core experiment compares desert adapted Angus x Hereford crossbred cattle with the Raramuri Criollo biotype introduced to the Southwestern US by Jornada scientists. Read more about the history of the Raramuri Criollo program <a href="/files/bibliography/21-047.pdf">here</a>.</p>
          <div class="narrative-figure">
            <img class="narrative-figure-image" src="/assets/images/desert-adapted-cattle-jer.jpg" alt="Desert adapted cattle">
            <div class="narrative-figure-caption">
              <span>Top: Desert adapted Angus x Hereford crossbreds Bottom: Bos taurus heritage biotype Rarámuri Criollo.</span>
            </div>
          </div>
          <h2 id="topic-2" class="topic-bookmark">Precision Technologies</h2>
          <p>Smart sensors enable automated monitoring of livestock and ranch resources. Mobile applications linked to spatial data, such as remotely-sensed estimates of rangeland state and forage availability, can provide an ability to understand and manage livestock to use rangeland resources sustainably. These technologies can target management where it is most effective and save money. We collaborate with New Mexico State University in developing and testing these technologies in extensive arid rangeland landscapes of the Southwestern U.S. See the <a href="https://southwestbeef.org/">Sustainable Southwest Beef Project</a> website for the latest information on this program.</p>
          <div class="narrative-figure">
            <img class="narrative-figure-image" src="/assets/images/precision-ranching-jer.png" alt="A concept for precision ranching">
            <div class="narrative-figure-caption">
              <span>A concept for precision ranching, involving software integration of GPS collar and environmental sensor data with spatial data on ranch infrastructure and rangeland conditions. Concept graphic from Dr. Matt McIntosh.</span>
            </div>
          </div>
          <h2 id="topic-3" class="topic-bookmark">Arid Grassland Restoration</h2>
          <p>Perennial grass production has been reduced in many parts of the Southwest due to historical overgrazing and drought events. We are testing the effectiveness of brush management strategies and small structures for recovering grasses (see <a href="/ecosystem-response/rangeland-restoration">Rangeland Restoration</a>).</p>
          <h2 id="topic-4" class="topic-bookmark">Network-Wide Research Involvement</h2>
          <p>The Jornada site is involved in LTAR cross-site coordinated research initiatives, providing contextual observations from highly arid rangeland environments and leading key initiatives based on our expertise.</p>
          <p>We lead or co-lead several network working groups or initiatives, including:</p>
          <ul class="narrative-list">
            <li>The Manureshed Project to discover ways to solve waste and nutrient limitation problems simultaneously.</li>
            <li>The Phenology Project to document the effects of climate on the timing of plant production.</li>
            <li>The Weather and Climate working group to develop precision tools for understanding climate effects on agricultural production.</li>
            <li>The Agroecosystem Erosion working group to understand and predict soil erosion at multiple scales.</li>
            <li>The Sustainability Indicators working group to enable network-standardized evaluation of agricultural innovations.</li>
            <li>We also participate in other working groups: Grazinglands, Remote Sensing/GIS, Livestock Tracking, and Eddy Covariance/Surface Flux.</li>
          </ul>
        </div>
      </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>
    </footer>
  </body>
  <script src="/assets/js/jer-side-navigation.js" type="text/javascript"></script>
  <script src="/assets/js/jer-core.js" type="text/javascript"></script>
</html> 