<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>People</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>      
    </header>
    <section id="hero" class="simple-hero">
      <div id="title-block" class="simple-title-block hero-section">
        <div class="centered">
          <div id="title">
            <h1>People</h1>
            <h3><a href="/jer">Jornada Experimental Range</a></h3>
          </div>
        </div>
      </div>
    </section>
    <section id="personnel-list" class="tinted">
      <div class="content-section centered">
        <h2 id="topic-1">Lead Scientists</h2>
        <ul class="person-list">
          <li class="person">
            <a class="person-link" href="/people/brandon-bestelmeyer">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/brandon-bestelmeyer.jpg')" alt="Brandon Bestelmeyer&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Brandon Bestelmeyer</h5>
                  <div class="person-title">Research Leader</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/joel-brown">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/joel-brown.jpg')" alt="Joel Brown&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Joel Brown</h5>
                  <div class="person-title">Range Ecologist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/dawn-browning">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/dawn-browning.jpg')" alt="Dawn Browning&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Dawn Browning</h5>
                  <div class="person-title">Research Ecologist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/brandon-edwards">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/brandon-edwards.jpg')" alt="Brandon Edwards&#039; picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Brandon Edwards</h5>
                  <div class="person-title">Physical Scientist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/emile-elias">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/emile-elias.jpg')" alt="Emile Elias&#039; picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Emile Elias</h5>
                  <div class="person-title">Director</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/rick-estell">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/rick-estell.jpg')" alt="Rick Estell&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Rick Estell</h5>
                  <div class="person-title">Research Animal Scientist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/jeff-herrick">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/jeff-herrick.jpg')" alt="Jeff Herrick&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Jeff Herrick</h5>
                  <div class="person-title">Soil Scientist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/sarah-mccord">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/sarah-mccord.jpg')" alt="Sarah McCord&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Sarah McCord</h5>
                  <div class="person-title">Research Ecologist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/shawn-salley">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/shawn-salley.jpg')" alt="Shawn Salley&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Shawn Salley</h5>
                  <div class="person-title">Soil Geographer</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/sheri-spiegal">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/sheri-spiegal.jpg')" alt="Sheri Spiegal&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Sheri Spiegal</h5>
                  <div class="person-title">Range Management Specialist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/nicholas-webb">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/nicholas-webb.jpg')" alt="Nicholas Webb&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Nicholas Webb</h5>
                  <div class="person-title">Physical Scientist</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <h2 id="topic-2">Postdocs</h2>
        <ul class="person-list">
          <li class="person">
            <a class="person-link" href="/people/jose-castano-sanchez">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/jose-castano-sanchez.jpg')" alt="Jose Castano-Sanchez&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Jose Castano-Sanchez</h5>
                  <div class="person-title">Postdoctoral Researcher</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/saroj-dhital">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/saroj-dhital.jpg')" alt="Saroj Dhital&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Saroj Dhital</h5>
                  <div class="person-title">Postdoctoral Researcher</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/amy-hudson">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/amy-hudson.jpg')" alt="Amy Hudson&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Amy Hudson</h5>
                  <div class="person-title">Postdoctoral Researcher</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/pedro-martinez">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/pedro-martinez.jpg')" alt="Pedro Martinez&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Pedro Martinez</h5>
                  <div class="person-title">Postdoctoral Soil Scientist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/matthew-mcintosh">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/matthew-mcintosh.jpg')" alt="Matthew McIntosh&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Matthew McIntosh</h5>
                  <div class="person-title">Postdoctoral Researcher</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/geovany-ramirez">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/geovany-ramirez.jpg')" alt="Geovany Ramirez&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Geovany Ramirez</h5>
                  <div class="person-title">Research Associate Professor</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/noah-silber-coats">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/noah-silber-coats.jpg')" alt="Noah Silber-Coats&#039; picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Noah Silber-Coats</h5>
                  <div class="person-title">Social Scientist</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <h2 id="topic-3">Technical and Administrative Staff</h2>
        <ul class="person-list">
          <li class="person">
            <a class="person-link" href="/people/john-anderson">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/john-anderson.jpg')" alt="John Anderson&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>John Anderson</h5>
                  <div class="person-title">Research Site Manager</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/skye-aney">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/skye-aney.jpg')" alt="Skye Aney&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Skye Aney</h5>
                  <div class="person-title"></div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/ruben-baca">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/ruben-baca.jpg')" alt="Ruben Baca&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Ruben Baca</h5>
                  <div class="person-title">GIS Analyst</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/kristopher-bonefont">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/kristopher-bonefont.jpg')" alt="Kristopher Bonefont&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Kristopher Bonefont</h5>
                  <div class="person-title">Computational Biologist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/joseph-brehm">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/joseph-brehm.jpg')" alt="Joseph Brehm&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Joseph Brehm</h5>
                  <div class="person-title">Progammer Analyst</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/laura-burkett">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/laura-burkett.jpg')" alt="Laura Burkett&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Laura Burkett</h5>
                  <div class="person-title">Ecologist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/reanna-burnett">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/reanna-burnett.jpg')" alt="Reanna Burnett&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Reanna Burnett</h5>
                  <div class="person-title"></div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/dylan-burruss">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/dylan-burruss.jpg')" alt="Dylan Burruss&#039; picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Dylan Burruss</h5>
                  <div class="person-title">Research Associate Professor</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/herman-campos">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/herman-campos.jpg')" alt="Herman Campos&#039; picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Herman Campos</h5>
                  <div class="person-title">Program Coordinator</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/max-contreras">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/max-contreras.jpg')" alt="Max Contreras&#039; picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Max Contreras</h5>
                  <div class="person-title">Program Specialist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/brad-cooper">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/brad-cooper.jpg')" alt="Brad Cooper&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Brad Cooper</h5>
                  <div class="person-title">Senior Program Specialist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/ericha-courtright">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/ericha-courtright.jpg')" alt="Ericha Courtright&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Ericha Courtright</h5>
                  <div class="person-title">Information Technology Specialist (Data Management)</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/helena-deswood">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/helena-deswood.jpg')" alt="Helena Deswood&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Helena Deswood</h5>
                  <div class="person-title">Research Assistant</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/maude-dinan">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/maude-dinan.jpg')" alt="Maude Dinan&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Maude Dinan</h5>
                  <div class="person-title">Program Specialist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/rob-dunlap">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/rob-dunlap.jpg')" alt="Rob Dunlap&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Rob Dunlap</h5>
                  <div class="person-title"></div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/andrea-ernst">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/andrea-ernst.jpg')" alt="Andrea Ernst&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Andrea Ernst</h5>
                  <div class="person-title">Senior Program Specialist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/joann-fernandez">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/joann-fernandez.jpg')" alt="JoAnn Fernandez&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>JoAnn Fernandez</h5>
                  <div class="person-title">Administrative Officer</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/christopher-fraser">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/christopher-fraser.jpg')" alt="Christopher Fraser&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Christopher Fraser</h5>
                  <div class="person-title">Computational Biologist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/bernice-gamboa">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/bernice-gamboa.jpg')" alt="Bernice Gamboa&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Bernice Gamboa</h5>
                  <div class="person-title">Program Assistant</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/charlene-gamboa">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/charlene-gamboa.jpg')" alt="Charlene Gamboa&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Charlene Gamboa</h5>
                  <div class="person-title">Accountant</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/seth-hall">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/seth-hall.jpg')" alt="Seth Hall&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Seth Hall</h5>
                  <div class="person-title">Research Assistant</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/sierra-heimel">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/sierra-heimel.jpg')" alt="Sierra Heimel&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Sierra Heimel</h5>
                  <div class="person-title">Research Assistant</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/alexandra-heller">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/alexandra-heller.jpg')" alt="Alexandra Heller&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Alexandra Heller</h5>
                  <div class="person-title">Biological Science Technician</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/darren-james">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/darren-james.jpg')" alt="Darren James&#039; picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Darren James</h5>
                  <div class="person-title">Statistician</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/elizabeth-knoll">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/elizabeth-knoll.jpg')" alt="Elizabeth Knoll&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Elizabeth Knoll</h5>
                  <div class="person-title">Financial Technician</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/lauren-kramer">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/lauren-kramer.jpg')" alt="Lauren Kramer&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Lauren Kramer</h5>
                  <div class="person-title">Biological Science Technician</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/neeshia-macanowicz">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/neeshia-macanowicz.jpg')" alt="Neeshia Macanowicz&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Neeshia Macanowicz</h5>
                  <div class="person-title"></div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/lara-macon">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/lara-macon.jpg')" alt="Lara Macon&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Lara Macon</h5>
                  <div class="person-title">Range Technician</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/ana-mata">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/ana-mata.jpg')" alt="Ana Mata&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Ana Mata</h5>
                  <div class="person-title">Office Automation Assistant</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/greg-maurer">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/greg-maurer.jpg')" alt="Greg Maurer&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Greg Maurer</h5>
                  <div class="person-title">Data Scientist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/connie-maxwell">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/connie-maxwell.jpg')" alt="Connie Maxwell&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Connie Maxwell</h5>
                  <div class="person-title">Biological Science Technician</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/savannah-meadors">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/savannah-meadors.jpg')" alt="Savannah Meadors&#039; picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Savannah Meadors</h5>
                  <div class="person-title"></div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/glynis-miranda">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/glynis-miranda.jpg')" alt="Glynis Miranda&#039; picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Glynis Miranda</h5>
                  <div class="person-title">Administrative Support Assistant</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/conrad-nelson">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/conrad-nelson.jpg')" alt="Conrad Nelson&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Conrad Nelson</h5>
                  <div class="person-title">Research Assistant</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/julia-olivarez">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/julia-olivarez.jpg')" alt="Julia Olivarez&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Julia Olivarez</h5>
                  <div class="person-title">Biological Science Technician</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/john-ragosta">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/john-ragosta.jpg')" alt="John Ragosta&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>John Ragosta</h5>
                  <div class="person-title">Research Scientist Associate</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/joe-ramirez">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/joe-ramirez.jpg')" alt="Joe Ramirez&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Joe Ramirez</h5>
                  <div class="person-title">Heavy Equipment Mechanic</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/ken-ramsey">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/ken-ramsey.jpg')" alt="Ken Ramsey&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Ken Ramsey</h5>
                  <div class="person-title">Information Manager</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/kirsten-romig">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/kirsten-romig.jpg')" alt="Kirsten Romig&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Kirsten Romig</h5>
                  <div class="person-title">Biological Science Technician</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/jeremy-schallner">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/jeremy-schallner.jpg')" alt="Jeremy Schallner&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Jeremy Schallner</h5>
                  <div class="person-title">Data Analyst</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/scott-schrader">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/scott-schrader.jpg')" alt="Scott Schrader&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Scott Schrader</h5>
                  <div class="person-title">Physical Scientist (GIS Specialist)</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/ruth-sedillo">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/ruth-sedillo.jpg')" alt="Ruth Sedillo&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Ruth Sedillo</h5>
                  <div class="person-title">Biological Science Lab Technician</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/amy-slaughter">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/amy-slaughter.jpg')" alt="Amy Slaughter&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Amy Slaughter</h5>
                  <div class="person-title">Agricultural Science Research Technician</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/nicole-smith">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/nicole-smith.jpg')" alt="Nicole Smith&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Nicole Smith</h5>
                  <div class="person-title">Office Assistant</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/madeleine-soss">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/madeleine-soss.jpg')" alt="Madeleine Soss&#039; picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Madeleine Soss</h5>
                  <div class="person-title">Program Specialist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/nelson-stauffer">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/nelson-stauffer.jpg')" alt="Nelson Stauffer&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Nelson Stauffer</h5>
                  <div class="person-title">Biological Science Lab Technician</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/caiti-steele">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/caiti-steele.jpg')" alt="Caiti Steele&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Caiti Steele</h5>
                  <div class="person-title">College Assistant Professor</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/curtis-talbot">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/curtis-talbot.jpg')" alt="Curtis Talbot&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Curtis Talbot</h5>
                  <div class="person-title">Range Management Specialist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/dave-thatcher">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/dave-thatcher.jpg')" alt="Dave Thatcher&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Dave Thatcher</h5>
                  <div class="person-title">Supervisory Range Technician</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/bryce-thatcher">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/bryce-thatcher.jpg')" alt="Bryce Thatcher&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Bryce Thatcher</h5>
                  <div class="person-title">Range Technician</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/ronald-tremino">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/ronald-tremino.jpg')" alt="Ronald Tremino&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Ronald Tremino</h5>
                  <div class="person-title"></div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/gayle-tyree">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/gayle-tyree.jpg')" alt="Gayle Tyree&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Gayle Tyree</h5>
                  <div class="person-title">Student Services Contractor with USGS</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/justin-van-zee">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/justin-van zee.jpg')" alt="Justin Van Zee&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Justin Van Zee</h5>
                  <div class="person-title">Soil Scientist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/jeb-williamson">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/jeb-williamson.jpg')" alt="Jeb Williamson&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Jeb Williamson</h5>
                  <div class="person-title">Computational Biologist</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <h2 id="topic-4">Students</h2>
        <ul class="person-list">
          <li class="person">
            <a class="person-link" href="/people/brandi-wheeler">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/brandi-wheeler.jpg')" alt="Brandi Wheeler&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Brandi Wheeler</h5>
                  <div class="person-title">Graduate Student</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <h2 id="topic-5">Emeritus</h2>
        <ul class="person-list">
          <li class="person">
            <a class="person-link" href="/people/dean-anderson">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/dean-anderson.jpg')" alt="Dean Anderson&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Dean Anderson</h5>
                  <div class="person-title">Research Animal Scientist (Retired)</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/alfredo-gonzalez">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/alfredo-gonzalez.jpg')" alt="Alfredo Gonzalez&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Alfredo Gonzalez</h5>
                  <div class="person-title">Animal Scientist</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/kris-havstad">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/kris-havstad.jpg')" alt="Kris Havstad&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Kris Havstad</h5>
                  <div class="person-title">Range Scientist (Retired)</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/valerie-laplante">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/valerie-laplante.jpg')" alt="Valerie LaPlante&#039;s picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Valerie LaPlante</h5>
                  <div class="person-title">IT Specialist (Retired)</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/debra-peters">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/debra-peters.jpg')" alt="Debra Peters&#039; picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Debra Peters</h5>
                  <div class="person-title">Ecologist (Retired)</div>
                </div>
              </div>
            </a>
          </li>
          <li class="person">
            <a class="person-link" href="/people/albert-rango">
              <div class="person-image-frame">
                <div class="person-image" style="background-image:url('/files/images/people/albert-rango.jpg')" alt="Albert Rango&#039; picture"></div>
              </div>
              <div class="person-text">
                <div class="person-name">
                  <h5>Albert Rango</h5>
                  <div class="person-title">Research Hydrologist</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>      
    </footer>
  </body>
  <script src="/js/jer-core.js" type="text/javascript"></script>
</html> 
