<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>Rangeland Restoration</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section id="hero" style="background-image: url('/files/images/shrub-control-response-jer.jpg');">
      <div id="title-block" class="hero-section">
        <div id="title">
          <h1>Rangeland Restoration</h1>
          <h3>
            <a href="/">
              <img class="site-map-icon" src="/files/icons/home_symbol_orange.svg">
            </a>
            <span class="site-map-sep"></span>
            <a href="/ecosystem-response">Ecosystem Responses to Climate and Restoration</a>
          </h3>
        </div>
      </div>
    </section>
    <section>
      <div class="side-navigation-port">
        <nav class="side-navigation">
          <ul class="side-menu">
            <span class="side-navigation-title">Jump To:</span>
            <li><a class="side-menu-link" href="#topic-1">Introduction</a></li>
            <li><a class="side-menu-link" href="#topic-2">Restore New Mexico</a></li>
            <li><a class="side-menu-link" href="#topic-3">Duneland Restoration Project </a></li>
            <li><a class="side-menu-link" href="#topic-4">Cross-Scale Interaction Study</a></li>
          </ul>
        </nav>
      </div>
      <div class="content-section centered">
        <div class="narrative-content">
          <h2 id="topic-1" class="topic-bookmark">Introduction</h2>
          <p>Many Southwestern rangelands have undergone dramatic changes in vegetation over the past 150 years due to the interactive effects of climate variation and historical overgrazing episodes. Perennial grasslands are being replaced by ecosystems dominated by woody plants and featuring increased bare ground, known as xerification. Vegetation change processes initiated by drought-overgrazing events continue to this day. The Jornada is conducting three long-term restoration experiments that may help to resist or direct these ecosystem changes.</p>
          <div class="narrative-figure">
            <img class="narrative-figure-image" src="/files/images/state-transition-jer.jpg" alt="State transition">
            <div class="narrative-figure-caption">
              <span>A state transition at a permanent chart quadrat study site on the Jornada Experimental Range, involving a shift from black grama grassland in 1935 to largely bare ground in 1952, followed increases in honey mesquite shrubs that now dominate this site.</span>
            </div>
          </div>
          <h2 id="topic-2" class="topic-bookmark">Restore New Mexico Collaborative Monitoring Program</h2>
          <p>We collaborate with the Bureau of Land Management and its stakeholders in conducting long-term experimental tests of the effects of shrub removal treatments in the Chihuahuan Desert of southwestern New Mexico. We are asking 1) What is the average response of plant cover to brush management treatments across large landscapes? 2) What environmental factors are associated with successful outcomes? 3) Which shrub removal projects are not performing as expected and should be investigated further (i.e., how to adaptively manage these projects)? The experiment features a “before-after-control-intervention” type design including comparisons of areas treated with herbicides and matched untreated areas that will be monitored for at least 20 years. Experimental areas are highly replicated across the region to encompass variations in climate, soils, and initial vegetation conditions and we are monitoring vegetation cover and select animal guilds in cooperation with the University of Illinois, Urbana. The experiment also represents a more general test of collaborative adaptive management processes coupled to monitoring tools and models of alternative states. For more information, contact: <a href="/people/brandon-bestelmeyer">Brandon Bestelmeyer</a> or <a href="/people/laura-burkett">Laura Burkett</a>.</p>
          <div class="narrative-figure">
            <img class="narrative-figure-image" src="/files/images/restore-new-mexico-jer.jpg" alt="Restore New Mexico Collaborative Monitoring Program">
            <div class="narrative-figure-caption">
              <span>Steps in collaborative science with the Restore New Mexico Collaborative Monitoring Program. The dashed arrow indicates adaptive management after initial results are interpreted.</span>
            </div>
          </div>
          <h2 id="topic-3" class="topic-bookmark">Duneland Restoration Project</h2>
          <p>A sequence of wet years from 2006-2009 resulted in a remarkable recovery of perennial grasses on highly degraded, eroding soils at the Jornada Experimental Range, but recovery was highly patchy. We initiated a project to learn from this unexpected, autogenic restoration event and test ways to expand grass recovery on highly degraded soils.</p>
          <p>This natural (unplanned) experiment includes long-term comparisons of three states: black grama grassland near to reference (historical) conditions, an eroding mesquite shrub duneland that resulted from drought-overgrazing interactions in the 1930s-1950s and that did not experience grass recovery in the 2006-2009 wet period, and “novel” grassy duneland including a mix of shrubs and perennial grasses that appeared in 2006-2009 and were not formerly dominant on the site.</p>
          <div class="narrative-figure">
            <img class="narrative-figure-image" src="/files/images/duneland-restoration-project-jer.jpg" alt="Dunland Restoration Project">
            <div class="narrative-figure-caption">
              <span>Ecosystem states being compared in the Duneland Restoration Project</span>
            </div>
          </div>
          <p>We are asking: 1) How do the novel “grassy dunelands” compare with historical black grama grasslands and mesquite dunelands in ecosystem properties? Are grassy dunelands desirable states? 2) What factors might explain spatial heterogeneity in where autogenic restoration occurred? 3) What restoration treatments might catalyze grass recovery in the persistent mesquite dunes? A team of multidisciplinary researchers are monitoring several variables including vegetation cover/composition, dynamic soil properties, soil microbial populations, soil moisture content, sediment production, vegetation phenology, and carbon balance using Eddy Covariance systems. We are currently designing restoration experiments to be implemented in mesquite dunelands in 2023. For more information, contact: <a href="/people/brandon-bestelmeyer">Brandon Bestelmeyer</a>, <a href="/people/dawn-browning">Dawn Browning</a>, or <a href="/people/nicholas-webb">Nick Webb</a>.</p>
          <h2 id="topic-4" class="topic-bookmark">Cross-Scale Interaction Study</h2>
          <p>As part of the Jornada Basin LTER program, this experiment tests whether modification of sediment and seed transport by wind and water using ConMods (connectivity modifiers) can be used to catalyze perennial grass restoration. ConMods are x-shaped screens fastened to the ground that modify—or break up—the continuous bare ground. The x shape helps trap soil and prevent erosion, creating a protected environment for plants to take root.</p>
          <div class="narrative-figure">
            <img class="narrative-figure-image" src="/files/images/connectivity-modifier-jer.jpg" alt="Connectivity modifier">
            <div class="narrative-figure-caption">
              <span>A Connectivity Modifier before (left) and after(right) grass recovery.</span>
            </div>
          </div>
          <p>We are asking: can ConMods in combination with  shrub removal accelerate grass recovery? Treatments include herbicidal treatments of shrubs to reduce competition for below-ground resources faced by grasses without affecting above-ground connectivity, and ConMods that reduce wind-related connectivity without immediately influencing belowground competition. Treatments were deployed in a factorial combination in 15 experimental blocks distributed along a grassland to shrubland gradient. Early results indicate a synergistic (multiplicative) effect of reducing competition by shrubs and decreasing connectivity, relative to the effects of either treatment in isolation. For more information contact <a href="/people/john-anderson">John Anderson</a> or Niall Hanan.</p> 
        </div>
      </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>
    </footer>
  </body>
  <script src="/js/jer-side-navigation.js" type="text/javascript"></script>
  <script src="/js/jer-core.js" type="text/javascript"></script>
</html> 