<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/jer-core.css">
    <title>Information for New Researchers</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section id="hero" style="background-image: url('/assets/images/badger-jer.jpg');">
      <div id="title-block" class="hero-section">
        <div id="title">
          <h1>Information for New Researchers</h1>
          <h3>
            <a href="/">Jornada Experimental Range</a>
          </h3>
        </div>
      </div>
    </section>
    <section>
      <div class="side-navigation-port">
        <nav class="side-navigation">
          <ul class="side-menu">
            <span class="side-navigation-title">Jump To:</span>
            <li><a class="side-menu-link" href="#topic-1">Request Approval for New Research</a></li>
            <li><a class="side-menu-link" href="#topic-2">Submit Research Data and Metadata</a></li>
            <li><a class="side-menu-link" href="#topic-3">Acknowledge Jornada Funding and Data</a></li>
          </ul>
        </nav>
      </div>
      <div class="content-section centered">
        <div class="narrative-content">
          <h2>Jornada Research Authorization and Documentation Forms</h2>
          <p>Any person or entity conducting research at the USDA-ARS Jornada Experimental Range (JER), or in affiliation with related programs, as an <strong>investigator, postdoc, student, collaborator, or staff researcher</strong> must follow the policies described below. In short, the requirements are to 1) <a href="#topic-1">request approval</a> prior to beginning research, 2) <a href="#topic-2">submit data and metadata</a> during the research, or for some collaborators, when research concludes, and 3) <a href="#topic-3">acknowledge JER support and data</a> use in publications or other research products. Full details for these requirements are below. JER coordinates closely with the Jornada Basin LTER (JRN) and the two share similar research policies. See the JRN research policy <a href="https://lter.jornada.nmsu.edu/for-researchers" target="_blank">here</a>.</p>
          <h2 id="topic-1" class="topic-bookmark">Request Approval for New Research</h2>
          <p>To start a new research project at JER, the process begins with submission of a "Notification of Proposed Research" form. This form must be approved by the Jornada Site Manager, John Anderson, before work can begin.</p>
          <ul class="narrative-list">
            <li>Download the <a href="https://github.com/jornada-im/documentation/raw/main/templates/Jornada_resnotif_form.docx">Jornada Notification of Proposed Research form</a> (MS Word .docx format).</li>
            <li>Send as an email attachment to <a class="mailto" href="mailto:janderso@nmsu.edu">janderso@nmsu.edu</a>.</li>
            <li>Please be aware that all JER-led projects require submission of data, metadata, and project information on a regular basis (see below).</li>
          </ul>
          <h2 id="topic-2" class="topic-bookmark">Submit Research Data and Metadata</h2>
          <p>There are 2 general requirements for all approved JER researchers:</p>
          <ol class="narrative-list">
            <li>
              <span>Data submission</span>
              <ul class="narrative-list">
                <li>All JER researchers are participants in the USDA LTAR Network and are therefore required to submit their research data and metadata in accordance with the LTAR Data Policy. We require all JER researchers to <strong>submit data and metadata yearly</strong> to our research data archive. We publish this data in LTAR-approved data repositories at the time research results are peer-reviewed and published, or no later than 2 years after collection. Delays to this process are only permitted when explicitly approved by JER leadership.</li>
                <li>External/collaborating Jornada researchers supported by non-USDA or non-LTER or funds are asked to provide data and metadata, OR links to relevant datasets in open access repositories, upon conclusion or publication of the research.</li>
                <li>Download the <a href="https://github.com/jornada-im/documentation/raw/main/templates/Jornada_metadata_template.docx" target="_blank">Jornada Metadata Template</a> (MS Word .docx format).</li>
                <li>Send as an email attachment to <a href="mailto:jornada.data@nmsu.edu">jornada.data@nmsu.edu</a>.</li>
                <li>The JER Information Management team will gladly assist with data archiving and publishing. Metadata templates and other resources for data providers and users can be found at the <a href="https://jornada-im.github.io" target="_blank">Jornada-IM</a> website.</li>
              </ul>
            </li>
            <li>
              <span>Supplying project information</span>
              <ul class="narrative-list">
                <li>The Jornada maintains a research project database and requires that representative researchers (usually PIs) to submit information to populate and update this database regularly. Investigators with new projects should submit a project information template within 6 months of initial data collection. Thereafter, project information templates should be updated yearly until the project ends.</li>
                <li>Download the <a href="https://github.com/jornada-im/documentation/raw/main/templates/Jornada_projectinfo_template.docx" target="_blank">Jornada Project Info template</a> (MS Word .docx format).</li>
                <li>Send as an email attachment to <a href="mailto:jornada.data@nmsu.edu">jornada.data@nmsu.edu</a></li>
              </ul>
            </li>
          </ol>
          <h2 id="topic-3" class="topic-bookmark">Acknowledge Jornada Funding and Data</h2>
          <p>When research products reach a public form, i.e. a dissertation defense, publications in scientific journals, or other milestones, we ask that researchers acknowledge any USDA-ARS or Jornada LTER funding and/or data that supported the research. Please:</p>
          <ol class="narrative-list">
            <li>
              <span>Acknowledge USDA-ARS and Jornada LTER support in papers, dissertations, and other publications.</span>
              <ul class="narrative-list">
                <li>
                  <span>Include the support received, the name of the program (USDA-ARS LTAR, for example), and relevant grant numbers in the Acknowledgements section of any journal article, dissertation, or other publication. Example text is below.</span>
                  <h4>LTER funded:</h4>
                  <span><i>“This work was supported by funding from the National Science Foundation to New Mexico State University for the Jornada Basin Long-Term Ecological Research Program (DEB 2025166).”</i></span>
                  <h4>USDA funded:</h4>
                  <span><i>“This work was supported by CRIS# 3050-11210-009-00D from the USDA-ARS Jornada Experimental Range and USDA Long-Term Agroecosystem Research Network.”</i></span>
                </li>
                <li>Support to acknowledge may include direct funding of research or personnel costs allocated from the USDA or LTER grants, fellowship support to graduate students, logistical or data collection support from the Jornada field crew, or data management services from the Jornada Information Management team.</li>
                <li>
                  <span>If research was performed at USDA-ARS Jornada Experimental Range (JER) or NMSU Chihuahuan Desert Rangeland Research Center (CDRRC), but no direct support was provided by USDA or LTER programs, include the following:</span>
                  <h4>At JER:</h4>
                  <span><i>“The Jornada Experimental Range is administered by the USDA-ARS and supported by the National Science Foundation Long-Term Ecological Research Program and the USDA Long-Term Agroecosystem Research Network.”</i></span>
                  <h4>At CDRRC:</h4>
                  <span><i>“The Chihuahuan Desert Rangeland Research Center is administered by New Mexico State University.”</i></span>
                </li>
              </ul>
            </li>
            <li>
              <span>Cite the USDA-ARS and Jornada LTER data used in your research.</span>
              <ul class="narrative-list">
                <li>When research findings that include Jornada data appear in a publication (journal article, dissertation, website, etc.), please include a citation and link to the original data.</li>
                <li>For already-published long-term datasets include a DOI link at a minimum, and if possible, a full citation in the reference section (e.g. in a journal article).</li>
                <li>If the data are new and unpublished, please publish the dataset AND cite it in the publication.</li>
                <li>In either case, researchers are advised to coordinate with the Jornada Information Managers (<a href="mailto:jornada.data@nmsu.edu">jornada.data@nmsu.edu</a>) early in the research and publication process to ensure timely data publication and proper citation in the publication. Publication of datasets (and issuance of DOIs) can be timed to coincide with the approval & copyediting phase of a new journal article when needed.</li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>
    </footer>
  </body>
  <script src="/assets/js/jer-side-navigation.js" type="text/javascript"></script>
  <script src="/assets/js/jer-core.js" type="text/javascript"></script>
</html> 