<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-bibliography.css">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>Amy Hudson</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>      
    </header>
    <section id="employee-profile" class="tinted">
      <div id="hero">
        <div class="content-section centered">
          <div id="title">
            <h1 id="employee-name">Amy Hudson</h1>
            <h3>
              <a href="/">
                <img class="site-map-icon" src="/files/icons/home_symbol_orange.svg">
              </a>
              <span class="site-map-sep"></span>
              <a href="/people">Jornada People</a>
            </h3>
            <div class="profile-photo" style="background-image:url('/files/images/people/amy-hudson.jpg')"></div>
            <h5>Postdoctoral Researcher</h5>            
                        
                        
                        
                        
                        
          </div>
        </div>
      </div>
      <div class="content-section centered">
        <div class="profile-segment">
          <h4 class="profile-segment-title">Contact</h4>
          <ul class="profile-list">
            <li>Email: <a  href="mailto:ahudson.jrn.lter@gmail.com">ahudson.jrn.lter@gmail.com</a></li>
            <li>Phone: </li>
          <ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Latest Journal Articles</h4>
          <div id="bibliography"></div>
          <a class="jer-button" href="/publications">View All</a>
        </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>      
    </footer>
  </body>
  <script src="/js/jer-profile-bibliography.js" type="text/javascript"></script>
  <script src="/js/jer-core.js" type="text/javascript"></script>
</html> 