<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/jer-bibliography.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/jer-core.css">
    <title>Caiti Steele</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>      
    </header>
    <section id="employee-profile" class="tinted">
      <div id="hero">
        <div class="content-section centered">
          <div id="title">
            <h1 id="employee-name">Caiti Steele</h1>
            <h3><a href="/people">Jornada People</a></h3>
            <div class="profile-photo" style="background-image:url('/assets/images/people/caiti-steele.jpg')"></div>
            <h5>College Assistant Professor, GIS Remote Sensing, Jornada Experimental Range, New Mexico State University</h5>            
            <h5>Adjunct Faculty, Department of Fish, Wildlife and Conservation Ecology, New Mexico State University</h5>            
                        
                        
                        
                        
          </div>
        </div>
      </div>
      <div class="content-section centered">
        <div class="profile-segment">
          <h4 class="profile-segment-title">Contact</h4>
          <ul class="profile-list">
            <li>Email: <a  href="mailto:caiti@nmsu.edu">caiti@nmsu.edu</a></li>
            <li>Phone: 575 646 4144</li>
          <ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Primary Research Interests</h4>
          <p>Remote sensing and geographical information science for natural resource management. Specific focus on the applied uses of spatial data for water resources and rangeland management. Current projects include:</p>
          <ul class="profile-list">
            <li>Improving estimates of snow covered area for prediction of streamflow from snowmelt dominated basins</li>            
            <li>Using state-and-transition models for potential-based rangeland classification</li>            
            <li>Physiology and reflectance characteristics of native and invasive arid grassland species</li>            
            <li>Radiometric calibration of hyperspatial digital imagery</li>            
                        
                        
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Professional Experience</h4>
          <ul class="profile-list">
            <li>2004 to present - College Assistant Professor, Jornada Experimental Range, New Mexico State University, Las Cruces, New Mexico</li>            
            <li>2007 to present - Adjunct Faculty, Department of Fish, Wildlife and Conservation Ecology, New Mexico State University, Las Cruces, New Mexico</li>            
            <li>2000 to 2003 - Postdoctoral Research Associate, School of Geography, University of Southampton, UK</li>            
            <li>2000 - Assistant Administrator, Computing in the Humanities, King's College, University of London, UK</li>            
                        
                        
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Education</h4>
          <ul class="profile-list">
            <li>2000 - PhD, Geography, Kings College, University of London, UK</li>            
            <li>1994 - BSc, Geography, Kings College, University of London, UK</li>            
                        
                        
                        
                        
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Synergistic Activities</h4>
          <ul class="profile-list">
            <li>Adjunct Faculty, Department of Fish, Wildlife and Conservation Ecology. Teach a highly-rated geographic information systems class to seniors and graduate students.</li>            
            <li>Ongoing collaboration with The Nature Conservancy and the Bureau of Land Management, rangeland mapping in southern New Mexico</li>            
            <li>NM EPSCoR: Co-instructor, Interdisciplinary Modeling: Water-Related Issues and Changing Climate, NRES 730 (Summer 2010), University of Nevada, Reno</li>            
            <li>Session moderator for Remote Characterization of Vegetation Structure and Biodiversity at the Fall Meeting of the American Geophysical Union, 2009</li>            
            <li>Invited workshop: Object Oriented Image Analysis with Definiens eCognition, The 13th Australasian Remote Sensing and Photogrammetry Conference, Canberra, Australia, 20 - 24 November 2006</li>            
            <li>Peer-reviewer: Agricultural and Forest Meteorology, Canadian Journal of Remote Sensing, Ecological Informatics, Fire Ecology, International Journal of Remote Sensing, International Journal of Wildland Fire, Journal of Arid Environments, Remote Sensing of Environment, Transactions in Geoscience and Remote Sensing</li>            
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Latest Journal Articles</h4>
          <div id="bibliography"></div>
          <a class="jer-button" href="/publications">View All</a>
        </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>      
    </footer>
  </body>
  <script src="/assets/js/jer-profile-bibliography.js" type="text/javascript"></script>
  <script src="/assets/js/jer-core.js" type="text/javascript"></script>
</html> 