<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/jer-core.css">
    <title>Elizabeth Knoll</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>      
    </header>
    <section id="employee-profile" class="tinted">
      <div id="hero">
        <div class="content-section centered">
          <div id="title">
            <h1 id="employee-name">Elizabeth Knoll</h1>
            <h3><a href="/people">Jornada People</a></h3>
            <div class="profile-photo" style="background-image:url('/assets/images/people/elizabeth-knoll.jpg')"></div>
            <h5>Financial Technician, USDA-ARS-Administrative Office, Las Cruces, NM</h5>            
                        
                        
                        
                        
                        
          </div>
        </div>
      </div>
      <div class="content-section centered">
        <div class="profile-segment">
          <h4 class="profile-segment-title">Contact</h4>
          <ul class="profile-list">
            <li>Email: <a  href="mailto:liz.knoll@usda.gov">liz.knoll@usda.gov</a></li>
            <li>Phone: 575 646 6317</li>
          <ul>
        </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>      
    </footer>
  </body>
  <script src="/assets/js/jer-core.js" type="text/javascript"></script>
</html> 