<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/jer-bibliography.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/jer-core.css">
    <title>Emile Elias</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>      
    </header>
    <section id="employee-profile" class="tinted">
      <div id="hero">
        <div class="content-section centered">
          <div id="title">
            <h1 id="employee-name">Emile Elias</h1>
            <h3><a href="/people">Jornada People</a></h3>
            <div class="profile-photo" style="background-image:url('/assets/images/people/emile-elias.jpg')"></div>
            <h5>Director, USDA Southwest Climate Hub</h5>            
                        
                        
                        
                        
                        
          </div>
        </div>
      </div>
      <div class="content-section centered">
        <div class="profile-segment">
          <h4 class="profile-segment-title">Contact</h4>
          <ul class="profile-list">
            <li>Email: <a  href="mailto:emile.elias@usda.gov">emile.elias@usda.gov</a></li>
            <li>Phone: 575 646 4842</li>
          <ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Primary Research Interests</h4>
          <p>Hydrology and water quality with research in the following areas:</p>
          <ul class="profile-list">
            <li>Stressor effects on water quantity, quality and hydrologic ecosystem services</li>            
            <li>The influence of climate variability and change on estimated snowmelt runoff</li>            
            <li>Hydrologic simulation modeling in support of regional planning and total maximum daily load development</li>            
            <li>Riparian nutrient cycling in arid environments</li>            
                        
                        
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Professional Experience</h4>
          <ul class="profile-list">
            <li>2012 to present - Postdoctoral Research Associate, Jornada Experimental Range, New Mexico State University, NM</li>            
            <li>2012 to present - Water Resources Engineer, Tetra Tech, Inc.</li>            
            <li>2006 to 2010 - Research Assistant, Auburn University, Auburn, AL</li>            
            <li>2004 to 2006 - Water Pollution Biologist, AL Department of Environmental Management</li>            
            <li>2003 to 2004 - Executive Director, Little Tennessee Watershed Association, NC</li>            
            <li>2002 to 2003 - Water Resources Analyst, City of Greeley, CO</li>            
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Education</h4>
          <ul class="profile-list">
            <li>2010 - Ph.D., Forestry and Biosystems Engineering, Auburn University, AL</li>            
            <li>2002 - M.S., Watershed Science, Colorado State University</li>            
            <li>1996 - B.S.,</li>            
            <li>Environmental Biology, University of Colorado, Boulder, CO</li>            
                        
                        
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Synergistic Activities</h4>
          <ul class="profile-list">
            <li>Ad Hoc Reviewer: River Research and Applications; Environmental and Resource Economics; Journal of Contemporary Water Resources Education</li>            
            <li>Science Advisor: NASA Develop Program</li>            
                        
                        
                        
                        
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Latest Journal Articles</h4>
          <div id="bibliography"></div>
          <a class="jer-button" href="/publications">View All</a>
        </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>      
    </footer>
  </body>
  <script src="/assets/js/jer-profile-bibliography.js" type="text/javascript"></script>
  <script src="/assets/js/jer-core.js" type="text/javascript"></script>
</html> 