<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/jer-bibliography.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/jer-core.css">
    <title>Joel Brown</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>      
    </header>
    <section id="employee-profile" class="tinted">
      <div id="hero">
        <div class="content-section centered">
          <div id="title">
            <h1 id="employee-name">Joel Brown</h1>
            <h3><a href="/people">Jornada People</a></h3>
            <div class="profile-photo" style="background-image:url('/assets/images/people/joel-brown.jpg')"></div>
            <h5>Range Ecologist, USDA-NRCS, Jornada Experimental Range, Las Cruces, New Mexico</h5>            
            <h5>Collaborator, Jornada Basin LTER</h5>            
            <h5>Adjunct Professor, Department of Animal and Range Sciences, New Mexico State University, Las Cruces, NM</h5>            
                        
                        
                        
          </div>
        </div>
      </div>
      <div class="content-section centered">
        <div class="profile-segment">
          <h4 class="profile-segment-title">Contact</h4>
          <ul class="profile-list">
            <li>Email: <a  href="mailto:Joel.Brown@lin.usda.gov">Joel.Brown@lin.usda.gov</a></li>
            <li>Phone: 575 646 2854</li>
          <ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Primary Research Interests</h4>
          <ul class="profile-list">
            <li>Rangeland ecology</li>            
            <li>Application of state and transition models to rangelands</li>            
            <li>Rangeland soil carbon dynamics</li>            
            <li>Shrub invasion</li>            
            <li>Grazing systems</li>            
            <li>Effects of climate</li>            
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Professional Experience</h4>
          <ul class="profile-list">
            <li>1998 to present - Cooperating Scientist, USDA Natural Resources Conservation Service, Jornada Experimental Range, Las Cruces, NM</li>            
            <li>1999 to 2003 - Special Assistant to the Chief for Global Change, USDA Natural Resources Conservation Service</li>            
            <li>1993 to 1997 - Senior Principal Research Scientist and Project Leader, CSIRO (Australia) Tropical Agriculture (now Sustainable Ecosystems).  Also held positions as Program Leader for the Cooperative Research Centre for the Sustainable Development of Tropical Savannas and as Program Leader for the Australian Land and Water Research and Development Corporation-Military Land Management Program</li>            
            <li>1991 to 1992 - Visiting Research Fellow, CSIRO (Australia) Division of Tropical Crops and Pastures, Davies Laboratory, Townsville, QLD</li>            
            <li>1988 to 1993 - State Rangeland Specialist, USDA Soil Conservation Service, Davis, CA</li>            
            <li>1986 to 1988 - Area Rangeland Specialist, USDA Soil Conservation Service, Emporia, KS</li>            
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Education</h4>
          <ul class="profile-list">
            <li>1987, PhD, Shrub Ecology, Texas A&M University, College Station, TX</li>            
            <li>1983, MS, Grazing Ecology, Texas A&M University, College Station, TX</li>            
            <li>1977, BS, Agriculture/Botany, Fort Hays State University, Hays, Kansas</li>            
            <li>1973, AA, Barton Community College, Great Bend, Kansas</li>            
                        
                        
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Synergistic Activities</h4>
          <ul class="profile-list">
            <li>Scientific Advisory Panel, Strategic Ecosystem Management Program-SERDP, Department of Defense</li>            
            <li>Terrestrial Program Leader, SW Regional Partnership for Carbon Sequestration, Department of Energy</li>            
                        
                        
                        
                        
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Latest Journal Articles</h4>
          <div id="bibliography"></div>
          <a class="jer-button" href="/publications">View All</a>
        </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>      
    </footer>
  </body>
  <script src="/assets/js/jer-profile-bibliography.js" type="text/javascript"></script>
  <script src="/assets/js/jer-core.js" type="text/javascript"></script>
</html> 