<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-bibliography.css">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>Matthew McIntosh</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>      
    </header>
    <section id="employee-profile" class="tinted">
      <div id="hero">
        <div class="content-section centered">
          <div id="title">
            <h1 id="employee-name">Matthew McIntosh</h1>
            <h3>
              <a href="/">
                <img class="site-map-icon" src="/files/icons/home_symbol_orange.svg">
              </a>
              <span class="site-map-sep"></span>
              <a href="/people">Jornada People</a>
            </h3>
            <div class="profile-photo" style="background-image:url('/files/images/people/matthew-mcintosh.jpg')"></div>
            <h5>Postdoctoral Researcher</h5>            
                        
                        
                        
                        
                        
          </div>
        </div>
      </div>
      <div class="content-section centered">
        <div class="profile-segment">
          <h4 class="profile-segment-title">Contact</h4>
          <ul class="profile-list">
            <li>Email: <a  href="mailto:mattmac@nmsu.edu">mattmac@nmsu.edu</a></li>
            <li>Phone: 575 646 4842</li>
          <ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Primary Research Interests</h4>
          <p>To pursue a career in livestock-environment research and education to assist local producers with integrated sustainable practices that benefit their bottom lines, the environment, and public health with an emphasis toward cattle production and climate change.</p>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Professional Experience</h4>
          <ul class="profile-list">
            <li>May 2021-Present 40 hrs. Research Assistant, New Mexico State University in collaboration with: USDA-ARS Southwest Climate Hub and USDA-ARS Jornada Experimental Range Las Cruces, NM. Principle Investigator(s): Dr. Andrés Cibils (NMSU) and Dr. Caiti Steele (USDA-ARS SW Climate Hub). Investigation of sustainable food-system production tools for southwestern beef producers in response to climate-change induced environmental challenges. Evaluating novel strategies of production including use of heritage cattle genetics and precision ranching tools in collaboration with the Sustainable Southwest Beef Coordinated Agricultural Project (SAS CAP grant # 19 127262). Developing United States Forest Service Aquatic and Riparian Vulnerability story maps of New Mexico and Arizona.</li>            
            <li>Jan 2016-May 2021 Graduate Assistant, New Mexico State University Las Cruces, NM 20 hrs. Principal Investigator(s): Dr. Andrés Cibils, Dr. Richard Estell, Dr. Jerry Holechek. My graduate research explored traditional and novel approaches for sustainable beef production in the southwestern US in the context of climate change. I continued field collections of a legacy vegetation dataset that allowed us to investigate the long-term (52-year) effects of temperature, precipitation, and stocking rates on Chihuahuan Desert plant communities. This research revealed a 43% reduction in forage production alongside an increase of woody-shrub encroachment in relation to recent weather patterns, leading our lab to speculate that beef producers in the region will need to rapidly adopt novel strategies to deal with a hotter, drier, and increasingly grassless environment. My work also substantiated that employment of light-conservative stocking rates is a useful strategy for maintaining desirable plant communities, but that such an approach cannot overcome deleterious climate change effects like prolonged heatwaves or drought. Introduction of heritage genetics is a promising novel strategy for beef producers to adapt to climate change; our lab has documented several instances of heritage cattle exerting a lighter environmental footprint, and more adaptive qualities to the harsh desert terrain compared to conventional counterparts. My research was the first to quantify phenotypic characteristics of a heritage biotype of cattle, the Raramuri Criollo, which we have used to explore the behavioral and physiological mechanisms of their adaptations. My research is also the first to show that Raramuri Criollo and Criollo crossbred steers exhibit similar- desirable behavior patterns as their cow counterparts and that they can be grass-fed on rangeland to saleable market weights; meaning producers could opt to finish their own animals and market them at a premium as opposed to selling them into the conventional supply-chain. Implementation of precision farm/ranching systems is another promising novel strategy for southwestern beef producers to cope with climate change as well as a dwindling workforce. My research documents the first successful launch of a LoRa-WAN enabled precision ranching system in the western US. This system allowed us to track cow location, rain gauges, and trough water levels for several months in near real-time. Likewise, my research also documents useful algorithms for evaluating daily behavior metrics in order to detect medium-term animal welfare, like weight loss/gain, of rangeland-developed steers in near real-time.</li>            
                        
                        
                        
                        
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Education</h4>
          <ul class="profile-list">
            <li>PhD Range Science New Mexico State University May 2021 Concentration: Rangeland Ecology Minor: Geography, Applied Statistics GPA: 3.9 Dissertation: Sustainable grazing management in the Chihuahuan Desert: traditional and novel approaches to adapt to a changing climate</li>            
            <li>MS Range Science New Mexico State University May 2018 Concentration: Rangeland Ecology GPA: 3.56 Thesis: Weight Gain and Behavior of Criollo Vs Crossbred Steers Developed on Chihuahuan Desert Rangeland</li>            
            <li>BS Animal Science University of Connecticut May 2015 GPA: 3.54</li>            
            <li>BA Fine Arts, Painting University of Connecticut May 2015 Minor: Art History GPA: 3.54</li>            
                        
                        
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Latest Journal Articles</h4>
          <div id="bibliography"></div>
          <a class="jer-button" href="/publications">View All</a>
        </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>      
    </footer>
  </body>
  <script src="/js/jer-profile-bibliography.js" type="text/javascript"></script>
  <script src="/js/jer-core.js" type="text/javascript"></script>
</html> 