<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-bibliography.css">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>Nicholas Webb</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>      
    </header>
    <section id="employee-profile" class="tinted">
      <div id="hero">
        <div class="content-section centered">
          <div id="title">
            <h1 id="employee-name">Nicholas Webb</h1>
            <h3><a href="/people">Jornada People</a></h3>
            <div class="profile-photo" style="background-image:url('/files/images/people/nicholas-webb.jpg')"></div>
            <h5>Physical Scientist, Jornada Experimental Range, NMSU</h5>            
                        
                        
                        
                        
                        
          </div>
        </div>
      </div>
      <div class="content-section centered">
        <div class="profile-segment">
          <h4 class="profile-segment-title">Contact</h4>
          <ul class="profile-list">
            <li>Email: <a  href="mailto:nwebb@nmsu.edu">nwebb@nmsu.edu</a></li>
            <li>Phone: 575 646 2263</li>
          <ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Primary Research Interests</h4>
          <ul class="profile-list">
            <li>Rangeland management</li>            
            <li>Land degradation processes and climate-management interactions</li>            
            <li>Spatiotemporal patterns and drivers of wind and water erosion</li>            
            <li>Climate change impacts and adaptation in socio-ecological systems</li>            
                        
                        
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Professional Experience</h4>
          <ul class="profile-list">
            <li>2017 to present – USDA-ARS Jornada Experimental Range, Research Associate Professor</li>            
            <li>2012 to 2017 - USDA-ARS Jornada Experimental Range, Research Assistant Professor</li>            
            <li>2012 - Griffith University, Atmospheric Environment Research Centre, Visiting Research Fellow</li>            
            <li>2009 to 2011 - CSIRO Climate Adaptation Flagship, OCE Postdoctoral Fellow</li>            
            <li>2005 to 2008 - University of Queensland, School of Geography, Planning & Architecture, Doctoral Student</li>            
            <li>2002 to 2008 - Griffith University, Australian Rivers Institute, Research Assistant</li>            
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Education</h4>
          <ul class="profile-list">
            <li>2008 - Ph.D., Geomorphology, University of Queensland</li>            
            <li>2004 - B.Sc., Geographical Sciences (Hons), University of Queensland</li>            
            <li>2003 - B.Sc., Earth Science and GIS (double major), University of Queensland</li>            
                        
                        
                        
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Synergistic Activities</h4>
          <ul class="profile-list">
            <li>Board of Directors, International Society for Aeolian Research, 2014-present</li>            
            <li>Member, American Geophysical Union</li>            
            <li>Member, European Geosciences Union</li>            
            <li>Associate Editor, Rangeland Ecology and Management</li>            
            <li>Associate Editor, Land Degradation and Development</li>            
                        
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Latest Journal Articles</h4>
          <div id="bibliography"></div>
          <a class="jer-button" href="/publications">View All</a>
        </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>      
    </footer>
  </body>
  <script src="/js/jer-profile-bibliography.js" type="text/javascript"></script>
  <script src="/js/jer-core.js" type="text/javascript"></script>
</html> 