<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-bibliography.css">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>Pedro Martinez</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>      
    </header>
    <section id="employee-profile" class="tinted">
      <div id="hero">
        <div class="content-section centered">
          <div id="title">
            <h1 id="employee-name">Pedro Martinez</h1>
            <h3>
              <a href="/">
                <img class="site-map-icon" src="/files/icons/home_symbol_orange.svg">
              </a>
              <span class="site-map-sep"></span>
              <a href="/people">Jornada People</a>
            </h3>
            <div class="profile-photo" style="background-image:url('/files/images/people/pedro-martinez.jpg')"></div>
            <h5>Postdoctoral Soil Scientist</h5>            
                        
                        
                        
                        
                        
          </div>
        </div>
      </div>
      <div class="content-section centered">
        <div class="profile-segment">
          <h4 class="profile-segment-title">Contact</h4>
          <ul class="profile-list">
            <li>Email: <a  href="mailto:pedromar@nmsu.edu">pedromar@nmsu.edu</a></li>
            <li>Phone: 575 646 2660</li>
          <ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Primary Research Interests</h4>
          <ul class="profile-list">
            <li>Pedology (soil genesis, morphology, and classification)</li>            
            <li>Geomorphology and landscape evolution</li>            
            <li>Spatial distribution of soil properties and processes</li>            
            <li>Soil organic matter dynamics</li>            
                        
                        
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Professional Experience</h4>
          <ul class="profile-list">
            <li>2022 to present - USDA-ARS, Jornada Experimental Range, Post-doctoral Soil Scientist</li>            
            <li>2017 to 2022 - Oregon State University, Department of Crop and Soil Science, Graduate Teaching Assistant</li>            
            <li>2015 - Federal University of Tri창ngulo Mineiro (UFTM) in Brazil, Instructor of Geography</li>            
            <li>2008 to 2011 - Walm Engenharia (Environmental Consulting Firm in Brazil), Geographer</li>            
                        
                        
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Education</h4>
          <ul class="profile-list">
            <li>2022 - Ph.D. in Soil Science. Oregon State University</li>            
            <li>2015 - M.S. in Soils and Plant Nutrition. University of S찾o Paulo, Brazil</li>            
            <li>2010 - Specialization in Soil Management. University of S찾o Paulo, Brazil</li>            
            <li>2008 - B.S. in Geography. University of S찾o Paulo, Brazil</li>            
                        
                        
          </ul>
        </div>
        <div class="profile-segment">
          <h4 class="profile-segment-title">Latest Journal Articles</h4>
          <div id="bibliography"></div>
          <a class="jer-button" href="/publications">View All</a>
        </div>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>      
    </footer>
  </body>
  <script src="/js/jer-profile-bibliography.js" type="text/javascript"></script>
  <script src="/js/jer-core.js" type="text/javascript"></script>
</html> 