<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/logos/jer-micro-logo-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/files/logos/jer-micro-logo-192.png">
    <link rel="stylesheet" type="text/css" href="/css/jer-core.css">
    <title>Events</title>
  </head>
  <body>
    <header id="page-header">
      <%- include('components/header', {}); %>
    </header>
    <section id="hero">
      <div id="title-block" class="simple-title-block hero-section">
        <div class="centered">
          <div id="title">
            <h1>Events</h1>
            <h3><a href="/">Jornada Experimental Range</a></h3>
          </div>
        </div>
      </div>
    </section>
    <section class="tinted">
      <div class="content-section centered">
        <h2>Upcoming Events</h2>
        <ul class="event-list">
          <li class="event">
            <div class="event-date upcoming-event">
              <div class="event-day">12</div>
              <div class="event-month">Dec</div>
            </div>
            <div class="event-text">
              <h4 class="event-title">Some Event that is Happening</h4>
              <p class="event-description">You should come to this really cool event</p>
            </div>
          </li>
          <li class="event">
            <div class="event-date upcoming-event">
              <div class="event-day">12</div>
              <div class="event-month">Dec</div>
            </div>
            <div class="event-text">
              <h4 class="event-title">Some Event that is Happening</h4>
              <p class="event-description">You should come to this really cool event</p>
            </div>
          </li>
        </ul>
        <h2>Recent Events</h2>
        <ul class="event-list">
          <li class="event">
            <div class="event-date past-event">
              <div class="event-day">8</div>
              <div class="event-month">Aug</div>
            </div>
            <div class="event-text">
              <h4 class="event-title">Some Event Happened</h4>
              <p class="event-description">Too bad you missed it!</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <footer>
      <%- include('components/footer', {}); %>
    </footer>
  </body>
  <script src="/js/jer-core.js" type="text/javascript"></script>
</html> 