      <a href="/"><img id="site-icon" src="/files/logos/JER-logo-windmill-512.png"></a>
      <nav id="header-menu">
        <ul id="main-menu">
          <li>
            <span class="sub-menu-label" onclick="">Programs</span>
            <div class="sub-menu">
              <ul>
                <li><a href="/knowledge-systems">Land Health Knowledge Systems</a></li>
                <li><a href="/ecosystem-response">Ecosystem Responses to Climate and Restoration</a></li>
                <li><a href="/agricultural-sustainability">Sustainability of Agricultural Supply Chains</a></li>
                <li><a href="/climate-adaptation">Climate Adaptation for Southwest Agriculture</a></li>
                <li><a href="/education">Education, Training, and Outreach</a></li>
              </ul>
            </div>
          </li>
          <li>
            <span class="sub-menu-label" onclick="">Resources</span>
            <div class="sub-menu">
              <ul>
                <li><a href="/publications">Publications</a></li>
                <li><a href="/presentations">Presentations</a></li>
                <li><a href="/tools">Tools</a></li>
                <li><a href="/data">Data</a></li>
              </ul>
            </div>
          </li>
          <li>
            <span class="sub-menu-label" onclick="">About</span>
            <div class="sub-menu">
              <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/jornada-basin">The Jornada Basin</a></li>
                <li><a href="/researcher-information">Information for New Researchers</a></li>
                <li><a href="/people">People</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
              </ul>
            </div>
          </li>
          <li>
            <span class="sub-menu-label" onclick="">News</span>
            <div class="sub-menu">
              <ul>
                <li><a href="/news">News</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/jobs">Jobs</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <div id="main-menu-close-button"></div>
      </nav>
      <div id="main-menu-open-button"></div>