      <div class="content-section">
        <div class="footer-content">
          <div class="footer-social-media-block">
            <h4>Connect with Us</h4>
            <ul class="social-media-list">
              <li>
                <a href="https://www.facebook.com/TheJornada">
                  <img class="social-media-icon" src="/files/logos/social-icon-facebook.svg" alt="Facebook icon">
                </a>
              </li>
              <li>
                <a href="https://twitter.com/thejornada">
                  <img class="social-media-icon" src="/files/logos/social-icon-twitter.svg" alt="Twitter icon">
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/@TheJornadaUSDA">
                  <img class="social-media-icon" src="/files/logos/social-icon-youtube.svg" alt="YouTube icon">
                </a>
              </li>
            </ul>
          </div>
          <ul class="footer-logo-list">
            <li>
              <a href="https://www.ars.usda.gov">
                <img id="usda-footer-logo" class="footer-logo" src="/files/logos/usda-logo-color.svg" alt="U.S. Department of Agriculture logo">
              </a>
            </li>
            <li>
              <a href="https://www.nmsu.edu">
                <img class="footer-logo" src="/files/logos/NMSU_NoU-Crimson.png" alt="New Mexico State University logo">
              </a>
            </li>
          </ul>
          <div class="footer-legal-block">
            <span>&copy; 2022 Jornada Experimental Range<br>in association with</br>USDA Agricultural Research Service and New Mexico State University</span>
          </div>
        </div>
      </div>